$arrowSize: 44px;
$borderWidth: 0.1em;
$expandWidth: 1em;

.arrow {
  font-size: 24px;
  position: absolute;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  height: $expandWidth;
  line-height: $expandWidth;

  &_type_enter {
    @include icon();
    font-weight: normal;
  }

  &_type_expand {
    @include icon();
    color: $darkShade50;
    font-weight: normal;
    vertical-align: middle;
    -webkit-user-select: none;
    cursor: pointer;
    background-color: transparent;

    &:hover:not(.arrow_relative),
    &:focus:not(.arrow_relative) {
      &:before {
        box-sizing: border-box;
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 1.1em;
        height: 1.1em;
        border: dotted 0.1em $darkShade50;
        top: -0.05em;
        right: -0.05em;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &_relative {
    position: relative;
  }

  &_colored {
    @include textGradient(linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%));
  }

  &_bold {
    font-weight: bold;
  }
}
