mixin arrow({type='expand', isColored=false} = {})
  -const coloredModifier = isColored ? ' arrow_colored' : ''

  -let arrowContent, validType
  case type
    when 'expand'
      -arrowContent = 'expand_more'
      -validType = 'expand'
    when 'enter'
    default
      -arrowContent = 'arrow_forward'
      -validType = 'enter'

  span.arrow.js-arrow(class=`arrow_type_${validType}${coloredModifier}`) #{arrowContent}
