$arrowSize: 44px;
$borderWidth: 0.1em;
$expandWidth: 1em;

.arrow {
  @include icon();

  font-size: 24px;
  user-select: none;
  cursor: pointer;

  &_type_expand {
    color: $darkShade50;
    user-select: none;

    &:hover,
    &:focus {
      color: $darkShade75;
    }
  }

  &_colored {
    @include text-gradient(linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%));
  }
}
