mixin rating({maxRating = 5, rating = -1} = {})
  div.js-rating.rating(data-maxRating=max-rating data-rating=rating)
    each val in new Array(maxRating)
      label.js-rating__star.rating__star star
