section.ui-kit__headers-footers
  include ../../../pageElements/header/header
  -var logoPath = require('../../assets/images/logo_colored_withText.svg')
  +header(
    {logo: logoPath},
    [
      {text: "Home", bold: true},
      {text: "About Us"},
      {
        text: "Services",
        children: [
          {text: "service 1", children: [{text: "456", children: [{text: "1231"}]}]},
          {text: "service 2", children: [{text: "123"}]}
        ]
      },
    {text: "Careers"},
    {text: "News"},
    {text: "Documentation"},
    ]
  )(addClasses = "ui-kit__header-unauthorized")
  +header(
    {
      userLogin: "Cosmin Negoita",
      logo: logoPath,
      loginText: "Login",
      registerText: "register"
    },
    [
      {text: "Home", bold: true},
      {text: "About Us"},
      {
        text: "Services",
        children: [
          {text: "service 1", children: [{text: "456", children: [{text: "1231"}]}]},
          {text: "service 2", children: [{text: "123"}]}
        ]
      },
      {text: "Careers"},
      {text: "News"},
      {text: "Documentation"},
    ]
  )(addClasses = "ui-kit__header-authorized")

  include ../../../pageElements/footer/footer
  +largeFooter(
    {
      logo: logoPath,
      text: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
      copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved."
    },
    [
      {
        title: "navigation",
        links: [{text: "About Us", url: "#"}, {text: "News", url: "#"}, {
          text: "Support",
          url: "#"
        }, {text: "Products", url: "#"}]
      },
      {
        title: "about us",
        links: [{text: "Who we are", url: "#"}, {text: "Our team", url: "#"}, {
          text: "Careers",
          url: "#"
        }, {text: "Investors", url: "#"}]
      },
      {
        title: "support",
        links: [{text: "Documentation", url: "#"}, {
          text: "Community",
          url: "#"
        }, {text: "Get in Touch", url: "#"}]
      }
    ],
    {title: "Subscribe to our newsletter", text: "Receive our latest news and promotions in your inbox!", emailPlaceholder: "Your email address"}
  )(addClasses = "ui-kit__footer-large")
  +simpleFooter({
    logo: logoPath,
    text: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
  })(addClasses = "ui-kit__footer-simple")
