$borderWidth: 1px;
.registration-card {
  max-width: 380px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid $darkShade12;
  box-shadow: 0 0 25px $darkShade20;
  border-radius: 4px;
  padding: 40px - $borderWidth 30px 30px - $borderWidth 30px;

  .registration-card__title {
    align-self: stretch;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -0.6px;
  }

  .registration-card__user-name,
  .registration-card__user-surname,
  .registration-card__email,
  .registration-card__password {
    .input__title {
      .input__control-wrapper {
        margin-top: 0;
      }
    }
  }

  .registration-card__user-name {
    margin-bottom: 10px;
  }

  .registration-card__user-surname {
    margin-bottom: 10px;
  }

  .registration-card__gender-list {
    align-self: stretch;

    > .list__container {
      > .list__input {
        margin-top: 0;
      }
    }

    margin-bottom: 23px;
  }

  .registration-card__birthday {
    margin-bottom: 21px;
  }

  .registration-card__login-data-container {
    margin-bottom: 10px;

    .registration-card__login-data-title {
      margin: 0;
      margin-bottom: 6px;
    }

    .registration-card__email {
      margin-bottom: 10px;
    }

    .registration-card__password {
    }
  }

  .registration-card__send-offers {
    align-self: stretch;
    margin-bottom: 24px;
  }

  .registration-card__payment-button {
    margin-bottom: 30px;
  }

  .registration-card__action-container {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;

    .registration-card__have-account-link {
      margin-bottom: 2px;
      text-decoration: none;
      @include text(Montserrat, normal, 14px, 18px, black, normal);
    }

    .registration-card__login-button {
    }
  }
}

@media (max-width: 380px) {
  .registration-card {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;

    .registration-card__title {
      text-align: center;
    }

    .registration-card__gender-list {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    .registration-card__send-offers {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    .registration-card__action-container {
      justify-content: space-evenly;
    }
  }
}
