include ../../blocks/input/input
include ../../blocks/checkbox/checkbox
include ../../blocks/button/button
include ../../blocks/radio-button/radio-button
include ../../blocks/title/title

mixin registration-card(headingLevel=1, loginURL='/login.html')
  form.registration-card.js-registration-card
    div.registration-card__title
      +title({type: 'widget', text: 'Регистрация аккаунта', tag: `h${headingLevel}`})
    div.registration-card__user-name-input
      +input({type: 'text', placeholder: 'Имя'})
    div.registration-card__user-surname-input
      +input({type: 'text', placeholder: 'Фамилия'})
    div.registration-card__gender-list
      div.registration-card__male-radio-button
        +radio-button({text: 'Мужчина', group: 'registrationGender', isChecked: true})
      div.registration-card__female-radio-button
        +radio-button({text: 'Женщина', group: 'registrationGender'})
    div.registration-card__birthday-input
      +input({title: 'Дата рождения', type: 'mask', placeholder: 'ДД.ММ.ГГГГ'})
    div.registration-card__login-data-container
      div.registration-card__login-data-title
        +title({type: 'label', text: 'Данные для входа в сервис', tag: 'p'})
      div.registration-card__email-input
        +input({type: 'text', placeholder: 'Email'})
      div.registration-card__password-input
        +input({type: 'text', placeholder: 'Пароль'})
    div.registration-card__send-offers-button
      +checkbox({text: 'Получать спецпредложения', type: 'toggle'})
    div.registration-card__register-button
      +button({text: 'Зарегистрироваться', style: 'filled', decoration: 'enter-arrow'})
    div.registration-card__action-container
      a.registration-card__have-account-link(href=loginURL) Уже есть аккаунт на Toxin
      div.registration-card__login-button
        +button({text: 'Войти', style: 'bordered', type: 'submit'})
