$borderWidth: 1px;

.registration-card {
  @include box-sizing-border-box();

  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 380px;
  background: #FFFFFF;
  border: 1px solid $darkShade12;
  box-shadow: 0 0 25px $darkShade20;
  border-radius: 4px;
  padding: 40px - $borderWidth 30px - $borderWidth 29px - $borderWidth 30px - $borderWidth;

  @media (max-width: 380px) {
    min-width: unset;
    border-radius: 0;
    padding: 25px 10px;
    border-right: 0;
    border-left: 0;
  }

  &__title {
    margin-bottom: 21px;

    @media (max-width: 380px) {
      text-align: center;
    }
  }

  &__user-name-input {
    margin-bottom: 10px;
  }

  &__user-surname-input {
    margin-bottom: 10px;
  }

  &__gender-list {
    margin-bottom: 26px;
  }

  &__male-radio-button, &__female-radio-button {
    display: inline-block;
  }

  &__male-radio-button {
    margin-right: 20px;
  }

  &__birthday-input {
    margin-bottom: 21px;
  }

  &__login-data-container {
    margin-bottom: 10px;
  }

  &__login-data-title {
    margin-bottom: 6px;
  }

  &__email-input {
    margin-bottom: 10px;
  }

  &__send-offers-button {
    align-self: stretch;
    margin-bottom: 24px;

    @media (max-width: 380px) {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__register-button,
  &__login-button {
    display: flex;
    min-height: 44px;
  }

  &__register-button {
    margin-bottom: 30px;
  }

  &__action-container {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 380px) {
      justify-content: space-evenly;
    }
  }

  &__have-account-link {
    @include text(Montserrat, normal, 14px, 18px, black, normal);

    margin-bottom: 2px;
    text-decoration: none;
  }

  &__login-button {
    min-width: 99px;
  }
}
