@import "../variables";

.checkbox_rich {
  .checkbox__label_rich {
    max-width: none; //по логике наверное должна быть фиксированная, но в макете в разных местах разная, поэтому переносы ставятся руками
    color: $darkShade75;
    font-weight: bold;
    line-height: 20px;
    .checkbox__description_rich {
      display: inline-block; //чтобы применить паддинг ко всему блоку, а не первой строке
      padding-left: $checkboxButtonSize + $buttonRightMargin; //для избавления от переноса текста снизу чекбокса
      margin-top: 5px;
      color: $darkShade50;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      white-space: pre-line;
    }
  }
}
