@mixin text($font, $fontWeight, $size, $lineHeight, $color, $letterSpacing) {
  font-family: $font, sans-serif;
  font-weight: $fontWeight;
  font-style: normal;
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $color;
  text-decoration: none;
}

@mixin minSize($minWidth, $minHeight) {
  min-width: $minWidth;
  min-height: $minHeight;
}
