.footer {
  width: 100%;
  box-shadow: 0px 10px 20px $darkShade5;
  background-color: white;
  @include boxSizingBorderBox();

  &__content-section {
    padding: get-vw(100px) get-vw(140px) get-vw(99px);
  }

  .fab {
    font-size: 24px;
    text-decoration: none;
    @include textGradient(linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%));
  }

  &__social-media {
    @media (max-width: 450px) {
      min-width: 80px;
    }
  }

  &__icon {
    &:not(:first-child) {
      margin-left: get-vw(23px); //в макете 20, а по ПП - 23
    }
  }

  //region large
  &_type_large {
    &__title {
      margin: 0;
    }

    &__content-section {
      min-height: 372px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 1439px) {
        align-items: center;
      }
      @media (max-width: 1039px) {
        flex-direction: column;

        > :not(:first-child) {
          margin: 0;
          margin-top: 30px;
        }
      }
      @media (max-width: 700px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__links-section {
      display: grid;
      width: 100%;
      row-gap: 40px;
      grid-template-columns: repeat(auto-fit, minmax(get-vw(200px), 1fr));
      padding-top: 6px; //не придумал гибкого варианта, т.к. на макете они не строго по центру контейнера, но и не вровень с логотипом
      @media (max-width: 1439px) {
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-items: center;
        column-gap: get-vw(10px);
      }
    }

    &__links-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: get-vw(190px);

      @media (max-width: 1439px) {
        min-width: unset;
        width: fit-content;
      }
    }

    &__links-section-title {
      @include text_label-CTA();
      margin-bottom: 21.8px;
      letter-spacing: -0.15px;
    }

    &__link {
      @include text_regular();
      line-height: 17px;

      &:not(:last-child) {
        margin-bottom: 21px;
      }
    }

    &__subscribe-section {
      align-self: flex-start;
      width: min-content;
      display: flex;
      flex-direction: column;
      padding-top: 6px;

      @media (max-width: 1039px) {
        align-self: center;
      }
    }

    &__subscription-title {
      @include text_label-CTA();
      margin-bottom: 20px;
    }

    &__subscription-text {
      @include text_regular();
      line-height: 24px;
      margin-bottom: 18px;
    }

    &__logo-section {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      margin-right: get-vw(40px);

      @media (max-width: 1439px) {
        margin-right: 0;
      }
      @media (max-width: 1039px) {
        align-self: unset;
        align-items: center;
      }
    }

    &__logo {
      margin-bottom: 17px;
    }

    &__logo-text {
      @include text_regular();
      letter-spacing: -0.1px;
      max-width: 260px;
      line-height: 24px;
      @media (max-width: 1039px) {
        width: 70%;
        text-align: center;
        max-width: unset;
      }
      @media (max-width: 700px) {
        width: 90%;
      }
      @media (max-width: 450px) {
        width: 100%;
      }
    }

    &__copyright-bar {
      padding-right: get-vw(140px);
      padding-left: get-vw(140px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: solid 1px $darkShade25;
      height: 70px;

      @media (max-width: 700px) {
        padding-left: 0;
        padding-right: 0;
        justify-content: space-evenly;
      }
      @media (max-width: 450px) {
        justify-content: space-between;
      }
    }

    &__copyright-text {
      @include text_regular();
    }
  }
  //endregion

  //region simple
  &_type_simple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 110px 0;

    &__content-section {
      padding: 0;
    }

    &__logo-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      margin-bottom: 18px;
    }

    &__copyright-bar {
      padding: 0;
      border-top: none;
      height: fit-content;
    }

    &__logo-text {
      @include text_regular();
      text-align: center;
      max-width: 560px;
      line-height: 24px;
      margin-bottom: 26px;
    }
  }
  //endregion
}
