.footer {
  @include box-sizing-border-box();

  width: 100%;
  box-shadow: 0 10px 20px $darkShade5;
  background-color: white;

  &_type_simple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 110px 0;
  }

  &__content {
    padding: get-vw(100px) get-vw(140px) get-vw(99px);

    &_type_large {
      min-height: 372px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 1350px) {
        align-items: center;
        flex-direction: column;

        > :not(:first-child) {
          margin: 30px 0 0;
        }
      }
    }

    &_type_simple {
      padding: 0;
    }
  }

  &__logo {
    margin: 0;

    &_type_large {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      margin-right: get-vw(40px);

      @media (max-width: 1350px) {
        align-self: unset;
        align-items: center;
      }
    }

    &_type_simple {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo-image {
    &_type_large {
      margin-bottom: 17px;
    }

    &_type_simple {
      margin-bottom: 18px;
    }
  }

  &__logo-text {
    &_type_large {
      @include text_regular();

      letter-spacing: -0.1px;
      max-width: 260px;
      line-height: 24px;

      @media (max-width: 1350px) {
        width: 100%;
        text-align: center;
        max-width: unset;
      }
    }

    &_type_simple {
      @include text_regular();

      text-align: center;
      max-width: 560px;
      line-height: 24px;
      margin-bottom: 26px;
    }
  }

  &__links_type_large {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 6px;

    @media (max-width: 550px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__links-column_type_large {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.333%;
    min-width: max-content;

    @media (max-width: 1400px) {
      width: auto;
    }

    @media (max-width: 550px) {
      align-items: center;
    }

    &:not(:last-child) {
      @media (max-width: 550px) {
        margin-bottom: 25px;
      }
    }
  }

  &__links-column-title_type_large {
    margin-bottom: 21.8px;
    @media (max-width: 550px) {
      margin-bottom: 10px;
    }

    .title {
      letter-spacing: -0.15px;
    }
  }

  &__link_type_large {
    @include text_regular();

    line-height: 17px;

    &:not(:last-child) {
      margin-bottom: 21px;

      @media (max-width: 550px) {
        margin-bottom: 5px;
      }
    }
  }

  &__subscription_type_large {
    width: min-content;
    display: flex;
    flex-direction: column;
    padding-top: 6px;

    @media (max-width: 1400px) {
      margin-left: get-vw(40px);
    }

    @media (max-width: 550px) {
      align-items: center;
    }
  }

  &__subscription-title_type_large {
    @include text_label-CTA();

    margin-bottom: 20px;

    @media (max-width: 550px) {
      margin-bottom: 10px;
    }
  }

  &__subscription-text_type_large {
    @include text_regular();

    line-height: 24px;
    margin-bottom: 21px;

    @media (max-width: 550px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__copyright-bar {
    &_type_large {
      padding-right: get-vw(140px);
      padding-left: get-vw(140px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: solid 1px $darkShade25;
      height: 70px;

      @media (max-width: 700px) {
        padding-left: 0;
        padding-right: 0;
        justify-content: space-evenly;
      }

      @media (max-width: 450px) {
        height: unset;
        padding: 10px 30px;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &_type_simple {
      padding: 0;
      border-top: none;
      height: fit-content;
    }
  }

  &__copyright-text_type_large {
    @include text_regular();

    @media (max-width: 450px) {
      margin-bottom: 5px;
      text-align: center;
    }
  }

  &__social-media {
    display: flex;

    @media (max-width: 450px) {
      min-width: 80px;
    }

    .fab {
      @include text-gradient(linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%));
      font-size: 24px;
      text-decoration: none;
    }
  }

  &__icon {
    &:not(:first-child) {
      margin-left: get-vw(23px);
    }
  }
}
