.booking-card {
  max-width: 380px;
  height: fit-content;
  background: #FFFFFF;
  border: 1px solid $darkShade12;
  box-shadow: 0 0 25px $darkShade20;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49px 29px 29px 29px;
  @include clearfix();
  @include boxSizingBorderBox();

  &__header {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: baseline;
    margin-bottom: 21px;
  }

  &__room-info {
    display: flex;
    align-items: baseline;
  }

  &__number-text {
    @include text_widget-title();
    font-size: 14px;
    line-height: 17px;
    margin-right: 4px;
  }

  &__room-num {
    @include text_label-CTA();
    font-size: 22px;
    margin: 0 5px 0 0;
  }

  &__room-type {
    @include text_label-CTA();
    color: $purple;
  }

  &__daily-price {
    @include text_label-CTA();
    color: $darkShade50;
    font-size: 14px;
  }

  &__payment-period {
    @include text_regular();
    font-size: 12px;
  }

  &__range-picker {
    margin-bottom: 19px;
  }

  &__guests-dropdown {
    margin-bottom: 20px;
  }

  $iconSize: 20px;
  &__check-container {
    @include text_regular();
    margin-bottom: 30px;
    padding-left: 1px;

    .row {
      max-width: 320px;
      display: flex;
      align-items: flex-start;
      line-height: $iconSize - 2px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &:nth-last-child(2) {
        margin-bottom: 15px;
      }

      .col1 {
        width: 100%;
      }

      .col2, .col3 {
        flex-shrink: 0;
      }

      .col3 {
        width: 80px;
        text-align: right;
      }
    }
  }

  &__info-icon {
    width: $iconSize;
    height: $iconSize;
    display: block;
    line-height: $iconSize - 2px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $darkShade25;
    color: $darkShade25;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__summary {
    @include text_item-title();
    margin-bottom: 19px;
    padding-left: 1px;
    display: flex;
    align-self: stretch;
    align-items: baseline;
  }

  &__summary-text {
    flex-shrink: 0;
    margin-right: 5px;
  }

  &__summary-dash-underline {
    width: 100%;
    border-bottom: 1px dotted $darkShade25;
    margin-right: 5px;
  }

  &__summary-total-cost {
    flex-shrink: 0;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    letter-spacing: -0.7px;
  }
}

@media (max-width: 380px) {
  .booking-card {
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;
    width: 100%;
    min-width: 320px;

    &__header {
      justify-content: space-evenly;
    }

    &__check-container {
      padding-right: 10px;
      padding-left: 10px;

      .row {
        max-width: unset;
      }
    }

    &__summary {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}
