.booking-card {
  @include clearfix();
  @include box-sizing-border-box();

  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 380px;
  background: #FFFFFF;
  border: 1px solid $darkShade12;
  box-shadow: 0 0 25px $darkShade20;
  border-radius: 4px;
  padding: 40px 29px 29px 29px;

  @media (max-width: 380px) {
    padding: 30px 10px 20px;
    border-right: 0;
    border-left: 0;
    min-width: 320px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: baseline;
    margin-bottom: 22px;

    @media (max-width: 380px) {
      justify-content: space-evenly;
    }
  }

  &__main-heading {
    @include visually-hidden();
  }

  &__room-info {
    display: flex;
    align-items: baseline;
  }

  &__number-text {
    @include text_widget-title();

    font-size: 14px;
    line-height: 17px;
    margin-right: 4px;
  }

  &__room-num {
    @include text_widget-title();

    margin: 0 8px 0 0;
  }

  &__room-type {
    @include text_label-CTA();

    color: $purple;
  }

  &__daily-price {
    @include text_label-CTA();

    color: $darkShade50;
    font-size: 15px;
  }

  &__payment-period {
    @include text_regular();

    font-size: 12px;
  }

  &__range-picker {
    margin-bottom: 21px;
  }

  &__guests-dropdown {
    margin-bottom: 20px;
  }

  $iconSize: 20px;

  &__receipt {
    @include text_regular();

    display: grid;
    grid-template-columns: 67.29% $iconSize auto;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    margin-bottom: 30px;
    line-height: $iconSize - 2px;

    @media (max-width: 380px) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__staying-cost-calculation,
  &__staying-cost-sum,
  &__services,
  &__services-sum,
  &__additional-services-text,
  &__additional-services-sum {
    margin: 0;
  }

  &__staying-cost-sum,
  &__services-sum,
  &__additional-services-sum {
    text-align: right;
  }

  &__info-icon {
    height: fit-content;
    font-style: normal;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $darkShade25;
    color: $darkShade25;
    user-select: none;
  }

  &__summary {
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    align-self: stretch;

    @media (max-width: 380px) {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  &__summary-text,
  &__summary-total-cost {
    @include text_item-title();
  }

  &__summary-text {
    flex-shrink: 0;
    margin: 0 5px 0 0;
  }

  &__summary-dash-underline {
    width: 100%;
    border-bottom: 1px dotted $darkShade25;
    margin-right: 5px;
  }

  &__summary-total-cost {
    flex-shrink: 0;
    margin-left: 5px;
    line-height: 24px;
    font-size: 19px;
  }

  &__booking-button {
    display: flex;
    min-height: 44px;
  }
}
