.booking-card {
  max-width: 380px;
  height: fit-content;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid $darkShade12;
  box-shadow: 0 0 25px $darkShade20;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include clearfix();

  padding: 49px 29px 29px 29px;

  .booking-card__header {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: baseline;

    margin-bottom: 21px;

    .booking-card__room-info {
      display: flex;
      align-items: baseline;

      .booking-card__number-text {
        font-size: 14px;
        line-height: 17px;
        margin-right: 4px;
      }

      .booking-card__room-num {
        margin: 0;
        font-size: 22px;
        margin-right: 5px;
      }

      .booking-card__room-type {
        color: $purple;
      }
    }

    .booking-card__price-info {
      .booking-card__daily-price {
        color: $darkShade50;
        font-size: 14px;
      }

      .booking-card__payment-period {
        font-size: 12px;
      }
    }
  }

  .booking-card__range-picker {
    margin-bottom: 19px;
  }

  .booking-card__guests-dropdown {
    margin-bottom: 20px;
  }

  .booking-card__check-container {
    $iconSize: 20px;

    margin-bottom: 30px;
    padding-left: 1px;

    .row {
      max-width: 320px;
      display: flex;
      align-items: flex-start;
      line-height: $iconSize - 2px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &:nth-last-child(2) {
        margin-bottom: 15px;
      }

      .col1 {
        width: 100%;
      }

      .col2, .col3 {
        flex-shrink: 0;
      }

      .col3 {
        width: 80px;
        text-align: right;
      }
    }

    .booking-card__info-icon {
      width: $iconSize;
      height: $iconSize;
      line-height: $iconSize - 2px;
      vertical-align: middle;
      text-align: center;
      border-radius: 50%;
      border: 1px solid $darkShade25;
      color: $darkShade25;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .booking-card__staying-cost-row {
    }

    .booking-card__services-cost-row {
    }

    .booking-card__additional-services-row {
    }
  }

  .booking-card__summary {
    margin-bottom: 19px;
    padding-left: 1px;
    display: flex;
    align-self: stretch;
    align-items: baseline;

    .booking-card__summary-text {
      flex-shrink: 0;
      margin-right: 5px;
    }

    .booking-card__summary-dash-underline {
      width: 100%;
      border-bottom: 1px dotted $darkShade25;
      margin-right: 5px;
    }

    .booking-card__summary-total-cost {
      flex-shrink: 0;
      font-family: Montserrat, sans-serif;
      font-size: 18px;
      letter-spacing: -0.7px;
    }
  }

  .booking-card__booking-button {

  }
}

@media (max-width: 380px) {
  .booking-card {
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;
    width: 100%;
    min-width: 320px;

    .booking-card__header {
      justify-content: space-evenly;
    }

    .booking-card__check-container {
      padding-right: 10px;
      padding-left: 10px;

      .row {
        max-width: unset;
      }
    }

    .booking-card__summary {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}
