extends ../page-template
include ../../cards/registration-card/registration-card

block options
  -options.title = 'Регистрация - TOXIN'

block content
  main.registration
    h1.registration__main-heading Регистрация
    div.registration__registration-card
      +registration-card(2)
    img.registration__background-image(src=require('../../assets/images/registration-login-background.jpg') alt='фоновое изображение')
