@use '../../common/resets';

$backgroundImageHeight: 683px;

.registration {
  min-height: $backgroundImageHeight;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid grey;

  @media (max-width: 380px) {
    min-height: unset;
    height: unset;
  }

  &__registration-card {
    margin: 15px 0 15px 5px;

    @media (max-width: 380px) {
      margin-top: 0;
      width: 100%;
    }
  }

  &__background-image {
    $bottomOffset: 19px;

    object-fit: cover;
    bottom: -$bottomOffset;
    width: 100%;
    min-height: max(772px, calc(100% + #{$bottomOffset}));
    position: absolute;
    z-index: -1;
  }
}
