@use '../../common/resets';

$backgroundImageHeight: 683px;

.registration {
  min-height: $backgroundImageHeight;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid grey;
  background-image: url("../../assets/images/registration-login-background.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;

  @media (max-width: 380px) {
    min-height: unset;
    height: unset;
  }

  &__main-heading {
    @include visually-hidden();
  }

  &__registration-card {
    margin: 15px 0 15px 5px;

    @media (max-width: 380px) {
      margin: 0;
      width: 100%;
    }
  }
}
