extends ../page-template
include ../../cards/registration-card/registration-card

block options
  -options.title = 'Регистрация - TOXIN'

block content
  main.registration
    h1.registration__main-heading Регистрация
    div.registration__registration-card
      +registration-card(2)
