$backgroundImageHeight: 702px;

body {
  margin: 0;
}

.registration {
  height: $backgroundImageHeight;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (max-width: 380px) {
    min-height: unset;
    height: unset;
  }

  &__registration-card {
    margin-top: 4px;

    @media (max-width: 380px) {
      margin-top: 0;
      width: 100%;
    }
  }

  &__background-image {
    object-fit: cover;
    bottom: 0;
    width: get-vw(1440px);
    position: absolute;
    z-index: -1;
    min-height: $backgroundImageHeight;
  }
}
