extends ../page-template
include ../../cards/registration-card/registration-card

block options
  -options.title = 'Регистрация - TOXIN'

block content
  main.registration
    div.registration__registration-card
      +registration-card()
    img.registration__background-image(src=require('../../assets/images/registration-login-background.jpg') alt='background image')
