extends ../page-template

block options
  -options.keywords = 'search'
  -options.description = 'search room page'
  -options.title = 'Поиск номера'

block content
  include ../../blocks/input/input
  include ../../blocks/slider/slider
  include ../../blocks/checkbox-list/checkbox-list
  include ../../blocks/pagination/pagination
  include ../../blocks/date-picker/date-picker
  include ../../blocks/dropdown/dropdown
  main.search-room
    div.js-search-room__show-sidebar-button.search-room__show-sidebar-button filter_list
    nav.search-room__sidebar
      div.search-room__staying-dates
        +date-picker({title: 'Даты пребывания в отеле', width: 'medium', placeholder: 'ДД.ММ.ГГГГ', dates: ['19.08.2019', '23.08.2019']})
      div.search-room__guests
        +dropdown({
          title: 'Гости', dropdownType: 'customers', width: 'medium', placeholder: 'Сколько гостей',
          data: [{name: 'Взрослые', value: 3}, {name: 'Дети', value: 0}, {name: 'Младенцы', value: 1}]
        })
      div.search-room__daily-price-container
        div.search-room__daily-price-filter
          +slider({minValue: 0, maxValue: 16000, step: 100, title: 'Диапазон цены', isRange: true, initialValues: [5000, 10000]})
        p.search-room__daily-price-text Стоимость за сутки пребывания в номере
      -
        let checkButtons = [
          {text: 'Можно курить'},
          {text: 'Можно с питомцами', isChecked: true},
          {text: 'Можно приглашать гостей (до 10 человек)', isChecked: true},
        ]
      div.search-room__benefits-filter
        +checkbox-list({type: 'checkbox', title: 'Checkbox buttons', elements: checkButtons})
      -
        const richButtons = [
          {text: 'Широкий коридор', description: 'Ширина коридоров в номере \n не менее 91 см.'},
          {text: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист \n и проводит до номера'},
        ]
      div.search-room__availability-filter
        +checkbox-list({type: 'checkbox', title: 'Доступность', elements: richButtons})
      div.search-room__room-equipment-filter
        +dropdown({title: 'Удобства номера', width: 'medium', dropdownType: 'rooms', placeholder: 'Комплектация номера',
          data: [{name: 'Спальни', value: 2}, {name: 'Кровати', value: 2}, {name: 'Ванные комнаты', value: 0}]
        })
      -
        checkButtons = [
          {text: 'Завтрак'},
          {text: 'Письменный стол', isChecked: true},
          {text: 'Стул для кормления', isChecked: true},
          {text: 'Кроватка', isChecked: true},
          {text: 'Телевизор'},
          {text: 'Шампунь'},
          {text: 'Телевизор'},
          {text: 'Шампунь'},
        ]
      div.search-room__additional-features-filter
        +checkbox-list({
          type: 'checkbox',
          isExpandable: true,
          isNarrow: true,
          title: 'Дополнительные удобства',
          elements: checkButtons
        })
    section.search-room__rooms
      h2.search-room__rooms-title Номера, которые мы для вас подобрали
      div.js-search-room__rooms-pagination.search-room__rooms-pagination
        -
          const pageContent = [
            {
              room:
                {
                  costPerPeriod: 9990,
                  reviewsCount: 145,
                  roomNumber: '888',
                  roomType: 'Люкс',
                  rating: [5, 5]
                },
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-1.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-1.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-1.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-1.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 9900, reviewsCount: 65, roomNumber: '840', rating: [4, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-2.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-2.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-2.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-2.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 8500, reviewsCount: 35, roomNumber: '980', rating: [3, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-3.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-3.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-3.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-3.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 7300, reviewsCount: 19, roomNumber: '856', rating: [5, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-4.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-4.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-4.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-4.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 6000, reviewsCount: 44, roomNumber: '740', rating: [4, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-5.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-5.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-5.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-5.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 5800, reviewsCount: 56, roomNumber: '982', rating: [3, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-6.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-6.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-6.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-6.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 5500, reviewsCount: 45, roomNumber: '678', rating: [5, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-7.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-7.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-7.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-7.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 5300, reviewsCount: 39, roomNumber: '450', rating: [4, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-8.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-8.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-8.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-8.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 5000, reviewsCount: 77, roomNumber: '350', rating: [3, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-9.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-9.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-9.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-9.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 5000, reviewsCount: 25, roomNumber: '666', rating: [5, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-10.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-10.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-10.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-10.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 500, reviewsCount: 15, roomNumber: '444', rating: [3, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-11.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-11.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-11.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-11.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            },
            {
              room:
                {costPerPeriod: 5000, reviewsCount: 55, roomNumber: '352', rating: [3, 5]},
              carousel: {
                content: [
                  {tag: 'img', src: require('../../assets/images/room-mini-12.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-12.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-12.jpg')},
                  {tag: 'img', src: require('../../assets/images/room-mini-12.jpg')}
                ],
                carouselParams: {
                  'data-arrows': 'false',
                  'data-dots': 'true',
                },
              }
            }
          ]
        -const paginationItems = new Array(15).fill(pageContent).flat();

        +pagination({items: paginationItems})
