extends ../page-template

include ../../blocks/input/input
include ../../blocks/slider/slider
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/pagination/pagination
include ../../blocks/date-picker/date-picker
include ../../blocks/dropdown/dropdown
include ../../cards/room-preview-card/room-preview-card

block options
  -options.title = 'Поиск номера - TOXIN'

block content
  main.search-room
    h1.search-room__main-heading Поиск номера
    button.search-room__show-filter-section-button.js-search-room__show-filter-section-button(type='button') filter_list
    form.search-room__filter-section
      div.search-room__staying-dates
        +date-picker({
          name: 'staying_dates',
          title: 'Даты пребывания в отеле',
          width: 'medium',
          placeholder: 'ДД.ММ.ГГГГ',
          dates: ['19.08.2019', '23.08.2019']
        })
      div.search-room__guests
        +dropdown({
          name: 'guests',
          title: 'Гости',
          placeholder: 'Сколько гостей',
          unifiedCaption: 'гост|ь|я|ей',
          data: [
            { title: 'Взрослые', name: 'adults', value: 3 },
            { title: 'Дети', name: 'children' },
            {
              title: 'Младенцы',
              name: 'babies',
              isSeparate: true,
              declinations: 'младен|ец|ца|цев',
              value: 1
            }
          ]
        })
      div.search-room__daily-price-container
        div.search-room__daily-price-filter
          +slider({
            minValue: 0,
            maxValue: 16000,
            step: 100,
            title: 'Диапазон цены',
            isRange: true,
            initialValues: [5000, 10000]
          })
        p.search-room__daily-price-text Стоимость за сутки пребывания в номере
      -
        let checkButtons = [
          { name: 'house_rules', text: 'Можно курить', value: 'smoking_allowed' },
          {
            name: 'house_rules',
            text: 'Можно с питомцами',
            value: 'pets_allowed',
            isChecked: true
          },
          {
            name: 'house_rules',
            text: 'Можно приглашать гостей (до 10 человек)',
            value: 'guests_allowed',
            isChecked: true
          },
        ]
      div.search-room__house-rules-filter
        +checkbox-list({ type: 'checkbox', title: 'Правила дома', elements: checkButtons })
      -
        const richButtons = [{
            name: 'availability',
            text: 'Широкий коридор',
            value: 'wide_corridor',
            description: 'Ширина коридоров в номере \n не менее 91 см.'
          },
          {
            name: 'availability',
            text: 'Помощник для инвалидов',
            value: 'disability_aide',
            description: 'На 1 этаже вас встретит специалист \n и проводит до номера'
          },
        ]
      div.search-room__availability-filter
        +checkbox-list({ type: 'checkbox', title: 'Доступность', elements: richButtons })
      div.search-room__room-equipment-filter
        +dropdown({
          name: 'room_equipment',
          title: 'Удобства номера',
          dropdownType: 'rooms',
          placeholder: 'Комплектация номера',
          data: [
            {
              title: 'Спальни',
              name: 'bedrooms',
              declinations: 'спал|ьня|ьни|ен',
              isSeparate: true,
              value: 2
            },
            {
              title: 'Кровати',
              name: 'beds',
              declinations: 'кроват|ь|и|ей',
              isSeparate: true,
              value: 2
            },
            {
              title: 'Ванные комнаты',
              name: 'bathrooms',
              declinations: 'ванн|ая|ых|ых комнат|а|ы|',
              alwaysVisible: true,
              isSeparate: true,
              value: 0
            }
          ]
        })
      -
        checkButtons = [
          { name: 'additional_features', text: 'Завтрак', value: 'breakfast' },
          {
            name: 'additional_features',
            text: 'Письменный стол',
            value: 'writing_desk',
            isChecked: true
          },
          {
            name: 'additional_features',
            text: 'Стул для кормления',
            value: 'feeding_chair',
            isChecked: true
          },
          { name: 'additional_features', text: 'Кроватка', value: 'crib', isChecked: true },
          { name: 'additional_features', text: 'Телевизор', value: 'TV' },
          { name: 'additional_features', text: 'Шампунь', value: 'shampoo' },
        ]
      div.search-room__additional-features-filter
        +checkbox-list({
          type: 'checkbox',
          isExpandable: true,
          title: 'Дополнительные удобства',
          elements: checkButtons
        })
    section.search-room__rooms
      h2.search-room__rooms-title Номера, которые мы для вас подобрали
      div.search-room__rooms-pagination.js-search-room__rooms-pagination
        -
          const pageContent = [
            {
              link: 'room-details.html',
              room: {
                costPerPeriod: 9990,
                reviewsCount: 145,
                roomNumber: '888',
                roomType: 'Люкс',
                rating: [5, 5]
              },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-1.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-1.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-1.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-1.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 9900, reviewsCount: 65, roomNumber: '840', rating: [4, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-2.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-2.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-2.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-2.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 8500, reviewsCount: 35, roomNumber: '980', rating: [3, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-3.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-3.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-3.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-3.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 7300, reviewsCount: 19, roomNumber: '856', rating: [5, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-4.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-4.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-4.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-4.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 6000, reviewsCount: 44, roomNumber: '740', rating: [4, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-5.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-5.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-5.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-5.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 5800, reviewsCount: 56, roomNumber: '982', rating: [3, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-6.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-6.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-6.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-6.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 5500, reviewsCount: 45, roomNumber: '678', rating: [5, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-7.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-7.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-7.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-7.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 5300, reviewsCount: 39, roomNumber: '450', rating: [4, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-8.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-8.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-8.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-8.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 5000, reviewsCount: 77, roomNumber: '350', rating: [3, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-9.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-9.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-9.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-9.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 5000, reviewsCount: 25, roomNumber: '666', rating: [5, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-10.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-10.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-10.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-10.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 500, reviewsCount: 15, roomNumber: '444', rating: [3, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-11.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-11.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-11.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-11.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            },
            {
              link: '/mock-address/change-me',
              room: { costPerPeriod: 5000, reviewsCount: 55, roomNumber: '352', rating: [3, 5] },
              carousel: {
                images: [
                  { tag: 'img', src: require('../../assets/images/room-mini-12.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-12.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-12.jpg') },
                  { tag: 'img', src: require('../../assets/images/room-mini-12.jpg') }
                ],
                carouselParams: {
                  'data-arrows': 'true',
                  'data-dots': 'true',
                },
              }
            }
          ]
        -const paginationItems = new Array(15).fill(pageContent).flat();
        +pagination()
          each item, index in paginationItems
            div.pagination__item.js-pagination__item
              +room-preview-card(item)
