$roomCardWidth: 270px;

body {
  margin: 0;
}

.search-room {
  &__content {
    display: flex;
    padding: 29px get-vw(140px) 76px;
    border-bottom: solid 1px $darkShade25;

    @media (max-width: 1070px) {
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 810px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__show-sidebar-button {
    @include icon();
    user-select: none;
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $darkShade50;

    @media (max-width: 654px) {
      display: block;

      & + .search-room__sidebar {
        display: none;
      }

      &.search-room__show-sidebar-button_active {
        color: $darkShade100;
        border-radius: 50%;
        border: solid $darkShade100 1px;
        margin-bottom: 10px;

        + .search-room__sidebar {
          border-top: solid $darkShade75 1px;
          border-bottom: solid $darkShade10 1px;
          padding-top: 20px;
          padding-bottom: 20px;
          animation-duration: 2s;
          display: grid;
        }
      }
    }
  }

  &__sidebar {
    width: 266px;
    margin-right: get-vw(60px);
    @media (max-width: 1070px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
      display: grid;
      align-items: center;
      row-gap: 30px;
      column-gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    > * {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 1070px) {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__staying-dates {
    margin-bottom: 18px;
  }

  &__guests {
    margin-bottom: 32px;
  }

  &__price-per-day-slider-container {
    width: fit-content;
  }

  &__price-per-day-slider-filter {
    margin-bottom: 14px;
  }

  &__price-per-day-text {
    @include text_regular();
    font-size: 12px;
    margin: 0;
  }

  &__benefits-filter {
    margin-bottom: 34px;
  }

  &__availability-filter {
    margin-bottom: 28px;
  }

  &__rooms {
    width: 100%;
  }

  &__rooms-title {
    @include text_widget-title();
    margin-top: 0;
    margin-bottom: 22px;
    letter-spacing: -0.5px;

    @media (max-width: 1070px) {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__rooms-pagination {
    .pagination__content-container {
      display: grid;
      justify-content: space-between;
      row-gap: 18px;
      column-gap: 12px;
      grid-template-columns: repeat(auto-fit, minmax($roomCardWidth, 1fr));
      margin-bottom: 35px;

      @media (max-width: 810px) {
        row-gap: get-vw(10px);
      }

      .pagination__item {
        .room-preview-card {
          width: 100%;
        }
      }
    }

    .pagination__buttons-container {
      .paginationjs {
        margin-right: get-vw(15px); //
      }
    }
  }
}
