if login==="true"
	include ../../cards/login-card/login-card
	+loginCard()(addClasses = "registration-login__login-card")
	img.registration-login__login-background-image(
		src=require("../../assets/images/registration-login-background.jpg") alt="backgroundImage")
else
	include ../../cards/registration-card/registration-card
	+registrationCard()(addClasses = "registration-login__registration-card")
	img.registration-login__registration-background-image(
		src=require("../../assets/images/registration-login-background.jpg") alt="backgroundImage")
