-const containerClass = login ? 'registration-login__login-container' : 'registration-login__registration-container'

div(class=containerClass)
  if login
    include ../../cards/login-card/login-card
    div.registration-login__login-card
      +login-card()
  else
    include ../../cards/registration-card/registration-card
    div.registration-login__registration-card
      +registration-card()

  img.registration-login__background-image(src=require("../../assets/images/registration-login-background.jpg") alt="backgroundImage")
