$backgroundImageHeight: 685px;

body {
  margin: 0;
}

.registration-login {
  &__registration-container {
    height: 702px;
  }

  &__login-container {
    height: $backgroundImageHeight;
    min-height: 380px;
    max-height: $backgroundImageHeight;

    .registration-login__background-image {
      min-height: 380px;

      @media (max-width: 1400px) {
        object-position: 0;
      }
    }
  }

  &__registration-container,
  &__login-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 450px) {
      height: unset;
    }
  }

  &__login-card {
    margin-bottom: 1px;
  }

  &__registration-card {
    margin-top: 4px;
  }

  &__background-image {
    object-fit: cover;
    bottom: 0;
    width: get-vw(1440px);
    position: absolute;
    z-index: -1;
    min-height: $backgroundImageHeight;

    @media (max-width: 1300px) {
      height: 100%;
    }
  }
}
