@import './consts';
@import '../title/title';

$fontSize: 12px;
$maxSliderWidth: 266px;
$sliderTextMargin: 20px + ($sliderHandleSize - $sliderHorizontalHeight - $sliderBorderWidth);

.slider {
  @include box-sizing-border-box();

  max-width: $maxSliderWidth;

  &__plugin-container {
    max-width: $maxSliderWidth;
  }

  &__control {
    background-color: $inputBackgroundColor;
    border: $sliderBorderWidth solid $darkShade25;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    margin: 0 0 $sliderTextMargin 0;
  }

  &__value {
    @include text_regular();

    line-height: $fontSize;
    font-size: $fontSize;
    margin: 0;
  }
}
