$lineHeight: 15px;
$fontSize: 12px;
$sliderBorderWidth: 1px;
$sliderHandleBorderWidth: 2px;
$sliderHorizontalHeight: 6px;
$sliderHandleSize: 12px;

.slider {
  width: 266px + ($sliderHandleSize + $sliderHandleBorderWidth);
  padding-right: 14px;
  @include boxSizingBorderBox();
}

.slider__plugin-container {
  width: 266px;
}

.slider__control {
  background-color: $inputBackgroundColor;
  border: $sliderBorderWidth solid $darkShade25;
}

.slider .ui-corner-all {
  border-radius: 3px;
}

.slider .ui-slider-horizontal {
  height: $sliderHorizontalHeight;
}

.slider .ui-slider-range {
  background: linear-gradient(180deg, $green 0%, $greenGradientSecond 100%);
}

.slider .ui-slider-horizontal .ui-slider-handle {
  border-radius: 50%;
  background: linear-gradient(180deg, $green 0%, $greenGradientSecond 100%);
  width: $sliderHandleSize + $sliderHandleBorderWidth*2;
  height: $sliderHandleSize + $sliderHandleBorderWidth*2;
  border: $sliderHandleBorderWidth solid $inputBackgroundColor;
  top: $sliderHorizontalHeight - $sliderHandleSize;
  margin-left: -$sliderHandleSize/2;
}

.slider .ui-slider-handle.ui-state-focus {
  outline: none;
  background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
}

.slider .ui-slider-handle.ui-state-hover {
  background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
}

.slider .ui-slider-handle.ui-state-focus::before {
  @include text(Montserrat, normal, 10px, $labelCTAlineHeight, $darkShade100, normal);
  content: attr(sliderHandleValue);
  position: absolute;
  text-align: center;
  width: 40px;
  left: -20px+$sliderHandleSize/2;
  bottom: $sliderHandleSize;
}

$sliderTextMargin: 20px+
  ($sliderHandleSize - $sliderHorizontalHeight - $sliderBorderWidth);
.slider__text {
  display: flex;
  justify-content: space-between;
  margin: 0 0 $sliderTextMargin 0;
}
.slider__title, .slider__value {
  line-height: $fontSize;
  font-size: $fontSize;
  margin: 0;
}
.slider__title {

}
.slider__value {

}
