mixin slider(minValue, maxValue, step, title, addClasses, isRange)
	//link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
	if isRange
		div(class="slider slider_range " + addClasses)
			div(class="slider__text")
				p(class="slider__title text_type_label-CTA") #{title}
				p(class="slider__value text_type_regular") 5 000₽ - 10 000₽
			div(class="slider__control slider__control_range")
	else
		div(class="slider " + addClasses)
			div(class="slider__text")
				p(class="slider__title text_type_label-CTA") #{title}
				p(class="slider__value text_type_regular") 5 000₽ - 10 000₽
			div(class="slider__control")
