@import './consts.scss';

$sliderHandleBorderWidth: 2px;

.slider {
  .ui {
    &-corner-all {
      border-radius: 3px;
    }

    &-slider-horizontal {
      height: $sliderHorizontalHeight;
    }

    &-slider {
      $plugin: ".ui-slider";

      cursor: pointer;

      &-range {
        background: linear-gradient(180deg, $green 0%, $greenGradientSecond 100%);
      }

      &-horizontal #{$plugin}-range {
        top: -$sliderBorderWidth;
        height: $sliderHorizontalHeight;
      }

      &-horizontal #{$plugin}-handle {
        border-radius: 50%;
        background: linear-gradient(180deg, $green 0%, $greenGradientSecond 100%);
        width: $sliderHandleSize + $sliderHandleBorderWidth*2;
        height: $sliderHandleSize + $sliderHandleBorderWidth*2;
        border: $sliderHandleBorderWidth solid $inputBackgroundColor;
        top: $sliderHorizontalHeight - $sliderHandleSize;
        margin-left: -$sliderHandleSize/2;
        cursor: grab;
      }

      &-handle {
        &.ui-state-focus {
          outline: none;
          background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);

          &:before {
            content: attr(sliderHandleValue);
            position: absolute;
            text-align: center;
            left: $sliderHandleSize/2;
            transform: translateX(-50%);
            bottom: $sliderHandleSize;
          }
        }

        &.ui-state-hover {
          background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
        }

        &.ui-state-active {
          cursor: grabbing;
        }
      }
    }
  }
}
