.color-block {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;

    &[data-color='dark shade'] {
      background-color: $darkShade100;
    }

    &[data-color='shade'] {
      background-color: $darkShade75;
    }

    &[data-color='light shade'] {
      background-color: $darkShade50;
    }

    &[data-color='lighter shade'] {
      background-color: $darkShade25;
    }

    &[data-color='lightest shade'] {
      background-color: $darkShade5;
    }

    &[data-color='purple'] {
      background-color: $purple;
    }

    &[data-color='green'] {
      background-color: $green;
    }
  }

  &__description {
    @include text_widget-title();

    display: flex;
    flex-direction: column;
  }

  &__name, &__code {
    margin: 0;
    line-height: 29px;
    font-size: 19px;
  }

  &__code {
    font-weight: normal;
  }
}
