$spaceBetweenInputs: 20px;
$narrowInputWidth: 150px;

.two-calendar-range-picker {
  display: flex;
  width: $narrowInputWidth*2 + $spaceBetweenInputs;
  justify-content: space-between;
  @include boxSizingBorderBox();
}
