$buttonBorderWidth: 2px;
$buttonHeight: 44px;
$arrowSize: 24px;

.button {
  $block: &;

  @include box-sizing-border-box();

  cursor: pointer;
  display: inline-block;
  width: fit-content;
  min-width: 99px;
  text-decoration: none;

  &:not(&_type_text) {
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
    border-radius: 22px;
  }

  &_type_bordered {
    padding: $buttonBorderWidth;

    #{$block}__control {
      position: relative;
      min-height: $buttonHeight - 2*$buttonBorderWidth;
      border: none;
      background-color: $inputBackgroundColor;
      color: $purple;
    }
  }

  &_type_filled {
    #{$block}__control {
      background: transparent;
      border: none;
      color: $inputBackgroundColor;
    }

    #{$block}__decoration {
      color: $inputBackgroundColor;
    }
  }

  &_text-sized, &_type_text {
    min-width: unset;
    min-height: unset;
    height: fit-content;
    width: fit-content;
  }

  &_type_text &__control {
    border: none;
    min-height: unset;
    background-color: transparent;
    width: fit-content;
    line-height: 15px;
    color: $purple;
    cursor: pointer;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  &_text-sized {
    #{$block}__control {
      display: block;
      width: auto;
      height: auto;
      min-height: unset;
      line-height: normal;
    }

    &#{$block}_type_bordered #{$block}__control {
      padding: 9px - $buttonBorderWidth 20px - $buttonBorderWidth 10px - $buttonBorderWidth 20px - $buttonBorderWidth;
    }
  }

  &_size_wide {
    min-width: 320px;

    @media (max-width: 380px) {
      min-width: 300px;
    }
  }

  &_decorated {
    display: flex;
    align-items: center;
    position: relative;

    #{$block}__control {
      padding-right: $buttonHeight;
      padding-left: $buttonHeight;
    }
  }

  &__control {
    @include text_label-CTA();

    display: block;
    cursor: pointer;
    width: 100%;
    min-height: $buttonHeight;
    padding: 9px 20px 10px 20px;
    margin: 0;
    border-radius: 22px;

    &:focus {
      outline: none;
    }
  }

  &__decoration {
    display: block;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    padding: ($buttonHeight - $arrowSize)/2;
    right: 0;
  }

  &_hovered:not(&_type_text),
  &:not(&_type_text):hover {
    background: linear-gradient(180deg, rgba($purple, 0.5) 0%, rgba($purpleGradientSecond, 0.5) 100%);
  }

  &_hovered#{&}_type_text, &_type_text:hover {
    #{$block}__control, #{$block}__decoration {
      color: $darkShade50;
    }
  }
}
