$buttonBorderWidth: 2px;
$buttonHeight: 44px;
$arrowSize: 24px;

.button {
  @include boxSizingBorderBox();
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  min-width: 99px;
  height: $buttonHeight;
  text-decoration: none;

  &_type_bordered {
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
    border-radius: 22px;
    padding: $buttonBorderWidth;
  }

  &_text-sized, &_type_text {
    min-width: unset;
    min-height: unset;
    height: fit-content;
    width: fit-content;
  }

  &_size_wide {
    min-width: 320px;
  }

  &_decorated {
    display: flex;
    align-items: center;
    position: relative;
  }

  &_hovered:not(&_type_text),
  &:not(&_type_text):hover {
    opacity: 0.5;
  }

  &_hovered#{&}_type_text, &_type_text:hover {
    .button__control, .button__decoration {
      color: $darkShade50;
    }
  }

  // region control
  &__control {
    @include text_label-CTA();
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 22px;

    &:focus {
      outline: none;
    }

    &_type_filled {
      background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
      border: none;
      color: $inputBackgroundColor;
    }

    &_type_bordered {
      position: relative;
      border: none;
      background-color: $inputBackgroundColor;
      color: $purple;
    }

    &_type_text {
      border: none;
      background-color: transparent;
      width: fit-content;
      height: 15px;
      color: $purple;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &_decorated {
      padding-right: $buttonHeight;
      padding-left: $buttonHeight;
    }

    &_text-sized {
      display: block;
      width: auto;
      height: auto;
      line-height: normal;
      padding: 9px 20px 10px 20px;
    }

    &_text-sized#{&}_type_bordered {
      padding: 9px - $buttonBorderWidth 20px - $buttonBorderWidth 10px - $buttonBorderWidth 20px - $buttonBorderWidth;
    }
  }
  // endregion

  // region decoration
  &__decoration {
    display: block;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: $buttonHeight;
    height: $buttonHeight;
    padding: ($buttonHeight - $arrowSize)/2;
    right: 0;
    top: 0;

    &_type_filled {
      color: $inputBackgroundColor;
    }
  }
  // endregion
}
