mixin Button(text, addClasses, isTextSized=false)
	-let decorationText = ""
	-const decoration = attributes.decoration ? attributes.decoration.toLowerCase() : ""
	-const arrowDecorationCN = "button_decoration_enterArrow"
	case decoration
		when "enterarrow"
			-decorationText = "arrow_forward"
			-addClasses += ` ${arrowDecorationCN}`
	if isTextSized
		-addClasses += ` button__textSized`
	div(class="button " + addClasses)
		if addClasses.includes("bordered")
			div.button__border.button__border_type_bordered
		button(class="button__control text_type_label-CTA ") #{text}
		if addClasses.includes(arrowDecorationCN)
			div.button__decoration #{decorationText}
