@import "./variables";

.button {
  .button__control {
    &:focus {
      outline: none;
    }

    height: 44px;
    width: $buttonWidth;
    padding: 0;
    margin: 0;
    border-radius: 22px;
  }
}
