$buttonBorderWidth: 2px;
$buttonHeight: 44px;
$arrowSize: 24px;

.button {
  @include box-sizing-border-box();

  $block: &;

  cursor: pointer;
  width: fit-content;

  &__control {
    @include text_label-CTA();

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    text-align: center;
    overflow-wrap: anywhere;

    &:focus {
      outline: none;
    }
  }

  &:not(&_style_text) {
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
    border-radius: 22px;
  }

  &_style_bordered {
    padding: $buttonBorderWidth;

    #{$block}__control {
      border: none;
      background-color: $inputBackgroundColor;
      color: $purple;
      padding: 11px - $buttonBorderWidth 20px - $buttonBorderWidth 11px - $buttonBorderWidth 20px - $buttonBorderWidth;
    }
  }

  &_style_filled {
    #{$block}__control {
      background: transparent;
      border: none;
      color: $inputBackgroundColor;
      padding: 11px 20px 11px 20px;
    }

    #{$block}__decoration {
      color: $inputBackgroundColor;
    }
  }

  &_style_text {
    cursor: auto;

    #{$block}__control {
      border: none;
      background-color: transparent;
      line-height: 15px;
      color: $purple;
      cursor: pointer;
      padding: 0;

      :hover {
        color: $darkShade50;
      }
    }

    &#{$block}_hovered #{$block}__control {
      color: $darkShade50;
    }
  }

  &_decorated {
    #{$block}__control {
      padding-right: 0;
      padding-left: 40px;
    }

    #{$block}__text {
      flex-grow: 1;
    }

    #{$block}__decoration {
      display: flex;
      padding: 0 ($buttonHeight - $arrowSize)/2;
    }
  }

  &_hovered:not(&_style_text),
  &:not(&_style_text):hover {
    background: linear-gradient(180deg, rgba($purple, 0.5) 0%, rgba($purpleGradientSecond, 0.5) 100%);
  }

  &_stretched:not(&_style_text) {
    width: 100%;
  }
}
