@import "../variables";

.button_width_wide {
  width: $wideButtonWidth;
  .button__control {
    width: $wideButtonWidth;
  }
}

.button_width_wide.button_type_bordered {
  .button__border {
    width: $wideButtonWidth;
  }

  .button__control {
    width: $wideButtonWidth - $buttonBorderWidth*2;
  }
}
