@import "../variables";

.button_width_wide {
  width: 320px;
  .button__control {
    width: 320px;
  }
}

.button_width_wide.button_type_bordered {
  .button__control {
    &:before {
      width: 320px;
    }

    width: $wideButtonWidth - $buttonBorderWidth*2;
  }
}
