include ../../blocks/arrow/arrow
include ../../blocks/input/input

mixin datepicker(attrs = {})
  - var defaultAttrs = {title: "", type, width, placeholder, isInline: false, data: undefined}
  - attrs = Object.assign(defaultAttrs, attrs)

  - var inputWrapAttributes = {class: `datepicker-block__input-wrap ${attrs.isInline ? "datepicker-block_inline__input-wrap " : ""}`}
  - inputWrapAttributes["data-first-date"] = attrs.data ? attrs.data[0] : ""
  - inputWrapAttributes["data-second-date"] = attrs.data ? attrs.data[1] : ""

  div.datepicker-block
    div&attributes(inputWrapAttributes)
      +input({title: attrs.title, width: attrs.width, placeholder: attrs.placeholder, isExpandable: !attrs.isInline})
