.landingPage__roomContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -70px;
  width: 100%;
  height: get-vw(830px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: get-vw(70px) get-vw(134px) get-vw(18px) get-vw(140px);

  @media (max-width: 850px) {
    align-items: center;
    height: fit-content;
  }
  @media (max-width: 380px) {
    padding: 0;
  }

  .landingPage__findRoomCard {
    align-self: flex-start;
    @media (max-width: 850px) {
      align-self: unset;
    }
  }

  .roomContainer__slogan {
    font-size: 14px;
    line-height: 24px;
    max-width: 300px;
    text-align: right;
    align-self: flex-end;
    @media (max-width: 850px) {
      align-self: unset;
    }
  }
}
