mixin pagination({pageSize = 12, isContentVisible=true} = {})
  -const contentVisibleModifier = isContentVisible ? '' : 'pagination__content_invisible'

  div.pagination.js-pagination(data-page-size=pageSize)
    div.pagination__content.js-pagination__content(class=contentVisibleModifier)
      if block
        block
    div.pagination__buttons.js-pagination__buttons
