mixin pagination(data={})
  -var defaultData = {pageSize: 12}
  -data = Object.assign(defaultData, data);
  -var paginationClassName = "pagination"
  -var contentContainerClassName = "__content-container"
  -var buttonsContainerClassName = "__buttons-container"

  -var paginationAttrs = {class: paginationClassName + attributes.addClasses}
  -var contentAttrs = {class: paginationClassName + contentContainerClassName + " "}
  -var buttonsAttrs =	{class: paginationClassName + buttonsContainerClassName + " "}

  div&attributes(paginationAttrs)(data-page-size=data.pageSize)
    div&attributes(contentAttrs)
      block
    div&attributes(buttonsAttrs)
