mixin pagination(pageSize=12)
  -var paginationClassName = "pagination"
  -var contentContainerClassName = "pagination__content-container"
  -var buttonsContainerClassName = "pagination__buttons-container"
  -attributes.addClasses = attributes.addClasses ? ` ${attributes.addClasses} ` : "";

  -var paginationAttrs = {class: paginationClassName + attributes.addClasses}
  -var contentAttrs = {class: contentContainerClassName + " "}
  -var buttonsAttrs =	{class: buttonsContainerClassName + " "}

  div&attributes(paginationAttrs)(data-page-size=pageSize)
    div&attributes(contentAttrs)
      block
    div&attributes(buttonsAttrs)
