mixin pagination(roomCardsData=[])
	-var paginationClassName = "pagination"
	-var contentContainerClassName = "pagination__contentContainer"
	-var buttonsContainerClassName = "pagination__buttonsContainer"
	-attributes.addClasses = attributes.addClasses ? ` ${attributes.addClasses} ` : "";

	-var paginationAttrs = {class: paginationClassName + attributes.addClasses}
	-var contentAttrs = {class: contentContainerClassName + " "}
	-var buttonsAttrs =	{class: buttonsContainerClassName + " "}

	div&attributes(paginationAttrs)
		div&attributes(contentAttrs)
			each roomCardData in roomCardsData
				include ../../Cards/roomPreviewCard/roomPreviewCard
				+roomPreviewCard(roomCardData)
		div&attributes(buttonsAttrs)
