mixin pagination(pageSize=12)
	-var paginationClassName = "pagination"
	-var contentContainerClassName = "pagination__contentContainer"
	-var buttonsContainerClassName = "pagination__buttonsContainer"
	-attributes.addClasses = attributes.addClasses ? ` ${attributes.addClasses} ` : "";

	-var paginationAttrs = {class: paginationClassName + attributes.addClasses}
	-var contentAttrs = {class: contentContainerClassName + " "}
	-var buttonsAttrs =	{class: buttonsContainerClassName + " "}

	div&attributes(paginationAttrs)(data-pageSize=pageSize)
		div&attributes(contentAttrs)
			block
		div&attributes(buttonsAttrs)
