.pagination {
  &__content {
    $minItemWidth: 270px;

    display: grid;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax($minItemWidth, 1fr));
    margin-bottom: 39px;

    @media (max-width: 810px) {
      row-gap: get-vw(10px);
    }

    &_invisible {
      display: none;
    }
  }

  &__buttons {
    width: fit-content;
    margin: 0 auto;

    @media (max-width: 450px) {
      max-width: 320px;
    }
  }
}
