$pageButtonSize: 40px;

.pagination {
  @include box-sizing-border-box();

  &__content {
    text-align: center;

    &_invisible {
      display: none;
    }
  }

  &__buttons {
    width: fit-content;
    margin: 0 auto;

    @media (max-width: 450px) {
      max-width: 320px;
    }
  }

  &__pages-list {
    padding: 0;
    margin: 0;
  }

  .paginationjs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-prev,
    &-page,
    &-ellipsis,
    &-next {
      @include text(Montserrat, normal, 12px, $pageButtonSize, $darkShade50, 0);

      display: inline-block;
      user-select: none;
      border-radius: 50%;
      width: $pageButtonSize;
      text-align: center;

      @media (max-width: 450px) {
        position: relative;
        width: 30px;
        height: 30px;
        line-height: 30px;
      }

      > a {
        color: inherit;
        text-decoration: none;
      }

      &.active {
        color: white;
        font-weight: bold;
        background: linear-gradient($purple 0%, $purpleGradientSecond 100%);
      }

      &.disabled:not(.paginationjs-ellipsis) {
        display: none;
      }
    }

    &-prev,
    &-page,
    &-next {
      cursor: pointer;
    }

    &-prev,
    &-next {
      @include icon();

      color: white;
      font-size: 24px;
      background: linear-gradient($green 0%, $greenGradientSecond 100%);
    }

    &-nav {
      @include text_regular();

      line-height: unset;
      align-self: flex-start;
      margin: 11px auto 0 auto;
    }
  }
}
