include ../../cards/room-preview-card/room-preview-card
mixin pagination({pageSize = 12, items=[]} = {})
  nav.js-pagination.pagination(data-page-size=pageSize)
    div.js-pagination__content.pagination__content
      each item, index in items
        div.pagination__item
          +room-preview-card(item)
    div.js-pagination__buttons.pagination__buttons
