.pagination {
  @include box-sizing-border-box();

  &__content {
    &_invisible {
      display: none;
    }
  }

  &__buttons {
    width: fit-content;
    margin: 0 auto;

    @media (max-width: 450px) {
      max-width: 320px;
    }
  }

  &__pages-list {
    padding: 0;
    margin: 0;
  }
}
