@import "../../variables";

$arrowSize: 44px;

.button_decoration_enterArrow {
  display: flex;
  align-items: center;
  position: relative;

  &:not(.button_width_wide) {
    &.button_type_bordered > .button__control:before {
      width: $buttonWidth + $arrowSize + $buttonBorderWidth*2;
    }
    .button__control {
      width: $buttonWidth + $arrowSize;
    }
  }

  &.button_type_bordered > .button__decoration,
  &.button_type_text > .button__decoration {
    color: $purple;
  }

  &.button_type_filled > .button__decoration {
    color: $inputBackgroundColor;
  }

  .button__decoration {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include icon();
    text-align: center;
    position: absolute;
    width: $arrowSize;
    right: 0;
  }
}
