include ../../../Checkbox/Checkbox

mixin checkboxList(title, checkboxes=[], addClasses="")
	-var listClassName = "list_type_checkbox"
	-var titleClassName = "list__title_type_checkbox"
	-var classNames = [listClassName, titleClassName]

	-var listAttrs = {class: "list " + listClassName + " " + addClasses + " "}
	-var titleAttrs = {class: "list__title " + titleClassName + " text_type_label-CTA "}
	-var attrs = [listAttrs, titleAttrs]

	fieldset&attributes(listAttrs)
		legend&attributes(titleAttrs) #{title}
		each value, index in checkboxes
			+checkbox(value.text, "checkbox", {text: value.group}, "list__input_type_checkbox")
