.roomDetails__header {
}

.roomDetails__photos {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $darkShade50;
  @media (max-width: 1439px) {
    flex-wrap: wrap;
  }

  .roomDetails__mainPhoto {
    width: auto;
    height: auto;
    object-fit: cover;
    @media (max-width: 1439px) {
      width: 100%;
    }
  }

  .roomDetails__sidePhotos {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1439px) {
      width: 100%;
      flex-direction: row;
    }

    .roomDetails__upperSidePhoto {
      height: 50%;
      object-fit: cover;
      @media (max-width: 1439px) {
        width: 50%;
        height: auto;
      }
    }

    .roomDetails__lowerSidePhoto {
      height: 50%;
      object-fit: cover;
      @media (max-width: 1439px) {
        width: 50%;
        height: auto;
      }
    }
  }
}

$horizontalGap: 70px;
$verticalGap: 30px;
.roomDetails__content {
  padding: get-vw(70px) 0 get-vw(72px);
  border-bottom: 1px solid $darkShade25;
  display: flex;
  justify-content: center;
  @media (max-width: 1439px) {
    align-items: center;
  }
  @media (max-width: 1250px) {
    flex-wrap: wrap-reverse;
  }

  .roomDetails__InfoContainer {
    display: flex;
    flex-direction: column;
    margin-right: get-vw($horizontalGap);
    @media (max-width: 1250px) {
      margin-left: get-vw($horizontalGap);
    }
    @media (max-width: 850px) {
      margin-right: 5px;
      margin-left: 5px;
    }

    h2 {
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      width: fit-content;
    }

    .roomDetails__mainInfo {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: get-vw(33px); //PP
      @media (max-width: 1250px) {
        justify-content: space-between;
      }
      @media (max-width: 610px) {
        justify-content: space-evenly;
        margin-bottom: $verticalGap;
      }

      .roomDetails__featuresContainer {
        margin-right: get-vw(82px); //PP
        @media (max-width: 1250px) {
          margin-right: 0;
        }
        @media (max-width: 610px) {
          margin-bottom: $verticalGap;
        }

        .roomDetails__featuresTitle {
          letter-spacing: -0.6px;
        }

        .roomDetails__featuresContent {
        }
      }

      .roomDetails__expressionsContainer {
        .roomDetails__expressionsTitle {
          letter-spacing: -0.4px;
        }

        .roomDetails__donutChart {
          .donutChart__svgArc:hover {
            stroke-width: 10px;
          }

          @media (max-width: 610px) {
            align-items: center;
          }
        }
      }
    }

    .roomDetails__reviewsContainer {
      margin-bottom: get-vw(33px); //PP
      max-width: 710px;
      @media (max-width: 610px) {
        margin-bottom: $verticalGap;
      }

      .roomDetails__reviewsTitleContainer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .roomDetails__reviewsTitle {
          letter-spacing: -0.4px;
        }

        .roomDetails__reviewsCount {
          flex-shrink: 0;
        }
      }

      .roomDetails__reviewsContent {
        .roomDetails__comment {
          &:not(:last-child) {
            margin-bottom: 23px;
          }
        }
      }
    }

    .roomDetails__additionalInfo {
      display: flex;
      justify-content: space-between;

      @media (max-width: 850px) {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .roomDetails__rulesContainer {
        @media (max-width: 610px) {
          margin-bottom: $verticalGap;
        }

        .roomDetails__rulesTitle {
          margin-bottom: 17px;
          margin-left: 20px;
          @media (max-width: 610px) {
            margin-left: 0;
          }
        }

        .roomDetails__rulesList {
          .list__title {
            display: none;
          }
        }
      }

      .roomDetails__cancellationContainer {
        margin-right: 10px;
        min-width: 280px;
        max-width: 340px;
        @media (max-width: 550px) {
          max-width: 280px;
          margin-right: 0;
        }

        .roomDetails__cancellationTitle {
          margin-bottom: 17px;
        }

        .roomDetails__cancellationText {
          line-height: 24px;
        }
      }
    }
  }

  .roomDetails__bookingCard {
    @media (max-width: 1250px) {
      margin-bottom: $verticalGap*2;
    }
  }
}

.roomDetails__footer {
}
