$roomCardWidth: 270px;

.searchRoom__header {
}

.searchRoom__content {
  display: flex;
  padding: 30px get-vw(140px) 69px;
  border-bottom: solid 1px $darkShade25;

  @media (max-width: 1070px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 810px) {
    padding-right: 0;
    padding-left: 0;
  }

  .searchRoom__showSidebarButton {
    @include icon();
    user-select: none;
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $darkShade50;

    @media (max-width: 810px) {
      display: block;

      & + .searchRoom__sideBar {
        display: none;
      }

      &.searchRoom__showSidebarButton_active {
        color: $darkShade100;
        border-radius: 50%;
        border: solid $darkShade100 1px;
        margin-bottom: 10px;
      }

      &.searchRoom__showSidebarButton_active + .searchRoom__sideBar {
        border-top: solid $darkShade75 1px;
        border-bottom: solid $darkShade10 1px;
        padding-top: 20px;
        padding-bottom: 20px;
        animation-duration: 2s;
        display: grid;
      }
    }
  }

  .searchRoom__sideBar {
    width: 266px;
    margin-right: get-vw(60px);

    @media (max-width: 1070px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
      display: grid;
      align-items: center;
      row-gap: 30px;
      column-gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    > * {
      margin-bottom: 31px; //todo: PixelPerfect
      &:first-child {
        margin-bottom: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 1070px) {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }

    .searchRoom__pricePerDaySliderContainer {
      width: fit-content;

      .searchRoom__pricePerDaySliderFilter {
        margin-bottom: 9px;
      }

      .searchRoom__pricePerDayText {
        font-size: 12px;
        padding-left: 6px;
        margin: 0;
      }
    }
  }

  .searchRoom__rooms {
    width: 100%;

    .searchRoom__roomsTitle {
      margin-top: 0;
      margin-bottom: 20px;

      @media (max-width: 1070px) {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .pagination {
      .pagination__contentContainer {
        display: grid;
        justify-content: space-between;
        row-gap: 20px;
        column-gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax($roomCardWidth, 1fr));
        margin-bottom: 40px;

        @media (max-width: 810px) {
          row-gap: get-vw(10px);
        }

        .pagination__item {
          width: 100%;
        }
      }
    }
  }
}

.searchRoom__footer {

}
