html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="icon" href=require('../../assets/images/icon-colored.png'))
		title TOXIN
	body
		//- HEADER
		include ../../pageElements/header/header
		-const logoPath = require('../../assets/images/logo_colored_withText.svg')
		+header(
			{
				loginText: "Войти",
				registerText: "Зарегистрироваться",
				logo: logoPath
			},
			[
				{text: "О нас"},
				{
					text: "Услуги",
					children: [
						{text: "Услуга 1", children: [{text: "456", children: [{text: "1231"}]}]},
						{text: "Услуга 2", children: [{text: "123"}]}
					]
				},
				{text: "Вакансии"},
				{text: "Новости"},
				{
					text: "Соглашения",
					children: [
						{text: "Соглашение 1", children: [{text: "456", children: [{text: "1231"}]}]},
						{text: "Соглашение 2", children: [{text: "123"}]}
					]
				},
			]
		)(addClasses="searchRoom__header")
		//- CONTENT
		div.searchRoom__content
			div.searchRoom__showSidebarButton filter_list
			div.searchRoom__sideBar
				include ../../blocks/Input/Input
				+Input("Даты пребывания в отеле", "datepicker medium", "ДД.ММ.ГГГГ", "searchRoom__stayingDates", "", ["19.08.2019", "23.08.2019"])
				+Input(
					"Гости", "dropdown customers medium", "Сколько гостей", "searchRoom__guests", "",
					[{name: "Взрослые", value: 3}, {name: "Дети", value: 0}, {name: "Младенцы", value: 1}]
				)
				div.searchRoom__pricePerDaySliderContainer
					include ../../blocks/Slider/Slider
					+slider(100, 15000, 100, "Диапазон цены", "searchRoom__pricePerDaySliderFilter ", true)
					p.searchRoom__pricePerDayText.text_type_regular Стоимость за сутки пребывания в номере
				include ../../blocks/List/list
				-let checkButtons = []
				-checkButtons.push({text: "Можно курить"});
				-checkButtons.push({text: "Можно с питомцами", isChecked: true});
				-checkButtons.push({text: "Можно приглашать гостей (до 10 человек)", isChecked: true});
				+list("checkbox", "Checkbox buttons", checkButtons, "searchRoom__benefitsFilter")
				-const richButtons = []
				-richButtons.push({text: "Широкий коридор", description: "Ширина коридоров в номере \n не менее 91 см."});
				-richButtons.push({text: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист и проводит до номера"});
				+list("rich", "Доступность", richButtons, "searchRoom__availabilityFilter")
				+Input(
					"Удобства номера", "dropdown medium rooms", "Комплектация номера", "searchRoom__roomEquipmentFilter", "",
					[{name: "Спальни", value: 2}, {name: "Кровати", value: 2}, {name: "Ванные комнаты", value: 0}])
				-checkButtons = []
				-checkButtons.push({text: "Завтрак"})
				-checkButtons.push({text: "Письменный стол", isChecked: true})
				-checkButtons.push({text: "Стул для кормления", isChecked: true})
				-checkButtons.push({text: "Кроватка", isChecked: true})
				-checkButtons.push({text: "Телевизор"})
				-checkButtons.push({text: "Шампунь"})
				-checkButtons.push({text: "Телевизор"})
				-checkButtons.push({text: "Шампунь"})
				+list("checkbox expandable", "Дополнительные удобства", checkButtons, "searchRoom__additionalFeaturesFilter")
			div.searchRoom__rooms
				h2.searchRoom__roomsTitle.text_type_widgetTitle Номера, которые мы для вас подобрали
				include ../../blocks/Pagination/Pagination
				include ../../Cards/roomPreviewCard/roomPreviewCard
				+pagination(12)(addClasses="searchRoom__roomsPagination")
					-let i = 0;
					while i < 15
						+roomPreviewCard(
							{
								costPerPeriod: 9990,
								reviewsCount: 145,
								roomNumber: "888",
								roomType: "Люкс",
								rating: [5, 5]
							},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-1.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-1.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-1.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-1.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 9900, reviewsCount: 65, roomNumber: "840", rating: [4, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-2.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-2.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-2.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-2.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 8500, reviewsCount: 35, roomNumber: "980", rating: [3, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-3.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-3.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-3.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-3.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 7300, reviewsCount: 19, roomNumber: "856", rating: [5, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-4.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-4.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-4.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-4.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 6000, reviewsCount: 44, roomNumber: "740", rating: [4, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-5.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-5.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-5.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-5.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 5800, reviewsCount: 56, roomNumber: "982", rating: [3, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-6.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-6.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-6.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-6.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 5500, reviewsCount: 45, roomNumber: "678", rating: [5, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-7.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-7.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-7.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-7.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 5300, reviewsCount: 39, roomNumber: "450", rating: [4, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-8.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-8.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-8.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-8.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 5000, reviewsCount: 77, roomNumber: "350", rating: [3, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-9.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-9.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-9.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-9.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 5000, reviewsCount: 25, roomNumber: "666", rating: [5, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-10.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-10.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-10.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-10.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 500, reviewsCount: 15, roomNumber: "444", rating: [3, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-11.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-11.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-11.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-11.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						+roomPreviewCard(
							{costPerPeriod: 5000, reviewsCount: 55, roomNumber: "352", rating: [3, 5]},
							{
								content: [
									{tag: "img", src: require("../../assets/images/room-mini-12.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-12.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-12.jpg")},
									{tag: "img", src: require("../../assets/images/room-mini-12.jpg")},
								],
								carouselParams: {
									"data-arrows": "true",
									"data-dots": "true",
								},
							}
						)(addClasses="pagination__item")
						-i++


		//- FOOTER
		include ../../pageElements/footer/footer
		+largeFooter(
			{
				logo: logoPath,
				text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
				copyright: "Copyright © 2018 Toxin отель. Все права зачищены."
			},
			[
				{
					title: "Навигация",
					links:
						[
							{text: "О нас", url: "#"},
							{text: "Новости", url: "#"},
							{text: "Служба поддержки", url: "#"},
							{text: "Услуги", url: "#"}
						]
				},
				{
					title: "О нас",
					links:
						[
							{text: "О сервисе", url: "#"},
							{text: "Наша команда", url: "#"},
							{text: "Вакансии", url: "#"},
							{text: "Инвесторы", url: "#"}
						]
				},
				{
					title: "Служба поддержки",
					links:
						[
							{text: "Соглашения", url: "#"},
							{text: "Сообщества", url: "#"},
							{text: "Связь с нами", url: "#"}
						]
				}
			],
			{title: "Подписка", text: "Получайте специальные предложения и новости сервиса"}
		)(addClasses="searchRoom__footer")
