.donut-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: fit-content;
  height: fit-content;
  @include boxSizingBorderBox();

  &__image-container {
    width: 120px;
    height: fit-content;
    margin-right: 30px;
    position: relative;
  }

  &__svg {
    width: 100%;
    height: auto;
    overflow: visible;
  }

  &__active-data {
    $activeDataHeight: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: $activeDataHeight;
    top: calc(50% - (#{$activeDataHeight} + 9px) / 2);
    width: 70%;
    left: 15%;
  }

  &__active-value {
    font-size: 24px;
    line-height: 30px;
  }

  &__value-text {
    font-size: 14px;
    line-height: 15px;
  }


  &__legend {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__legend-item {
    display: flex;
    align-items: baseline;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 7px;
    }

    &:before {
      content: "";
      display: block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: var(--background);
      margin-right: 5px;
    }
  }
}
