mixin Input(type, placeholder, addClasses, mask)
	case type
		when "mask"
			input(class="input input_masked " + addClasses type="text" placeholder=placeholder pattern=mask)
		when "datepicker"
			input(class="input input_type_datepicker " + addClasses type="select" placeholder=placeholder)
		default
			input(class="input " + addClasses type="text" placeholder=placeholder)
