$inputHeight: 44px;
$borderWidth: 1px;
$expandHeight: 18px;
$arrowSize: 24px;
$inputWidth: 320px;
$narrowInputWidth: 150px;
$preMedInputWidth: 260px;
$mediumInputWidth: 266px;
$inputBorderRadius: 4px;
$inputTopMargin: 3px;
$fontSize: 14px;
$lineHeight: 15px;
$paddingTop: 12px - $borderWidth;
$paddingRight: 15px - $borderWidth;
$paddingBottom: 14px - $borderWidth;
$paddingLeft: 15px - $borderWidth;

$lineHeight: ($inputHeight - 2*$borderWidth - $paddingTop - $paddingBottom);

.input {
  height: fit-content;
  width: fit-content;
  @include boxSizingBorderBox();

  &__title {
    @include text_label-CTA();
    display: block;
    position: relative;
    line-height: $lineHeight;
  }

  &__control-wrapper {
    display: inline-block;
    margin-top: $inputTopMargin;
    position: relative;
  }

  &__control {
    border-radius: $inputBorderRadius;
    width: $inputWidth;
    height: $inputHeight;
    border: $borderWidth solid $darkShade25;
    background: $inputBackgroundColor;
    padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
    @include text(Montserrat, normal, $fontSize, $lineHeight, $darkShade25, -0.18px); //в фигме написано, что межбуквенный интервал нулевой, но при сравнении в PixelPerfect похоже получилось -0.18px
    margin: 0 0 0 0;
    text-overflow: ellipsis;

    &::placeholder {
      @include text(inherit, inherit, inherit, inherit, $darkShade75, inherit);
    }

    &_focused {
      color: $darkShade75;
      border-color: $darkShade50;
      outline: 0;
    }

    &_with-subscription, &_expandable {
      padding-right: $inputHeight;
    }

    // region type
    &_type_masked:valid:hover,
    &_type_masked:focus {
      color: $darkShade75;
    }

    &_type_text:focus,
    &_type_text:hover {
      color: $darkShade75;
    }
    // endregion

    // region width
    &_width_narrow {
      width: $narrowInputWidth;
    }

    &_width_premedium {
      width: $preMedInputWidth;
    }

    &_width_medium {
      width: $mediumInputWidth;
    }
    // endregion

  &__control:focus,
  &__control:hover {
    color: $darkShade75;
    border-color: $darkShade50;
    outline: 0;

    &::placeholder {
      @include text(inherit, inherit, inherit, inherit, $darkShade75, inherit);
    }
  }
}

  &__arrow {
    &_with-subscription,
    &_expandable {
      position: absolute;
      top: 0;
      right: 0;
      height: $inputHeight;
      width: $inputHeight;
      padding: ($inputHeight - $arrowSize)/2;
    }

    &_with-subscription {
      width: $inputHeight;
    }
  }
}
