mixin Input(title, types, placeholder, addClasses, mask)
	- var blockClassName = "input"
	- var titleClassName = "input__title"
	- var controlClassName = "input__control"
	- var blockAttributes = {class: "input " + addClasses + " "}
	- var titleAttributes = {class: "text_type_label-CTA input__title "}
	- var controlAttributes = {}
	- controlAttributes.placeholder = placeholder
	- controlAttributes.class = controlClassName + " "

	if types.includes("datepicker")
		- blockAttributes.class += blockClassName + "_type_datepicker "
		- titleAttributes.class += titleClassName +  "_type_datepicker "
		- controlAttributes.class += controlClassName + "_type_datepicker "

		- controlAttributes.type = "select"
		- controlAttributes.readonly = true;
	if types.includes("text")
		- blockAttributes.class += blockClassName + "_type_text "
		- titleAttributes.class += titleClassName +  "_type_text "
		- controlAttributes.class += controlClassName + "_type_text "

		- controlAttributes.type = "text"

	if types.includes("mask")
		- blockAttributes.class += blockClassName + "_masked "
		- titleAttributes.class += titleClassName +  "_masked "
		- controlAttributes.class += controlClassName + "_masked "

	if types.includes("dropdown")
		- blockAttributes.class += blockClassName + "_dropdown "
		- titleAttributes.class += titleClassName +  "_dropdown "
		- controlAttributes.class += controlClassName + "_dropdown "

	div&attributes(blockAttributes)
		label&attributes(titleAttributes) #{title}
			br
			input&attributes(controlAttributes)
