$inputHeight: 44px;
$fontSize: 14px;
$borderWidth: 1px;

$paddingTop: 12px - $borderWidth;
$paddingRight: 15px - $borderWidth;
$paddingBottom: 14px - $borderWidth;
$paddingLeft: 15px - $borderWidth;

$lineHeight: ($inputHeight - 2*$borderWidth - $paddingTop - $paddingBottom);

.input {
  border-radius: 4px;
  width: 320px;
  height: $inputHeight;
  border: $borderWidth solid $darkShade25;
  background: $inputBackgroundColor;
  padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
  @include text(Montserrat, normal, $fontSize, $lineHeight, $darkShade25, -0.18px); //в фигме написано, что межбуквенный интервал нулевой, но при сравнении в PixelPerfect похоже получилось -0.18px
  margin: 0;
}

.input:focus, .input:hover {
  color: #1F2041;
  outline: 0;
}
