mixin Input(title, type, placeholder, addClasses, mask)
	div(class="input")
		label(class="text_type_label-CTA input__title ") #{title}
			br
			- var attributes = {}
			- attributes.placeholder = placeholder
			- attributes.class = "input__control "
			case type
				when "datepicker"
					- attributes.class += "input__control_type_datepicker "
					- attributes.type = "select"
					- attributes.readonly = true;
				default
					- attributes.class += "input__control_type_text "
					- attributes.type = "text"
			if mask
				- attributes.class += "input__control_masked "
			input&attributes(attributes)
