$inputHeight: 44px;
$borderWidth: 1px;
$lineHeight: 15px;
$paddingTop: 12px - $borderWidth;
$paddingRight: 15px - $borderWidth;
$paddingBottom: 14px - $borderWidth;
$paddingLeft: 15px - $borderWidth;
$lineHeight: ($inputHeight - 2*$borderWidth - $paddingTop - $paddingBottom);

.input {
  $block: &;

  width: fit-content;

  &_with-dropdown-list {
    #{$block}__control {
      padding-right: 80px;
    }

    &#{$block}_active {
      #{$block}__control {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &_active &__control {
    color: $darkShade75;
    border-color: $darkShade50;
    outline: 0;
  }

  &_with-subscription &__control {
    padding-right: $inputHeight;
  }

  &_expandable &__control {
    color: $darkShade75;
    cursor: pointer;

    &::placeholder {
      color: $darkShade75;
    }
  }

  &__title {
    margin: 0 0 7px 0;
    overflow-wrap: anywhere;
  }

  &__control-wrapper {
    position: relative;
  }

  &__control {
    @include text(Montserrat, normal, 14px, $lineHeight, $darkShade75, -0.18px);

    border-radius: 4px;
    width: 100%;
    border: $borderWidth solid $darkShade25;
    background: $inputBackgroundColor;
    padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
    margin: 0;
    text-overflow: ellipsis;

    &::placeholder {
      @include text(inherit, inherit, inherit, inherit, $darkShade25, inherit);
    }

    &:focus,
    &:hover {
      color: $darkShade75;
      border-color: $darkShade50;
      outline: 0;
    }
  }

  &__arrow {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    margin-right: 10px;
  }

  &_stretched {
    width: 100%;
  }

  &_invisible {
    #{$block}__control {
      display: none;
    }
  }
}
