mixin Input(title, types, placeholder, addClasses, mask)
	- var blockClassName = "input"
	- var titleClassName = "input__title"
	- var controlClassName = "input__control"
	- var wrapperClassName = "input__controlWrapper"
	- var classNames = ["input", "input__title", "input__control", "input__controlWrapper"]

	- var blockAttributes = {class: "input " + addClasses + " "}
	- var titleAttributes = {class: "text_type_label-CTA input__title "}
	- var controlAttributes = {class: controlClassName + " ", placeholder: placeholder}
	- var wrapperAttributes = {class: wrapperClassName + " "}
	- var attributes = [blockAttributes, titleAttributes, controlAttributes, wrapperAttributes]

	if types.includes("datepicker")
		each value, index in attributes
			- value.class += classNames[index] + "_type_datepicker "
		- controlAttributes.type = "select"
		- controlAttributes.readonly = true;

	if types.includes("text")
		each value, index in attributes
			- value.class += classNames[index] + "_type_text "
		- controlAttributes.type = "text"

	if types.includes("mask")
		- type = "_masked "
		each value, index in attributes
			- value.class += classNames[index] + "_masked "

	if types.includes("dropdown")
		each value, index in attributes
			- value.class += classNames[index] + "_decoration_expandArrow "
	else if types.includes("subscription")
		each value, index in attributes
			- value.class += classNames[index] + "_decoration_enterArrow "

	div&attributes(blockAttributes)
		label&attributes(titleAttributes) #{title}
			br
			div&attributes(wrapperAttributes)
				input&attributes(controlAttributes)
