$inputHeight: 44px;
$borderWidth: 1px;
$lineHeight: 15px;
$paddingTop: 12px - $borderWidth;
$paddingRight: 15px - $borderWidth;
$paddingBottom: 14px - $borderWidth;
$paddingLeft: 15px - $borderWidth;
$lineHeight: ($inputHeight - 2*$borderWidth - $paddingTop - $paddingBottom);

.input {
  $block: &;

  @include box-sizing-border-box();

  display: block;
  height: fit-content;
  width: fit-content;
  min-width: 320px;

  @media (max-width: 380px) {
    min-width: 300px;
  }

  &_with-dropdown-list {
    #{$block}__control {
      padding-right: 80px;
    }

    &#{$block}_focused {
      #{$block}__control {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &_focused &__control {
    color: $darkShade75;
    border-color: $darkShade50;
    outline: 0;
  }

  &_with-subscription &__control {
    padding-right: $inputHeight;
  }

  &_expandable &__control {
    color: $darkShade75;
    cursor: pointer;

    &::placeholder {
      color: $darkShade75;
    }
  }

  &_width {
    &_narrow {
      min-width: 150px;

      @media (max-width: 380px) {
        min-width: 140px;
      }
    }

    &_almost-medium {
      min-width: 260px;
    }

    &_medium {
      min-width: 266px;
    }
  }

  &__title {
    margin: 0 0 6px 0;
    width: fit-content;
    display: flex;
    align-items: center;
  }

  &__control-wrapper {
    display: inline-block;
    position: relative;
    max-width: 320px;
    width: 100%;
  }

  &__control {
    @include text(Montserrat, normal, 14px, $lineHeight, $darkShade75, -0.18px);

    border-radius: 4px;
    width: 100%;
    border: $borderWidth solid $darkShade25;
    background: $inputBackgroundColor;
    padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
    margin: 0;
    text-overflow: ellipsis;

    &::placeholder {
      @include text(inherit, inherit, inherit, inherit, $darkShade25, inherit);
    }

    &:focus,
    &:hover {
      color: $darkShade75;
      border-color: $darkShade50;
      outline: 0;
    }
  }

  &__arrow {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    margin-right: 10px;
  }
}
