@import "styleVariables";

$paddingTop: 12px - $borderWidth;
$paddingRight: 15px - $borderWidth;
$paddingBottom: 14px - $borderWidth;
$paddingLeft: 15px - $borderWidth;

$lineHeight: ($inputHeight - 2*$borderWidth - $paddingTop - $paddingBottom);

.input__title {
  border-bottom: 5px solid transparent; //чтобы не прерывался хавер между заголовком и элементом
  position: relative;
  line-height: $lineHeight;
}

.input__controlWrapper {
  display: inline-block;
}

.input__control {
  border-radius: $inputBorderRadius;
  width: $inputWidth;
  height: $inputHeight;
  border: $borderWidth solid $darkShade25;
  background: $inputBackgroundColor;
  padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
  @include text(Montserrat, normal, $fontSize, $lineHeight, $darkShade25, -0.18px); //в фигме написано, что межбуквенный интервал нулевой, но при сравнении в PixelPerfect похоже получилось -0.18px
  margin: $inputTopMargin 0 0 0;
}

.input__control:focus,
.input__control:hover,
.input__title_decoration_expandArrow img:hover + .input__control {
  color: $darkShade75;
  border-color: $darkShade50;
  outline: 0;
}

.input__control::placeholder {
  @include text(inherit, inherit, inherit, inherit, $darkShade25, inherit);
}

.input__control:focus::placeholder, .input__control:hover::placeholder {
  @include text(inherit, inherit, inherit, inherit, $darkShade25, inherit);
}
