//- title - заголовок
//- types - типы инпута: (datepicker, dropdown, text, mask, subscription)
//- 	размеры: (medium, premedium, narrow),
//- 	модификаторы дропдауна
//-			unified - вывод одним словом (сочетается с rooms & customers),
//- 		rooms - комнаты и кровати
//- 		customers - гости и младенцы
//- 		opened - постоянно открыт
//- 		pure - без кнопок управления
//- 		unaccepted - изначально данные не приняты
//- placeholder - плейсхолдер в инпуте
//- addClasses - дополнительные классы, применяемые на все элементы
//- mask - маска для текстового инпута с маской
//- additional - значения (даты для календаря/текст для текстового инпута/набор значений для дропдауна)
//- range - диапазон выбора значений спиннерами у дропдауна
mixin input(data={})
  - var defaultData = {title, type, width, dropdownType, placeholder, range: [0, 5],
  -   isUnified: false, isPure: false, isInline: false, isOpened: false, isUnaccepted: false, isFocused: false, data: undefined, withSubscription: false}
  - data = Object.assign(defaultData, data)

  - var blockClassName = "input"
  - var titleClassName = "__title"
  - var controlWrapperCN = "__control-wrapper"
  - var controlClassName = "__control"
  - var dropdownClassName = "__dropdown-list-wrapper"
  - var classNames = [blockClassName, titleClassName, controlClassName, dropdownClassName, controlWrapperCN]

  - var blockAttributes = {class: blockClassName + " "}
  - var titleAttributes = {class: blockClassName + titleClassName + " text_type_label-CTA "}
  - var dropdownAttributes = {class: blockClassName + dropdownClassName + " "}
  - var controlWrapperAttrs = {class: blockClassName + controlWrapperCN + " "}
  - var controlAttributes = {class: blockClassName + controlClassName + " ", placeholder: data.placeholder}
  - var attributes = {blockAttributes, titleAttributes, controlAttributes, dropdownAttributes, controlWrapperAttrs}


  each value, index in Object.values(attributes)
    //-ширина
    if data.width === "narrow"
      - value.class += index === 0 ? blockClassName + "_width_narrow " : blockClassName + "_width_narrow" + classNames[index] + " "
    else if data.width === "premedium"
      - value.class += index === 0 ? blockClassName + "_width_premedium " : blockClassName + "_width_premedium" + classNames[index] + " "
    else if data.width === "medium"
      - value.class += index === 0 ? blockClassName + "_width_medium " : blockClassName + "_width_medium" + classNames[index] + " "
    //-если раскрывающийся - добавляем декорацию-стрелочку вниз
    if data.type === "dropdown" || data.type === "datepicker"
      include _decoration/_expand-arrow/input_decoration_expand-arrow
      - value.class += index === 0 ? blockClassName + "_decoration_expand-arrow " : blockClassName + "_decoration_expand-arrow" + classNames[index] + " "
    //-если подписка, то декорация-стрелочка вправо
    else if data.withSubscription
      include _decoration/_enter-arrow/input_decoration_enter-arrow
      - value.class += index === 0 ? blockClassName + "_decoration_enter-arrow " : blockClassName + "_decoration_enter-arrow" + classNames[index] + " "
    //-фокус
    if data.isFocused
      - value.class += index === 0 ? blockClassName + "_focused" : blockClassName + "_focused" + classNames[index] + " "

  //-календарь
  if data.type === "datepicker"
    include ./_type/_datepicker/input_type_datepicker
    +addDatepicker(attributes, data)
  //-дропдаун
  else if data.type === "dropdown"
    include _type/_dropdown/__list/input_type_dropdown__list
    +addDropdown(attributes, data)
  //-Просто текст
  else if data.type === "text"
    include ./_type/_text/input_type_text
    +addTextInput(attributes, classNames, data)
  //-Текст с маской
  else if data.type === "mask"
    include _type/_masked/input_type_masked
    +addMaskedInput(attributes, data)
