$inputHeight: 44px;
$inputWidth: 320px;
$narrowInputWidth: 150px;
$preMedInputWidth: 260px;
$mediumInputWidth: 266px;
$borderWidth: 1px;
$inputBorderRadius: 4px;
$inputTopMargin: 5px - $borderWidth;

$fontSize: 14px;
$lineHeight: 15px;
