@import "../../style-variables";

.input_decoration_enter-arrow {
  .input__title {
    .input__control-wrapper_decoration_enter-arrow {
      .input__control_decoration_enter-arrow {
        padding-right: $inputHeight;
      }
      .input__enter-arrow {
        @include icon();
        @include textGradient(linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%));
        display: block;
        width: $inputHeight;
        height: $inputHeight;
        line-height: $inputHeight;
        vertical-align: middle;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        user-select: none;
      }
    }
  }
}
