@import "../../style-variables";

$expandHeight: 18px;
$expandWidth: 24px;

$expandVerticalMargin: ($inputHeight - $expandHeight)/2 - $borderWidth;
$expandHorizontalMargin: $expandVerticalMargin - ($expandWidth - $expandHeight)/2;

.input__control_decoration_expand-arrow {
  padding-right: $inputHeight;
}

.input__arrow_decoration_expand-arrow {
  @include icon();
  line-height: $inputHeight - $borderWidth*2;
  vertical-align: middle;
  color: $darkShade50;
  font-size: 24px;
  font-weight: normal;
  position: absolute;
  width: $expandWidth;
  height: $inputHeight - $borderWidth*2;
  top: $borderWidth;
  right: $borderWidth;
  margin-right: $expandHorizontalMargin;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: transparent;

  &:hover,
  &:focus {
    border-radius: 50%;
    line-height: $expandWidth + 2px;
    width: $expandWidth + 2px;
    height: $expandWidth + 2px;
    margin-top: $expandVerticalMargin - 2px - ($expandWidth - $expandHeight)/2;
    margin-right: $expandHorizontalMargin - 1px;
    border: dotted 1px $darkShade50;
  }

  &:focus {
    outline: none;
  }
}

