include ./__star/RateButton__star

mixin rateButton(addClasses="")
	-var rateButtonClassName = "rateButton"
	-var classNames = [rateButtonClassName, starClassName]

	-var rateButtonAttrs = {class: rateButtonClassName + " " + addClasses + " "}

	div&attributes(rateButtonAttrs)
		- var i = 1
		while i <= 5
			+star(i)
			- i++
