include ./__star/RateButton__star

mixin rateButton(data={maxRating: 5})
	div(
		class=`rateButton ${attributes.addClasses ? attributes.addClasses : ""}`
		data-maxRating=data.maxRating
	)
		- var i = 1
		while i <= data.maxRating
			+star(i)
			- i++
