include ../../blocks/title/title
include ../page-head

doctype html
html(lang='ru')
  +page-head()
  body
    main.index
      h1.index__heading Ссылки на страницы
      section.index__ui
        div.index__title
          +title({ type: 'widget', text: 'UI', tag: 'h2' })
        a.index__page-link(href='ui-kit.html') UI-Kit
      section.index__pages
        div.index__title
          +title({ type: 'widget', text: 'Site pages', tag: 'h2' })
        a.index__page-link(href='landing.html') Landing page
        a.index__page-link(href='registration.html') Registration
        a.index__page-link(href='login.html') Login
        a.index__page-link(href='search-room.html') Room search
        a.index__page-link(href='room-details.html') Room details
