@import "../../blocks/title/title";

.index {
  $block: &;

  &__heading {
    @include visually-hidden();
  }

  &__page-link {
    @include text_regular();

    text-decoration: none;
    margin-top: 5px;
    display: block;
    width: fit-content;

    &:first-of-type {
      margin-top: 10px;
    }
  }

  &__ui {
    margin-bottom: 20px;
  }
}
