@import "../../blocks/title/title";

.index {
  $block: &;

  &__page-link {
    @include text_regular();

    margin-top: 5px;
    width: fit-content;

    &:first-of-type {
      margin-top: 10px;
    }
  }

  &__ui {
    margin-bottom: 20px;

    #{$block}__page-link {
      display: block;
    }
  }

  &__pages {
    display: flex;
    flex-direction: column;
  }
}
