@import "../../variables";

$radioSelectionPadding: 4px;

.checkbox_type_radio {
  &__label {
    &:hover,
    &.ui-checkboxradio-checked {
      color: $darkShade75;
    }

    &:hover .checkbox_type_radio__button,
    &.ui-checkboxradio-checked .checkbox_type_radio__button {
      border-color: $purple;
    }

    &.ui-checkboxradio-checked .checkbox_type_radio__button {
      $radioSelectionSize: $checkboxButtonSize - $radioSelectionPadding*2;

      &::after {
        content: "";
        display: block;
        width: $radioSelectionSize;
        height: $radioSelectionSize;
        left: $radioSelectionPadding - $checkboxButtonBorderWidth;
        top: $radioSelectionPadding - $checkboxButtonBorderWidth;
        border-radius: 50%;
        background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
        position: relative;
      }
    }
  }

  &__button {
    border-radius: 50%;
    border-color: $darkShade25;
    background-color: #ffffff;
  }
}
