//-
  types: checkbox/пусто - чекбокс, toggle - переключатель,
  additional - структура с дополнительными параметрами (description, text)
mixin checkbox(data={})
  -var defaultData = {isChecked: false, text, type, isRich: false, additional};
  -data = Object.assign({}, defaultData, data);

  -var checkboxClassName = "checkbox"
  -var labelClassName = "__label"
  -var textClassName = "__text"
  -var inputClassName = "__hidden-button"
  -var descriptionClassName = "__description"
    -var classNames = [checkboxClassName, labelClassName, inputClassName, descriptionClassName, textClassName]

  -var checkboxAttrs = {class: checkboxClassName + " "}
  -var labelAttrs = {class: checkboxClassName + labelClassName + " "}
  -var inputAttrs = {class: checkboxClassName + inputClassName + " "}
  -var descriptionAttrs = {class: checkboxClassName + descriptionClassName + " "}
  -var textAttrs = {class: checkboxClassName + textClassName + " "}
    -var attrs = [checkboxAttrs, labelAttrs, inputAttrs, descriptionAttrs, textAttrs]

  if data.type
    if data.type.includes("radio")
      each value, index in attrs
        if index === 0
          - value.class += classNames[index] + "_type_radio "
        else
          - value.class += checkboxClassName + "_type_radio" + classNames[index] + " "
      - inputAttrs.type = "radio"
      if data.additional && data.additional.group
        - inputAttrs.name = data.additional.group
    else if data.type.includes("toggle")
      each value, index in attrs
        if index === 0
          - value.class += classNames[index] + "_type_toggle "
        else
          - value.class += checkboxClassName + "_type_toggle" + classNames[index] + " "
      - inputAttrs.type = "checkbox"
      if data.isChecked
        - labelAttrs.class += checkboxClassName + labelClassName + "_toggled "
    else if data.type.includes("like")
      each value, index in attrs
        if index === 0
          - value.class += classNames[index] + "_type_like "
        else
          - value.class += checkboxClassName + "_type_like" + classNames[index] + " "
      - inputAttrs.type = "checkbox"
      - labelAttrs["data-likes-count"] = data.text
    else
      each value, index in attrs
        if index === 0
          - value.class += classNames[index] + "_type_default "
        else
          - value.class += checkboxClassName + "_type_default" + classNames[index] + " "
      - inputAttrs.type = "checkbox"

    if data.isRich
      each value, index in attrs
        if index === 0
          - value.class += classNames[index] + "_rich "
        else
          - value.class += checkboxClassName + "_rich" + classNames[index] + " "
      if data.additional && data.additional.description
        - var description = data.additional.description
  else
    each value, index in attrs
      if index === 0
        - value.class += classNames[index] + "_type_default "
      else
        - value.class += checkboxClassName + "_type_default" + classNames[index] + " "
    - inputAttrs.type = "checkbox"

  -inputAttrs["data-isChecked"] = `${data.isChecked}`
  div&attributes(checkboxAttrs)
    label&attributes(labelAttrs)
      p&attributes(textAttrs) #{data.text}
      input&attributes(inputAttrs)
      if data.isRich
        p&attributes(descriptionAttrs) #{description}
