$checkboxButtonSize: 20px;
$checkboxButtonBorderWidth: 1px;
$buttonRightMargin: 10px;
$toggleCircleXOffset: 7.9%;
$toggleCircleYOffset: 16.67%;
$toggleCircleWidth: 31.58%;

@mixin saturate-toggle-button() {
  border-color: $purple;
  animation-name: saturate;

  &:after {
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }
}

@keyframes desaturate {
  from {
    border-color: $purple;
    filter: grayscale(0%) brightness(100%);
  }

  to {
    filter: grayscale(100%) brightness(120%);
    border-color: $purple;
  }
}

@keyframes saturate {
  from {
    filter: grayscale(100%) brightness(120%);
    border-color: $purple;
  }

  to {
    filter: grayscale(0%) brightness(100%);
    border-color: $purple;
  }
}

@keyframes toggleMoveRight {
  from {
    left: $toggleCircleXOffset;
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }

  to {
    left: 100% - $toggleCircleWidth - $toggleCircleXOffset;
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }
}

@keyframes toggleMoveLeft {
  from {
    left: 100% - $toggleCircleWidth - $toggleCircleXOffset;
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }

  to {
    left: $toggleCircleXOffset;
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }
}

.checkbox {
  @include box-sizing-border-box();

  width: fit-content;
  display: inline-block;
  user-select: none;
  cursor: pointer;

  &_type_default:hover &__button:not(:checked) {
    border-color: $purple;
    animation: saturate 0.4s;
  }

  &_type_toggle:hover &__button {
    @include saturate-toggle-button();

    animation-duration: 0.4s;
  }

  &_rich {
    max-width: 320px;
  }

  &__button {
    appearance: none;
    animation: desaturate 0.4s;
    cursor: pointer;
    outline: none;
    height: $checkboxButtonSize;
    margin: 0 $buttonRightMargin 0 0;
    padding: 0;
    vertical-align: top;

    &_type_default {
      $emPixel: 0.0715em;
      font-size: 14px;
      height: 1em + 6*$emPixel;
      width: 1em + 6*$emPixel;
      padding: 2*$emPixel;
      border: $emPixel solid $darkShade25;
      border-radius: 4*$emPixel;

      &:checked {
        animation-name: saturate;
        border-color: $purple;
        position: relative;

        &:after {
          @include icon();
          @include text-gradient(linear-gradient($purple 22%, $purpleGradientSecond 78%));

          content: 'checked';
          display: block;
          height: 1em;
          width: 1em;
          font-weight: bolder;
          position: absolute;
          top: 2*$emPixel;
          left: 2*$emPixel;
        }
      }
    }

    &_type_toggle {
      min-width: 40px;
      border-radius: 10px;
      border: $checkboxButtonBorderWidth solid $darkShade25;

      &:after {
        content: "";
        display: block;
        position: relative;
        left: $toggleCircleXOffset;
        top: $toggleCircleYOffset;
        width: $toggleCircleWidth;
        height: 66.7%;
        border-radius: 50%;
        background-color: $darkShade25;
        animation-name: toggleMoveLeft;
        animation-duration: 0.4s;
      }

      &:checked {
        @include saturate-toggle-button();

        animation-duration: 1s;

        &:after {
          left: 100% - $toggleCircleWidth - $toggleCircleXOffset;
          animation-name: toggleMoveRight;
          animation-duration: 0.4s;
        }
      }
    }
  }

  &__text {
    @include text_regular();

    line-height: 18px;
    margin: 0;
    display: inline-block;
    max-width: 23ch;
    vertical-align: top;

    &_type_default {
      color: $darkShade50;
    }

    &_type_toggle {
      color: $darkShade75;
    }

    &_rich {
      color: $darkShade75;
      font-weight: bold;
    }
  }

  &__description {
    @include text_regular();

    display: inline-block;
    padding-left: $checkboxButtonSize + $buttonRightMargin;
    margin: 5px 0 0 0;
    color: $darkShade50;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    white-space: pre-line;
  }
}
