//
  types: checkbox/пусто - чекбокс, toggle - переключатель,
  additional - структура с дополнительными параметрами (description, text)
mixin checkbox(text, types, additional, addClasses="", isChecked=false)
  -var checkboxClassName = "checkbox"
  -var labelClassName = "checkbox__label"
  -var textClassName = "checkbox__text"
  -var inputClassName = "checkbox__hiddenButton"
  -var descriptionClassName = "checkbox__description"
    -var classNames = [checkboxClassName, labelClassName, inputClassName, descriptionClassName, textClassName]


  -var checkboxAttrs = {class: checkboxClassName + " " + addClasses + " "}
  -var labelAttrs = {class: labelClassName + " text_type_regular "}
  -var inputAttrs = {class: inputClassName + " "}
  -var descriptionAttrs = {class: descriptionClassName + " "}
  -var textAttrs = {class: textClassName + " "}
    -var attrs = [checkboxAttrs, labelAttrs, inputAttrs, descriptionAttrs, textAttrs]


  if types
    if types.includes("radio")
      each value, index in attrs
        - value.class += classNames[index] + "_type_radio "
      - inputAttrs.type = "radio"
      if additional && additional.group
        - inputAttrs.name = additional.group
    else if types.includes("toggle")
      each value, index in attrs
        - value.class += classNames[index] + "_type_toggle "
      - inputAttrs.type = "checkbox"
      if types.includes("toggled")
        - labelAttrs.class += labelClassName + "_toggled "
    else if types.includes("like")
      each value, index in attrs
        - value.class += classNames[index] + "_type_like "
      - inputAttrs.type = "checkbox"
      - labelAttrs["data-likes-count"] = isChecked ? Number.parseInt(text) - 1 : text
    else
      each value, index in attrs
        - value.class += classNames[index] + "_type_default "
      - inputAttrs.type = "checkbox"

    if types.includes("rich")
      each value, index in attrs
        - value.class += classNames[index] + "_rich "
      if additional && additional.description
        - var description = additional.description
  else
    each value, index in attrs
      - value.class += classNames[index] + "_type_default "
    - inputAttrs.type = "checkbox"

  -inputAttrs["data-isChecked"] = `${isChecked}`
  div&attributes(checkboxAttrs)
    label&attributes(labelAttrs)
      span&attributes(textAttrs) #{text}
      input&attributes(inputAttrs)
      if types.includes("rich")
        span&attributes(descriptionAttrs) #{description}
