.features-list {
  max-width: 280px;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:not(:first-child) {
      border-top: 1px solid $darkShade10;
      padding-top: 20px;
      width: 280px;
    }
  }

  &__item-image {
    @include icon();
    @include text-gradient(linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%));

    user-select: none;
    font-size: 48px;
    margin-right: 10px;
  }

  &__item-title,
  &__item-text {
    @include text_regular();
  }

  &__item-title {
    margin: 0 0 5px;
    font-weight: bold;
  }
}
