extends ../page-template
include ../../cards/login-card/login-card

block options
  -options.title = 'Вход - TOXIN'

block content
  main.login
    h1.login__main-heading Вход
    div.login__login-card
      +login-card(2)
