@use '../../common/resets';

$backgroundImageHeight: 702px;

.login {
  min-height: $backgroundImageHeight;
  border-bottom: solid 1px #F4F4F6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (max-width: 500px) {
    min-height: 380px;
    height: unset;
  }

  @media (max-width: 380px) {
    min-height: unset;
    height: unset;
  }

  &__login-card {
    @media (max-width: 380px) {
      margin-bottom: 0;
      width: 100%;
    }
  }

  &__background-image {
    object-fit: cover;
    bottom: 0;
    width: get-vw(1440px);
    position: absolute;
    z-index: -1;
    min-height: $backgroundImageHeight;

    @media (max-width: 1400px) {
      bottom: 0;
    }
  }
}
