@use '../../shared/resets';

$backgroundImageHeight: 702px;

.login {
  min-height: $backgroundImageHeight;
  border-bottom: solid 1px #F4F4F6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url(../../assets/images/registration-login-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (max-width: 500px) {
    min-height: 380px;
    height: unset;
  }

  @media (max-width: 380px) {
    min-height: unset;
    height: unset;
  }

  &__login-card {
    @media (max-width: 380px) {
      margin-bottom: 0;
      width: 100%;
    }
  }

  &__background-image {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
  }
}
