extends ../page-template
include ../../cards/login-card/login-card

block options
  -options.keywords = 'login registration'
  -options.description = 'registration-login page'

block content
  main.login
    div.login__login-card
      +login-card()
