.room-preview-card {
  height: fit-content;
  width: 270px;
  background: white;
  box-shadow: 0px 10px 20px $darkShade5;
  border-radius: 4px;
  overflow: hidden;
  @include boxSizingBorderBox();

  @media (max-width: 551px) {
    border-radius: 0;
  }

  &__photos {
    margin-bottom: 20px;
    width: 100%;
  }

  &__text-content {
    padding: 0px 18px 20px 20px;
    cursor: pointer;
  }

  &__room-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 9px;

    :not(:last-child) {
      margin-right: 4px;
    }
  }

  &__room-description {
    display: flex;
    align-items: baseline;
  }

  &__room-num-symbol {
    color: black;
    font-size: 14px;
    line-height: 14px;
  }

  &__room-number {
    color: black;
    font-size: 17px;
    line-height: 24px;
  }

  &__room-type {
    color: $purple;
  }

  &__cost-info {
    display: flex;
    align-items: baseline;
  }

  &__cost-per-period {
    color: $darkShade50;
    font-size: 14px;
    font-weight: bold;
  }

  &__period {
    font-size: 12px;
    line-height: 12px;
    color: $darkShade50;
  }

  &__division-line {
    border-color: $darkShade5;
    margin-bottom: 8px;
  }

  &__rate-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__rating {
    .rateButton__star {
      cursor: pointer;
    }
  }

  &__reviews-info {
    :not(:last-child) {
      margin-right: 4px;
    }
  }

  &__reviews-count {
    color: $darkShade50;
    font-weight: bold;
  }

  &__reviews-text {
    color: $darkShade50;
  }
}
