.date-picker {
  &__title {
    @include text_item-title();
  }

  &__confirm-button {
    @include text_label-CTA();

    border: none;
    background-color: transparent;
    width: fit-content;
    line-height: 15px;
    color: $purple;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: $darkShade50;
    }

    &:focus {
      outline: none;
    }
  }
}
