@import url(../../../node_modules/air-datepicker/dist/css/datepicker.css);

$datepickerBorderWidth: 1px;
$datepickerContentHeight: 240px;
$cellTextColor: $darkShade50;
$datepickerContentSidesPadding: 20px;
$actualPointsGradient: linear-gradient(
    $gradientDefaultAngle,
    $purple 0%,
    $purpleGradientSecond 100%
);

$actualRangeGradient: linear-gradient(
    $gradientDefaultAngle,
    rgba($purple, 0.25) 0%,
    rgba($purpleGradientSecond, 0.25) 100%
);

$otherPointsGradient: linear-gradient(
    $gradientDefaultAngle,
    scale-color($purple, $lightness: 50%) 0%,
    scale-color($purpleGradientSecond, $lightness: 50%) 100%
);

$otherRangeGradient: linear-gradient(
    $gradientDefaultAngle,
    rgba(scale-color($purple, $lightness: 75%), 0.25) 0%,
    rgba(scale-color($purpleGradientSecond, $lightness: 75%), 0.25) 100%
);

@mixin cell-size($datepickerWidth, $sidePaddings) {
  $datepickerContentWidth: $datepickerWidth - 2*$sidePaddings;
  $yearMonthCellSize: $datepickerContentWidth/4;
  min-width: $datepickerWidth;

  .datepicker {
    &--cell-month {
      height: $yearMonthCellSize;
    }

    &--cell-year {
      height: $yearMonthCellSize;
    }
  }
}

.datepicker {
  @include text(Montserrat, normal, 12px, 15px, $cellTextColor, normal);

  border: $datepickerBorderWidth solid $darkShade25;
  box-shadow: 0 10px 20px $darkShade5;
  box-sizing: border-box;

  &--cell {
    border-radius: 50%;

    &.-focus- {
      background: linear-gradient($gradientDefaultAngle, rgba($purple, 0.5) 0%, rgba($purpleGradientSecond, 0.5) 100%);
      color: white;
    }

    &.-current- {
      background: linear-gradient($gradientDefaultAngle, $green 0%, $greenGradientSecond 100%);
      font-weight: bold;
      color: white;

      &.-in-range- {
        color: $green;
      }

      &.-other-decade-,
      &.-other-month-,
      &.-disabled- {
        color: white;
        background: linear-gradient($gradientDefaultAngle, rgba($green, 0.25) 0%, rgba($greenGradientSecond, 0.25) 100%);

        &.-focus- {
          background: $otherPointsGradient;
        }
      }

      &.-focus- {
        color: white;
      }
    }

    &.-in-range- {
      background: $actualRangeGradient;
      color: $cellTextColor;

      &.-focus- {
        background-color: rgba($purple, 0.25);
        color: white;
      }
    }

    &.-disabled- {
      color: $darkShade25;

      &.-focus- {
        color: $darkShade25;
        background: $otherRangeGradient;
      }

      &.-in-range- {
        color: $darkShade25;
      }

      &.-current-.-focus- {
        color: white;
      }
    }

    &.-range-from-,
    &.-range-to- {
      z-index: 1;
      background: $actualPointsGradient;
      color: white;
      border-radius: 50%;
      border: none;

      &.-other-month- {
        color: white;
        background: $otherPointsGradient;
      }

      &.-focus- {
        background: $actualPointsGradient;
      }

      &::before {
        content: "";
        background: $actualRangeGradient;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
      }

      &.-other-month-::before {
        background: $otherRangeGradient;
      }

      &.datepicker--cell.-range-from-::before {
        border-radius: 50% 0 0 50%;
      }

      &.datepicker--cell.-range-to-::before {
        border-radius: 0 50% 50% 0;
      }
    }

    &.-selected- {
      color: white;
      background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
      font-weight: bold;

      &.-disabled- {
        color: white;
      }
    }
  }

  &--days-names {
    margin: 0;
  }

  &--day-name {
    color: $purple;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    text-transform: none;
  }

  $monthCellSize: $datepickerContentHeight/4;

  &--cells-months {
    height: $datepickerContentHeight;

    .datepicker--cell-month {
      width: 25%;
      height: $monthCellSize;

      &:before {
        content: none;
      }

      &.-range-from-,
      &.-range-to- {
        border-radius: 50%;

        &.-current- {
          color: scale-color($green, $lightness: 75%);
        }
      }
    }
  }

  $yearCellsRowLength: 4;
  $yearCellsColumnLength: 3;

  &--years {
    height: $datepickerContentHeight;
  }

  &--cells-years {
    height: $datepickerContentHeight;
  }

  &--cell-year {
    width: 25%;

    &.-range-from-.-range-to- {
      border-radius: 50%;

      &:before {
        content: none;
      }
    }
  }

  &--content {
    padding: 30px $datepickerContentSidesPadding - 2*$datepickerBorderWidth 0 $datepickerContentSidesPadding;
  }

  &--pointer {
    display: none;
  }

  &--nav {
    box-sizing: border-box;
    padding: 19px 19px 0 19px;
    border-bottom: none;
  }

  &--nav-title,
  &--nav-action {
    .date-picker__title {
      @include text_item-title();
    }
  }

  &--nav-action {
    @include icon();

    color: $purple;
    width: fit-content;
    font-size: 24px;
    display: flex;

    &:hover {
      background-color: #eee;
    }
  }

  &--nav-title {
    text-transform: none;
  }

  &--buttons {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 20px (20px - $datepickerBorderWidth) (20px - $datepickerBorderWidth) (20px - $datepickerBorderWidth);
  }

  &--button {
    @include text_label-CTA();

    line-height: 15px;
    flex: none;
    height: unset;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: fit-content;
    color: $purple;

    &:hover {
      background: none;
      color: $darkShade50;
    }
  }

  &--cell-day.-other-month-,
  &--cell-year.-other-decade- {
    color: $darkShade25;

    &:hover {
      color: white;
    }

    &.-disabled- {
      color: $darkShade25;

      &.-focus- {
        background: $otherRangeGradient;
      }
    }

    &.-in-range- {
      background: $otherRangeGradient;
      color: $darkShade25;

      &.-focus- {
        background: $otherPointsGradient;
        color: white;
      }
    }

    &.-selected- {
      background: $otherPointsGradient;

      &.-focus- {
        background: $actualPointsGradient;
      }
    }
  }
}

.date-picker {
  max-width: 266px;

  &_inline .input {
    &__control-wrapper {
      margin-top: 0;
    }

    &__control {
      display: none;
    }
  }

  &__label {
    @include text_label-CTA();
  }

  &__calendar {
    &_wide {
      @include cell-size(320px, 20px);

      @media (max-width: 380px) {
        @include cell-size(300px, 20px);
      }

      .datepicker--cell-day {
        height: 40px;

        @media (max-width: 380px) {
          height: 37px;
        }
      }
    }

    &_narrow {
      @include cell-size(266px, 10px);

      .datepicker {
        &--content {
          min-height: unset;
          padding: 19px 10px 0 10px;
        }

        &--cell-day {
          height: 35px;
        }
      }
    }
  }

  &__confirm-button {
    @include text_label-CTA();

    border: none;
    background-color: transparent;
    width: fit-content;
    line-height: 15px;
    color: $purple;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: $darkShade50;
    }

    &:focus {
      outline: none;
    }
  }
}
