.loginCard {
  padding: 39px 29px 29px 29px;
  background: white;
  border: 1px solid $darkShade12;
  box-sizing: border-box;
  box-shadow: 0 0 25px $darkShade20;
  border-radius: 4px;

  .loginCard__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  .loginCard__emailInput,
  .loginCard__passwordInput {
    .input__control {
      margin: 0;
    }
  }

  .loginCard__emailInput {
    margin-bottom: 10px;
  }

  .loginCard__passwordInput {
    margin-bottom: 20px;
  }

  .loginCard__loginButton {
    margin-bottom: 30px;
  }

  .loginCard__createAccountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .loginCard__haventAccount {
      color: black;
    }

    .loginCard__createLoginButton {
    }
  }
}

@media (max-width: 340px) {
  .loginCard {
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;

    .loginCard__title {
      text-align: center;
    }

    .loginCard__createAccountContainer {
      justify-content: space-evenly;
    }
  }
}
