include ../../blocks/Input/Input

mixin loginCard(data={})
	div.loginCard
		h3.loginCard__title.text_type_itemTitle Войти
		+input("", "text", "Email", "loginCard__emailInput", "")
		+input("", "text", "Пароль", "loginCard__passwordInput", "")
		+Button("Войти", "button_type_filled button_size_wide loginCard__loginButton")(decoration = "enterArrow")
		div.loginCard__createAccountContainer
			span.loginCard__haventAccount.text_type_regular Нет аккаунта на Toxin?
			+Button("Создать", "button_type_bordered loginCard__createLoginButton")
