mixin title({type, text, tag='h3'}={})
  -let typeModifier
  case type
    when 'label'
      -typeModifier = 'label'
    when 'widget'
      -typeModifier = 'widget'
    when 'item'
    default
      -typeModifier = 'item'

  #{tag}.title(class=`title_type_${typeModifier}`) #{text}
