mixin title({type, text, headerLevel=3}={})
  -let validType
  case type
    when 'label'
      -validType = 'label'
    when 'widget'
      -validType = 'widget'
    when 'item'
    default
      -validType = 'item'

  #{`h${headerLevel}`}(class=`title title_type_${validType}`) #{text}
