mixin title({type, text, headerLevel=3}={})
  -let typeModifier = 'title_type_'
  case type
    when 'label'
      -typeModifier += 'label'
    when 'widget'
      -typeModifier += 'widget'
    when 'item'
    default
      -typeModifier += 'item'

  #{`h${headerLevel}`}.title(class=`${typeModifier}`) #{text}
