mixin title({type, text, headerLevel=3}={})
  -let typeModifier
  case type
    when 'label'
      -typeModifier = 'label'
    when 'widget'
      -typeModifier = 'widget'
    when 'item'
    default
      -typeModifier = 'item'

  #{`h${headerLevel}`}.title(class=`title_type_${typeModifier}`) #{text}
