include __star/rate-button__star

mixin rateButton(data={maxRating: 5, rating: -1})
	div(
		class=`rate-button ${attributes.addClasses ? attributes.addClasses : ""}`
		data-maxRating=data.maxRating
		data-rating=data.rating
	)
		- var i = 1
		while i <= data.maxRating
			+star(i)
			- i++
