include __star/rate-button__star

mixin rateButton(data={})
  -var defaultData = {maxRating: 5, rating: -1}
  -data = Object.assign(defaultData, data)

  div(
    class=`rate-button`
    data-maxRating=data.maxRating
    data-rating=data.rating
  )
    - var i = 1
    while i <= data.maxRating
      +star(i)
      - i++
