.rate-button {
  height: $iconDefaultSize;
  @include boxSizingBorderBox();

  &__star {
    @include icon();
    @include textGradient(linear-gradient($purple 0%, $purpleGradientSecond 100%));
    user-select: none;
    line-height: $iconDefaultSize;
  }
}
