$checkboxButtonSize: 20px;
$checkboxButtonBorderWidth: 1px;
$buttonRightMargin: 10px;

.radio-button {
  $block: &;

  @include box-sizing-border-box();

  cursor: pointer;

  &__input {
    appearance: none;
    outline: none;
    height: $checkboxButtonSize;
    width: $checkboxButtonSize;
    border: $checkboxButtonBorderWidth solid $darkShade25;
    margin: 0 $buttonRightMargin 0 0;
    float: left;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;

    &:checked:after {
      content: "";
      display: block;
      width: 66.67%;
      height: 66.67%;
      left: 16.67%;
      top: 16.67%;
      border-radius: 50%;
      background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
      position: relative;
    }

    &:checked, &:hover {
      border-color: $purple;

      + #{$block}__text {
        color: $darkShade75;
      }
    }
  }

  &__text {
    @include text_regular();

    color: $darkShade50;
    max-width: 23ch;
    vertical-align: baseline;
  }
}
