$checkboxButtonSize: 20px;
$checkboxButtonBorderWidth: 1px;
$buttonRightMargin: 10px;

.radio-button {
  @include boxSizingBorderBox();
  width: fit-content;
  display: inline-block;
  -webkit-user-select: none;
  vertical-align: middle;
  cursor: pointer;

  &__input {
    appearance: none;
    outline: none;
    height: $checkboxButtonSize;
    line-height: $checkboxButtonSize - $checkboxButtonBorderWidth*2;
    border: $checkboxButtonBorderWidth solid $darkShade25;
    margin: 0 $buttonRightMargin 0 0;
    display: block;
    float: left;
    clear: both;
    cursor: pointer;
    min-width: $checkboxButtonSize;
    border-radius: 50%;
    background-color: #ffffff;

    &:checked {
      &:after {
        content: "";
        display: block;
        width: 66.67%;
        height: 66.67%;
        left: 16.67%;
        top: 16.67%;
        border-radius: 50%;
        background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
        position: relative;
      }
    }

    &:checked, &:hover {
      border-color: $purple;

      + .radio-button__text {
        color: $darkShade75;
      }
    }
  }

  &__text {
    @include text_regular();
    color: $darkShade50;
    display: inline-block;
    line-height: 18px;
    margin: 0;
    max-width: 23ch;
    vertical-align: baseline;
  }
}
