@import "../../styleVariables";

.input__control_type_dropdown {
  color: $darkShade75;
  padding-right: 91px - $borderWidth;

  &.input__control_focused {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input__dropdownListWrapper_type_dropdown {
  position: absolute;
  width: $inputWidth;
  border: $borderWidth solid $darkShade50;
  border-top: 0;
  border-radius: 0 0 $inputBorderRadius $inputBorderRadius;
  background-color: $inputBackgroundColor;
  box-shadow: 0 10px 20px $darkShade5;
  z-index: 10;

  //toggle в jquery делает изменения через более приоритетные style в html,
  //поэтому по дефолту элемент невидим
  display: none;

  &.input__dropdownListWrapper_width_narrow{
    width: $narrowInputWidth;
  }
  &.input__dropdownListWrapper_width_medium {
    width: $mediumInputWidth;
  }

  .input__dropdownList_type_dropdown {
    list-style: none;
    padding: 0;
    margin: 6px - $borderWidth 7px - $borderWidth 7px 15px - $borderWidth;;
    width: calc(100% - (14px - #{$borderWidth}) - (7px - #{$borderWidth}));
    border-spacing: 0;
    border-collapse: collapse;

    td {
      padding: 0 0 7px 0;
      margin: 0;
    }

    .input__dropdownListRow_type_dropdown {
      &:last-child > td {
        padding-bottom: 0;
      }

      .input__dropdownText_type_dropdown {
        line-height: 30px;
      }
    }
  }

  .input__controlButtonsContainer {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 6px 12px 14px;

    @include clearfix();

    &.input__controlButtonsContainer_visible {
      display: block;
      height: fit-content;
    }

    .input__clearButton {
      display: none;
      &.input__clearButton_visible {
        display: block;
        float: left;
      }
    }

    .input__confirmButton {
      display: none;
      &.input__confirmButton_visible {
        display: block;
        float: right;
      }
    }
  }
}
