mixin dropdownList(elementNames)
	div.input__dropdown_type_dropdown
		ul.input__dropdownList_type_dropdown
			each element in elementNames
				li(class="text_type_label-CTA input__dropdownListRow_type_dropdown")
					span.input__dropdownText_type_dropdown #{element}
					div.input__dropdownNumbericUpDown
						button(class= "input__dropdownDecrease_type_dropdown input__dropdownButton_type_dropdown") -
						input.input__dropdownValue_type_dropdown(value="0")
						button(class= "input__dropdownIncrease_type_dropdown input__dropdownButton_type_dropdown") +
