include ../_spinner/input_type_spinner
include ../../../Button/Button

//- input__dropdownListWrapper_rooms - комнаты и кровати
//- input__dropdownListWrapper_customers - гости и младенцы
//- input__dropdownListWrapper_unified - одним словом
mixin dropdownList(elementNames = {}, attr, range)
  div&attributes(attr)
    div.input__dropdownList_type_dropdown
      each element, index in elementNames
        div(class="text_type_label-CTA input__dropdownListRow_type_dropdown")
            p.input__dropdownText_type_dropdown #{element.name}
            +spinner(range, element.name, index, element.value)
    div(class="input__controlButtonsContainer")
      +Button("Очистить", "button_type_text input__clearButton button_hovered input__controlButton")
      +Button("Применить", "button_type_text input__confirmButton input__controlButton")

//- 'input_type_dropdown-unaccepted' - для отображения кнопки "применить" при инициализации
//- 'input_type_dropdown-pure' - для отсутствия контролирующих кнопок постоянно
//- 'input_type_dropdown-opened' - для постоянно открытого дропдауна
mixin addDropdown(ddAttributes, ddTypes, ddAdditional)
  each value, index in Object.values(ddAttributes)
    - value.class += classNames[index] + "_type_dropdown "
  - controlAttributes.type = "select"
  //-подтипы дропдауна
  if ddTypes.includes("unified")
    - ddAttributes.dropdownAttributes.class += dropdownClassName + "_unified "
  if ddTypes.includes("rooms")
    - ddAttributes.dropdownAttributes.class += dropdownClassName + "_rooms "
  else if ddTypes.includes("customers")
    - ddAttributes.dropdownAttributes.class += dropdownClassName + "_customers "
  if ddTypes.includes("opened")
    - ddAttributes.blockAttributes.class += blockClassName + "_type_dropdown-opened "
  if ddTypes.includes("pure")
    - ddAttributes.blockAttributes.class += blockClassName + "_type_dropdown-pure "
  if ddTypes.includes("unaccepted")
    - ddAttributes.blockAttributes.class += blockClassName + "_type_dropdown-unaccepted "

  div&attributes(ddAttributes.blockAttributes)
    if title
      label&attributes(ddAttributes.titleAttributes) #{title}
        br
        div&attributes(ddAttributes.controlWrapperAttrs)
          +expandArrow()
          input&attributes(ddAttributes.controlAttributes)
    else
      label&attributes(ddAttributes.titleAttributes)
        div&attributes(ddAttributes.controlWrapperAttrs)
          input&attributes(ddAttributes.controlAttributes)
          +expandArrow()
    +dropdownList(ddAdditional, ddAttributes.dropdownAttributes, range)
