@import "../../variables";

.checkbox_type_default {
  &__label {
    &:hover,
    &.ui-checkboxradio-checked {
      color: $darkShade50;
    }

    &:hover .checkbox_type_default__button,
    &.ui-checkboxradio-checked .checkbox_type_default__button {
      border-color: $purple;
    }

    &.ui-checkboxradio-checked .checkbox_type_default__button {
      @include icon();
      font-size: 14px;
      font-weight: bolder;
      @include textGradient(linear-gradient($purple 22%, $purpleGradientSecond 78%));
      text-align: center;
    }
  }

  &__button {
    border: $checkboxButtonBorderWidth solid $darkShade25;
    color: transparent;
    border-radius: 4px;
  }
}

