.footer {
  width: 100%;
  box-shadow: 0px 10px 20px $darkShade5;
  background-color: white;

  .fab {
    font-size: 24px;
    @include textGradient(linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%));
    text-underline: none;
  }
}
