@import "../variables";

.button_text-sized {
  &.button_type_bordered {
    .button__border {
      height: fit-content;
      width: fit-content;
    }

    .button__control {
      padding: 9px - $buttonBorderWidth 20px - $buttonBorderWidth 10px - $buttonBorderWidth 20px - $buttonBorderWidth;
    }
  }

  .button__control {
    display: block;
    width: auto;
    height: auto;
    line-height: normal;
    padding: 9px 20px 10px 20px;
  }
}
