@import "../variables";

.button_size_wide {
  width: $wideButtonWidth;

  &__control {
    width: $wideButtonWidth;
  }

  .button_type_bordered {
    &__border {
      width: $wideButtonWidth;
    }

    &__control {
      width: $wideButtonWidth - $buttonBorderWidth*2;
    }
  }
}
