@import "../variables";

.button_text-sized {
  & .button_type_bordered {
    &__border {
      height: fit-content;
      width: fit-content;
    }

    &__control {
      padding: 9px - $buttonBorderWidth 20px - $buttonBorderWidth 10px - $buttonBorderWidth 20px - $buttonBorderWidth; // на хэдере почему-то высота кнопки логина изменилась
    }
  }

  &__control {
    display: block;
    width: auto;
    height: auto;
    line-height: normal;
    padding: 9px 20px 10px 20px;
  }
}
