include ../../blocks/dropdown/dropdown
include ../../blocks/input/input
include ../../blocks/double-date-picker/double-date-picker
include ../../blocks/date-picker/date-picker
include ../../blocks/checkbox/checkbox
include ../../blocks/like-button/like-button
include ../../blocks/radio-button/radio-button
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/bullet-list/bullet-list
include ../../blocks/features-list/features-list
include ../../blocks/rating/rating
include ../../blocks/slider/slider
include ../../blocks/button/button
include ../../blocks/pagination/pagination
include ../../blocks/comment/comment
include ../../blocks/title/title

section.form-elements
  div.form-elements__top-area
    div.form-elements__basic-inputs
      div.form-elements__text-input
        +input({title: 'Text field', type: 'text', placeholder: 'Email'})
      div.form-elements__focused-text-input
        +input({title: 'Text field', type: 'text', placeholder: 'This is pretty awesome', text: 'This is pretty awesome', isActive: true})
      div.form-elements__dropdown
        +dropdown({title: 'Dropdown', placeholder: 'Сколько гостей', unifiedCaption: 'гост|ь|я|ей',
          data: [
            {name: 'Взрослые', value: 0},
            {name: 'Дети', value: 0},
            {name: 'Младенцы', declinations: 'младен|ец|ца|цев', isSeparate: true, value: 0}]})
      div.form-elements__masked-input
        +input({title: 'Masked Text Field', type: 'mask', placeholder: 'ДД.ММ.ГГГГ'})

    div.form-elements__date-pickers
      div.form-elements__double-date-picker
        +double-date-picker({secondDate: '19.08.2019', firstTitle: 'date dropdown', secondTitle: 'date dropdown'})
      div.form-elements__date-picker
        +date-picker({title: 'filter date dropdown', placeholder: 'ДД.ММ.ГГГГ', dates: ['19.08.2019', '23.08.2019']})

    div.form-elements__subscription-input
      +input({title: 'subscription text field', type: 'text', withSubscription: true, placeholder: 'Email'})

    div.form-elements__checkboxes-ratings
      -
        const checkButtons = [
          {text: 'Можно курить'},
          {text: 'Можно с питомцами', isChecked: true},
          {text: 'Можно пригласить гостей (до 10 человек)', isChecked: true}
        ]
      div.form-elements__checkboxes
        +checkbox-list({title: 'Checkbox Buttons', elements: checkButtons})

      div.form-elements__radios
        div.form-elements__radios-title
          +title({type: 'label', text: 'Radio buttons'})
        div.form-elements__radio-button
          +radio-button({text: 'Мужчина', group: 'gender', isChecked: true})
        div.form-elements__radio-button
          +radio-button({text: 'Женщина', group: 'gender', isChecked: false})

      div.form-elements__toggles
        div.form-elements__toggles-title
          +title({type: 'label', text: 'Toggle'})
        div.form-elements__toggle-button
          +checkbox({type: 'toggle', text: 'Получать спецпредложения', isChecked: true})
        div.form-elements__toggle-button
          +checkbox({type: 'toggle', text: 'Получать спецпредложения', isChecked: false})

      div.form-elements__likes
        div.form-elements__likes-header
          +title({type: 'label', text: 'Like button'})
        div.form-elements__likes-body
          div.form-elements__like
            +like-button({count: '2'})
          div.form-elements__like
            +like-button({count: '12', isChecked: true})
      div.form-elements__rates
        div.form-elements__rates-header
          +title({type: 'label', text: 'rate button'})
        div.form-elements__rates-body
          div.form-elements__rate
            +rating({maxRating: 5, rating: 4})
          div.form-elements__rate
            +rating({maxRating: 5, rating: 5})

    div.form-elements__slider-buttons-pagination
      div.form-elements__slider
        +slider({minValue: 0, maxValue: 16000, step: 100, title: 'Range slider', isRange: true, initialValues: [5000, 10000]})
      div.form-elements__buttons
        div.form-elements__buttons-header
          +title({type: 'label', text: 'buttons'})
        div.form-elements__filled-buttons
          div.form-elements__button
            +button({text: 'Click Me', style: 'filled'})
          div.form-elements__button
            +button({text: 'Click Me', style: 'filled', isHovered: true})
        div.form-elements__bordered-buttons
          div.form-elements__button
            +button({text: 'Click Me', style: 'bordered'})
          div.form-elements__button
            +button({text: 'Click Me', style: 'bordered', isHovered: true})
        div.form-elements__text-buttons
          div.form-elements__button
            +button({text: 'Click Me', style: 'text'})
          div.form-elements__button
            +button({text: 'Click Me', style: 'text', isHovered: true})
        div.form-elements__wide-button
          +button({text: 'Перейти к оплате', style: 'filled', decoration: 'enter-arrow'})
      div.form-elements__pagination
        div.form-elements__pagination-title
          +title({type: 'label', text: 'pagination'})
        -
          const paginationItems = new Array(180).fill({});
        +pagination({items: paginationItems, isContentVisible: false})

  div.form-elements__middle-area
    div.form-elements__dropdowns
      div.form-elements__room-dropdowns
        -
          const rooms = [
            {name: 'Спальни', isSeparate: true, declinations: 'спал|ьня|ьни|ен', value: 2},
            {name: 'Кровати', isSeparate: true, declinations: 'кроват|ь|и|ей', value: 2},
            {name: 'Ванные комнаты',isSeparate: true, alwaysVisible: true, declinations: 'ванн|ая|ых|ых комнат|а|ы|', value: 0}
          ];
        div.form-elements__rooms-dropdown
          +dropdown({title: 'Dropdown', placeholder: 'Сколько убранства', data: rooms})
        div.form-elements__rooms-dropdown
          +dropdown({title: 'Dropdown', isPure: true, isOpened: true, placeholder: 'Сколько убранства', data: rooms})
      div.form-elements__unaccepted-guest-dropdown
        +dropdown({title: 'Dropdown', unifiedCaption: 'гост|ь|я|ей', isOpened: true, isUnaccepted: true, placeholder: 'Сколько гостей',
          data: [
            {name: 'Взрослые', value: 0},
            {name: 'Дети', value: 0},
            {name: 'Младенцы', declinations: 'младен|ец|ца|цев', value: 0}
          ]})
      div.form-elements__guest-dropdown
        +dropdown({title: 'Dropdown', unifiedCaption: 'гост|ь|я|ей', isOpened: true, isUnaccepted: true, placeholder: 'Сколько гостей',
          data: [
            {name: 'Взрослые', value: 2},
            {name: 'Дети', value: 1},
            {name: 'Младенцы', declinations: 'младен|ец|ца|цев', value: 0}
          ]})
    div.form-elements__lists
      div.form-elements__expandable-lists
        -
          const checkButtonsExpandable = [
            {text: 'Завтрак'}, {text: 'Письменный стол', isChecked: true},
            {text: 'Стул для кормления', isChecked: true}, {text: 'Кроватка', isChecked: true},
            {text: 'Телевизор'}, {text: 'Шампунь'}
          ]
        div.form-elements__expandable-list
          +checkbox-list({type: 'checkbox', isExpandable: true, title: 'Expandable Checkbox List', elements: checkButtonsExpandable})
        div.form-elements__expanded-list
          +checkbox-list({type: 'checkbox', isExpandable: true, isOpened: true, title: 'Expandable Checkbox List', elements: checkButtonsExpandable})

      -
        const richCheckboxes = [
          {text: 'Широкий коридор', description: 'Ширина коридоров в номере \n не менее 91 см.'},
          {text: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист \n и проводит до номера.'}
        ]
      div.form-elements__rich-list
        +checkbox-list({type: 'checkbox', title: 'Rich checkbox buttons', elements: richCheckboxes})

      div.form-elements__bullet-list
        +bullet-list({
          title: 'Bullet List',
          strings: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
          }
        )

  div.form-elements__bottom-area
    div.form-elements__feature-list
      +features-list({items: [
        {title: 'Комфорт', text: 'Шумопоглощающие стены', icon: 'insert_emoticon'},
        {title: 'Удобство', text: 'Окно в каждой из спален', icon: 'location_city'},
      ]})
    div.form-elements__comment
      +comment({
        avatar: require('../../assets/images/user-avatar.jpg'),
        author: 'Мурад Сарафанов',
        dateTime: '5 дней назад',
        text: 'Великолепный матрас на кровати в основной спальне! ' +
          'А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. ' +
          'Выкрикивал комплименты повару — никто не жаловался из соседей.',
        likesCount: 12,
        isLiked: true
      })
