.roomPreviewCard {
  width: 270px;
  background: white;
  box-shadow: 0px 10px 20px $darkShade5;
  border-radius: 4px;
  overflow: hidden;
  @media (max-width: 551px) {
    border-radius: 0;
  }

  .roomPreviewCard__photos {
    margin-bottom: 20px;
    width: 100%;
  }

  .roomPreviewCard__textContent {
    padding: 0px 18px 20px 20px;

    .roomPreviewCard__roomInfo {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 9px;

      :not(:last-child) {
        margin-right: 4px;
      }

      .roomPreviewCard__roomDescription {
        display: flex;
        align-items: baseline;

        .roomPreviewCard__roomNumSymbol {
          color: black;
          font-size: 14px;
          line-height: 14px;
        }

        .roomPreviewCard__roomNumber {
          color: black;
          font-size: 17px;
          line-height: 24px;
        }

        .roomPreviewCard__roomType {
          color: $purple;
        }
      }

      .roomPreviewCard__costInfo {
        display: flex;
        align-items: baseline;

        .roomPreviewCard__costPerPeriod {
          color: $darkShade50;
          font-size: 14px;
          font-weight: bold;
        }

        .roomPreviewCard__period {
          font-size: 12px;
          line-height: 12px;
          color: $darkShade50;
        }
      }
    }

    .roomPreviewCard__divisionLine {
      border-color: $darkShade5;
      margin-bottom: 9px;
    }

    .roomPreviewCard__rateInfo {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .roomPreviewCard__rating {

      }

      .roomPreviewCard__reviewsInfo {
        :not(:last-child) {
          margin-right: 4px;
        }

        .roomPreviewCard__reviewsCount {
          color: $darkShade50;
          font-weight: bold;
        }

        .roomPreviewCard__reviewsText {
          color: $darkShade50;
        }
      }
    }
  }
}
