.headers-footers {
  background-color: #F4F4F6;
  width: 100%;
  margin: 0;
  padding: 150px 0 130px 0;

  &__header-unauthorized {
    margin-bottom: 40px;
  }

  &__header-authorized {
    margin-bottom: 40px;
  }

  &__footer-large {
    margin-bottom: 40px;
  }
}
