.headers-footers {
  background-color: #F4F4F6;
  width: 100%;
  margin: 0;
  padding: 150px 0 130px 0;

  &__unauthorized-header {
    margin-bottom: 40px;
  }

  &__authorized-header {
    margin-bottom: 40px;
  }

  &__large-footer {
    margin-bottom: 40px;
  }
}
