include ../../blocks/header/header
include ../../blocks/footer/footer

section.headers-footers
  -const logoPath = require('../../assets/images/logo-colored-withText.svg')
  div.headers-footers__unauthorized-header
    +header(
      {logo: logoPath,
      content: [
        {text: 'Home', bold: true},
        {text: 'About Us'},
        {
          text: 'Services',
          children: [
            {text: 'service 1', children: [{text: '456', children: [{text: '1231'}]}]},
            {text: 'service 2', children: [{text: '123'}]}
          ]
        },
      {text: 'Careers'},
      {text: 'News'},
      {text: 'Documentation'}
      ]}
    )
  div.headers-footers__authorized-header
    +header(
      {
        userLogin: 'Cosmin Negoita',
        logo: logoPath,
        loginText: 'Login',
        registerText: 'register'
      ,
      content: [
        {text: 'Home', bold: true},
        {text: 'About Us'},
        {
          text: 'Services',
          children: [
            {text: 'service 1', children: [{text: '456', children: [{text: '1231'}]}]},
            {text: 'service 2', children: [{text: '123'}]}
          ]
        },
        {text: 'Careers'},
        {text: 'News'},
        {text: 'Documentation'},
      ]}
    )

  div.headers-footers__large-footer
    +footer(
      {
        logo: logoPath,
        text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
        copyright: 'Copyright © 2018 Toxin UI Kit. All rights reserved.',
      links: [
        {
          title: 'navigation',
          links: [{text: 'About Us'}, {text: 'News'}, {
            text: 'Support'
          }, {text: 'Products'}]
        },
        {
          title: 'about us',
          links: [{text: 'Who we are'}, {text: 'Our team'}, {
            text: 'Careers'
          }, {text: 'Investors'}]
        },
        {
          title: 'support',
          links: [{text: 'Documentation'}, {
            text: 'Community'
          }, {text: 'Get in Touch'}]
        }
      ],
      subscription: {title: 'Subscribe to our newsletter', text: 'Receive our latest news and promotions in your inbox!', emailPlaceholder: 'Your email address'}
    })
  div.headers-footers__simple-footer
    +footer({
      logo: logoPath,
      text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      isSimple: true
    })
