@mixin menuItem() {
  &:not(:last-child) {
    margin-right: get-vw(30px);
  }

  display: flex;
  position: relative;
  align-items: center;

  .header__expandButton {
    @include icon();
    font-size: 14px;
    line-height: 14px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    user-select: none;
    color: $darkShade75;
  }

  &:hover {
    .header__subMenu {
      display: block;
      padding: 5px;
    }
  }

  .header__subMenu {
    display: none;
    position: absolute;
    z-index: 1;
    background: white;
    border: solid 1px $darkShade30;
    border-radius: 5px;

    top: 100%;
    right: -50%;

    .header__subMenuItem {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 30px;

      &:not(:last-child) {
        border-bottom: solid 1px $darkShade75;
      }

      > .header__expandButton {
        transform: rotate(-90deg);
      }

      &:hover .header__subMenu {
        display: block;
      }

      > .header__subMenu {
        display: none;
        left: 90%;
        box-shadow: -3px 0px 5px $darkShade20;
        right: unset;
        top: -1px;
      }
    }
  }
}
