$darkShade100: #1F2041;
$darkShade75: change_color($darkShade100, $alpha: 0.75);
$darkShade50: change_color($darkShade100, $alpha: 0.5);
$darkShade30: change_color($darkShade100, $alpha: 0.3);
$darkShade25: change_color($darkShade100, $alpha: 0.25);
$darkShade20: change_color($darkShade100, $alpha: 0.2);
$darkShade12: change_color($darkShade100, $alpha: 0.12);
$darkShade10: change_color($darkShade100, $alpha: 0.1);
$darkShade5: change_color($darkShade100, $alpha: 0.05);

$purple: #BC9CFF;
$purpleGradientSecond: adjust-color($purple, $hue: -34.2612, $saturation: -9.6, $lightness: -5.09804);
$green: #6FCF97;
$greenGradientSecond: adjust-color($green, $hue: 45.90909, $saturation: 25.86207, $lightness: 3.52941);
$inputBackgroundColor: white;

$gradientDefaultAngle: 180deg;
