$fontsPath: "../assets/fonts";

@font-face {
  font-family: Montserrat;
  src: url("#{$fontsPath}/montserrat-regular.woff2"), url("#{$fontsPath}/montserrat-regular.woff");
}

@font-face {
  font-family: Montserrat;
  src: url("#{$fontsPath}/montserrat-bold.woff2"), url("#{$fontsPath}/montserrat-bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Material Icons";
  src: url("#{$fontsPath}/iconfont/material-icons-regular.woff2"), url("#{$fontsPath}/iconfont/material-icons-regular.woff");
  font-weight: 400;
  font-style: normal;
}
