$fontsPath: "../assets/fonts";

@font-face {
  font-family: Montserrat;
  src: url("#{$fontsPath}/Montserrat-Regular.ttf"), url("#{$fontsPath}/Montserrat-Regular.svg");
}

@font-face {
  font-family: Montserrat;
  src: url("#{$fontsPath}/Montserrat-Bold.ttf"), url("#{$fontsPath}/Montserrat-Bold.svg");
  font-weight: bold;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("#{$fontsPath}/iconfont/MaterialIcons-Regular.ttf"), url("#{$fontsPath}/iconfont/MaterialIcons-Regular.svg");
}
