@mixin text($fontWeight, $size, $lineHeight, $color) {
  font-size: $size;
  color: $color;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin icon() {
  font-family: "Material Icons", sans-serif;
  font-weight: normal;
  text-transform: lowercase;
  vertical-align: middle;
}

@mixin text-gradient($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin visually-hidden() {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin text_regular() {
  font-size: 14px;
  color: $darkShade75;
}

@mixin text_label-CTA() {
  color: $darkShade100;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin text_item-title() {
  color: $darkShade100;
  font-weight: bold;
  font-size: 19px;
}

@mixin text_widget-title() {
  color: $darkShade100;
  font-weight: bold;
  font-size: 24px;
}

@function get-vw($pixels) {
  $vw-context: (1440*.01) * 1px;
  @return ($pixels/$vw-context) * 1vw;
}
