html, body {
  height: 100%;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
}

*, *:before, *:after {
  font-family: inherit;
  box-sizing: inherit;
}
