@import "../../common/variables";

body {
  background-color: #eeeeee;
  //display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  background-color: #FFFFFF;
  margin: 20px;
  width: 1440px;
  min-height: 1350px;
}

.bodyContainer {
  display: flex;
  flex-wrap: wrap;
}

.page-header {
  font-size: 20px;
}

.input__wrapper {
  padding: 5px;
}

.container {
  margin: 50px 20px 0 0;
}

.buttonsContainer {
  width: 320px;

  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
  justify-items: center;
}

.fourthRow, .fifthRow, .sixthRow {
  grid-column: 1 / span 2;
}

.slider:first-child {
  margin-bottom: 20px;
}
