.donutChart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: fit-content;
  height: fit-content;

  .donutChart__imageContainer {
    width: 120px;
    height: fit-content;
    margin-right: 30px;
    position: relative;

    .donutChart__svg {
      width: 100%;
      height: auto;

      .donutChart__svgArc {
      }
    }

    .donutChart__activeData {
      $activeDataHeight: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: $activeDataHeight;
      top: calc(50% - #{$activeDataHeight} / 2);
      width: 70%;
      left: 15%;

      .donutChart__activeValue {
        font-size: 24px;
        line-height: 30px;
      }

      .donutChart__valueText {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  .donutChart__legend {
    list-style: none;
    margin: 0;
    padding: 0;

    .donutChart__legendItem {
      display: flex;
      align-items: baseline;

      &:not(:last-child) {
        margin-bottom: 14px;
      }

      &:before {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: var(--background);
        margin-right: 5px;
      }
    }
  }
}
