include  ../../blocks/twoCalendarRangePicker/twoCalendarRangePicker
include ../../blocks/Input/Input
include ../../blocks/Button/Button

mixin findRoomCard()
	div(class=`findRoomCard ${attributes.classes}`)
		h3.findRoomCard__title.text_type_widgetTitle Найдём номера под ваши пожелания
		+twoCalendarRangePicker({labels: ["Прибытие", "Выезд"]})(addClasses = "findRoomCard__rangePicker")
		+Input("Гости",
			"dropdown customers",
			"Сколько гостей",
			"findRoomCard__dropDown",
			"",
			[{name: "Взрослые"}, {name: "Дети"}, {name: "Младенцы"}])
		+Button("Подобрать номер",
			"button_type_filled button_size_wide findRoomCard__button"
			)(decoration = "enterArrow")
