$cardWidth: 380px;
$borderWidth: 1px;

.findRoomCard {
  max-width: $cardWidth;
  box-shadow: 0px 0px 25px $darkShade20;
  background-color: white;
  border: $borderWidth solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: (40px - $borderWidth) (30px - $borderWidth) (30px - $borderWidth);

  .findRoomCard__title {
    margin: 0;
    padding: 0;
    letter-spacing: 1.1px;
    margin-bottom: 17px;
  }

  .findRoomCard__rangePicker {
    margin-bottom: 17px;
  }

  .findRoomCard__dropDown {
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .findRoomCard {
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;

    .findRoomCard__title {
      text-align: center;
    }
  }
}
