$minInputWidth: 320px;
$minMediumInputWidth: 266px;
$borderWidth: 1px;
$inputBorderRadius: 4px;

.dropdown {
  @include box-sizing-border-box();

  position: relative;
  min-width: $minInputWidth;
  width: fit-content;

  @media (max-width: 380px) {
    min-width: 300px;
  }

  &_width_medium {
    min-width: $minMediumInputWidth;
  }

  &__list-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    border: $borderWidth solid $darkShade50;
    border-top: 0;
    border-radius: 0 0 $inputBorderRadius $inputBorderRadius;
    background-color: $inputBackgroundColor;
    box-shadow: 0 10px 20px $darkShade5;
    z-index: 10;

    &_visible {
      display: block;
    }
  }

  &__list {
    padding: 0;
    margin: (5px - $borderWidth) (7px - $borderWidth) (7px - $borderWidth) (15px - $borderWidth);
    border-spacing: 0;
    border-collapse: collapse;
  }

  &__list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }

  &__list-row-text {
    @include text_label-CTA();

    margin: 0;
    line-height: 30px;
  }

  &__spinner {
    flex-shrink: 0;
  }

  &__buttons-container {
    @include clearfix();

    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 18px 6px 12px 14px;

    &_visible {
      display: block;
      height: fit-content;
    }
  }

  &__clear-button {
    display: none;

    &_visible {
      display: block;
      float: left;
    }
  }

  &__confirm-button {
    display: none;

    &_visible {
      display: block;
      float: right;
    }
  }
}
