$minInputWidth: 320px;
$minMediumInputWidth: 266px;
$borderWidth: 1px;
$inputBorderRadius: 4px;

.dropdown {
  @include box-sizing-border-box();

  position: relative;
  width: fit-content;

  &__list-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    border: $borderWidth solid $darkShade50;
    border-top: 0;
    border-radius: 0 0 $inputBorderRadius $inputBorderRadius;
    background-color: $inputBackgroundColor;
    box-shadow: 0 10px 20px $darkShade5;
    z-index: 1;

    &_visible {
      display: block;
    }
  }

  &__list {
    margin: (5px - $borderWidth) (7px - $borderWidth) (9px - $borderWidth) (15px - $borderWidth);
  }

  &__list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }

  &__list-row-text {
    @include text_label-CTA();

    margin: 0 10px 0 0;
    overflow-wrap: anywhere;
  }

  &__spinner {
    flex-shrink: 0;
  }

  &__buttons-container {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 6px 13px 14px;

    &_visible {
      display: flex;
      height: fit-content;
    }
  }

  &__clear-button,
  &__confirm-button {
    opacity: 0;
    max-width: 50%;
    pointer-events: none;

    &_visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
