mixin addDatepicker(dpAttributes, dpAdditional)
  each value, index in Object.values(dpAttributes)
    - value.class += classNames[index] + "_type_datepicker "
  - dpAttributes.controlAttributes.type = "select"
  - dpAttributes.controlAttributes["data-firstDate"] = dpAdditional[0]
  - dpAttributes.controlAttributes["data-secondDate"] = additional[1]
  - dpAttributes.controlAttributes.class += 'input__control_decoration_expandArrow '
  include ../../_decoration/_expandArrow/input_decoration_expandArrow
  //-
  div&attributes(dpAttributes.blockAttributes)
      div&attributes(blockAttributes)
        //- пока не нашел способа сделать отступ в начале внутренностей лейбла, поэтому условие с двумя вариантами
        if title
          label&attributes(titleAttributes) #{title}
            br
            div&attributes(controlWrapperAttrs)
              +expandArrow()
              input&attributes(controlAttributes)
        else
          label&attributes(titleAttributes)
            div&attributes(controlWrapperAttrs)
              input&attributes(controlAttributes)
              +expandArrow()
