mixin addDatepicker(dpAttributes={}, dpData={})
  each value, index in Object.values(dpAttributes)
    - value.class += index === 0 ? blockClassName + "_type_datepicker " : blockClassName + "_type_datepicker" + classNames[index] + " "
  - dpAttributes.controlAttributes.type = "select"
  - dpAttributes.controlAttributes["data-firstDate"] = dpData.data ? dpData.data[0] : ""
  - dpAttributes.controlAttributes["data-secondDate"] = dpData.data ? dpData.data[1] : ""
  - dpAttributes.controlAttributes.class += 'input_decoration_expand-arrow__control '
  if dpData.isInline
    include ./_inline/datepicker_inline
    - dpAttributes.blockAttributes.class += "datepicker_inline "
    +createInlineDatepicker(dpAttributes)
  else
    div&attributes(dpAttributes.blockAttributes)
      //- пока не нашел способа сделать отступ в начале внутренностей лейбла, поэтому условие с двумя вариантами
      if dpData.title
        label&attributes(dpAttributes.titleAttributes) #{dpData.title}
          br
          div&attributes(dpAttributes.controlWrapperAttrs)
            +expand-arrow()
            input&attributes(dpAttributes.controlAttributes)
      else
        label&attributes(dpAttributes.titleAttributes)
          div&attributes(dpAttributes.controlWrapperAttrs)
            input&attributes(dpAttributes.controlAttributes)
            +expand-arrow()
