$arrowWrapSize: 44px;
$arrowSize: 24px;
$titleHeight: 12px;

.checkbox-list {
  $block: &;

  @include box-sizing-border-box();

  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  width: fit-content;

  &_expandable {
    #{$block}__title-wrap {
      min-width: 266px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 10px 0;
    }

    #{$block}__title {
      line-height: $titleHeight;
      cursor: pointer;
    }

    #{$block}__container {
      display: none;
      padding-top: 3px;
    }

    &:not(#{$block}_expanded) #{$block}__title-wrap {
      margin-bottom: 0;
    }

    #{$block}__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &_expanded &__container {
    display: block;
  }

  &_narrow {
    #{$block}__title:after {
      bottom: 2px;
      left: 13px;
    }
  }

  &__title-wrap {
    margin: 0 0 16px 0;
  }

  &__title {
    padding: 0;
    user-select: none;
  }

  &__expand-arrow {
    padding: 0 10px;
  }

  &__container {
    margin: 0;
    padding: 1px 0 0;
    list-style: none;
  }

  &__item {
    content: "text";
    &:not(:last-child) {
      margin-bottom: 10.5px;
    }

    &_rich {
      &:first-child {
        margin-top: 1px;
      }
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }
}
