$arrowWrapSize: 44px;
$arrowSize: 24px;
$titleHeight: 12px;

.checkbox-list {
  $block: &;

  @include box-sizing-border-box();

  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  width: fit-content;

  &_expandable {
    #{$block}__title {
      min-width: 266px;
      padding-right: $arrowWrapSize;
      line-height: $titleHeight;
      position: relative;
      cursor: pointer;
    }

    #{$block}__container {
      display: none;
      padding-top: 3px;
    }

    &:not(#{$block}_expanded) #{$block}__title {
      margin-bottom: 0;
    }
  }

  &_expanded &__container {
    display: block;
  }

  &_narrow {
    #{$block}__title:after {
      bottom: 2px;
      left: 13px;
    }
  }

  &__title {
    padding: 0;
    user-select: none;
    margin: 0 0 16px;
  }

  &__expand-arrow {
    width: $arrowSize;
    height: $arrowSize;
    margin: ($arrowWrapSize - $arrowSize)/2;
    position: absolute;
    top: -($arrowWrapSize - $titleHeight)/2 - 1px;
    right: 0;
  }

  &__container {
    margin: 0;
    padding: 1px 0 0;
    list-style: none;
  }

  &__item {
    content: "text";
    &:not(:last-child) {
      margin-bottom: 10.5px;
    }

    &_rich {
      &:first-child {
        margin-top: 1px;
      }
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }
}
