include ../checkbox/checkbox
include ../radio-button/radio-button
include ../arrow/arrow
include ../title/title

mixin checkbox-list({isExpandable=false, isOpened=false, title='', elements=[]} = {})
  -let expandableModifier = expandedModifier = ''
  if isExpandable
    -expandableModifier = ' checkbox-list_expandable'
    if isOpened
      -expandedModifier = ' checkbox-list_expanded'

  fieldset(class=`checkbox-list js-checkbox-list${expandableModifier}${expandedModifier}`)
    div.checkbox-list__title-wrap.js-checkbox-list__title-wrap
      if title
        legend.checkbox-list__title
          +title({type: 'label', text: title, tag: 'p'})
        if isExpandable
          div.checkbox-list__expand-arrow
            +arrow({type: 'expand'})
    ul.checkbox-list__container
      each value, index in elements
        li.checkbox-list__item(class=`${value.description ? `checkbox-list__item_rich` : ''}`)
          +checkbox(value)
