$dotSize: 7px;
$arrowSize: 44px;

.carousel {
  @include boxSizingBorderBox();

  .slick {
    &-list {
      .slick-track {
        .slick-slide {
          > div {
            .carousel__element {
              display: block;
            }
          }
        }
      }
    }

    &-arrow {
      display: block;
      height: 100%;
      width: fit-content;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      vertical-align: middle;

      > button {
        @include icon();
        outline: none;
        cursor: pointer;
        background-color: transparent;
        color: white;
        width: $arrowSize;
        height: $arrowSize;
        border: 0;
        position: relative;
        top: calc(50% - #{$arrowSize} / 2);
      }

      &.slick-prev {
        left: 0;
        top: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%);

        > button {
          transform: rotate(90deg);
        }
      }

      &.slick-next {
        right: 0;
        top: 0;
        background: linear-gradient(-90deg, $darkShade50 0%, transparent 100%);

        > button {
          transform: rotate(-90deg);
        }
      }
    }

    &-dots {
      position: absolute;
      right: 16px;
      bottom: 16px;
      margin: 0;
      padding: 0;
      list-style-type: none;
      height: $dotSize;
      z-index: 2;

      > li {
        display: inline-block;
        border: 1px solid white;
        border-radius: 50%;
        width: $dotSize;
        height: $dotSize;
        box-shadow: 0px 5px 5px $darkShade30;

        &:not(:last-child) {
          margin-right: 3.75px;
        }

        &.slick-active {
          background-color: white;
        }

        > button {
          background: transparent;
          border: none;
          margin: 0;
          padding: 0;
          display: block;
          height: 100%;
          width: 100%;
          outline: none;
          color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
