mixin carousel({images = [], carouselParams={}} = {})
  div.js-carousel.carousel&attributes(carouselParams)
    each image in images
      #{image.tag}(src=image.src alt='Фото комнаты' class='carousel__element')
