$buttonSize: 30px;
$borderWidth: 1px;

.spinner {
  width: fit-content;

  &__value {
    @include text_label-CTA();

    display: inline-block;
    text-align: center;
    line-height: $buttonSize;
    max-width: 32px;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
  }

  &__increase-button, &__decrease-button {
    @include text(Montserrat, normal, 18px, $buttonSize - 2*$borderWidth, $darkShade25, 0px);

    border-radius: 50%;
    border: $borderWidth solid $darkShade25;
    color: $darkShade50;
    background-color: $inputBackgroundColor;
    width: $buttonSize;
    text-align: center;
    padding: 0;

    &_disabled {
      color: $darkShade12;
      border-color: $darkShade12;
    }

    &:focus {
      outline: none;
    }
  }

  &__increase-button:not(&__increase-button_disabled),
  &__decrease-button:not(&__decrease-button_disabled) {
    &.focused,
    &:hover {
      border-color: $darkShade75;
      color: $darkShade75;
      cursor: pointer;
    }
  }
}
