$buttonSize: 30px;
$borderWidth: 1px;

.spinner {
  width: fit-content;

  &__value {
    @include text_label-CTA();

    -moz-appearance: textfield;
    text-align: center;
    line-height: $buttonSize;
    vertical-align: top;
    max-width: 32px;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__button {
    font-size: 18px;
    line-height: $buttonSize - 2*$borderWidth;
    border-radius: 50%;
    border: $borderWidth solid $darkShade25;
    background-color: $inputBackgroundColor;
    color: $darkShade50;
    padding: 0;
    width: $buttonSize;

    &_disabled {
      color: $darkShade12;
      border-color: $darkShade12;
    }

    &:focus {
      outline: none;
    }

    &:not(&_disabled) {
      &:focus,
      &:hover {
        border-color: $darkShade75;
        color: $darkShade75;
        cursor: pointer;
      }
    }
  }
}
