.spinner {
  width: fit-content;
  float: right;

  &__value {
    @include text_label-CTA();
    display: inline-block;
    text-align: center;
    max-width: 32px;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
  }

  &__button {
    $buttonSize: 30px;

    border-radius: 50%;
    border: 1px solid $darkShade50;
    color: $darkShade50;
    background-color: $inputBackgroundColor;
    width: $buttonSize; // круглые кнопки фиксированного размера
    height: $buttonSize;
    padding: 0;

    @include text(Montserrat, normal, 18px, 22px, $darkShade50, 0px);

    &_disabled {
      color: $darkShade25;
      border-color: $darkShade25;
    }

    &:focus {
      outline: none;
    }

    &:not(&_disabled) {
      &.focused,
      &:hover {
        border-color: $darkShade75;
        color: $darkShade75;
        cursor: pointer;
      }
    }
  }
}
