include ../Input/Input

mixin TextField(labelText, placeholder, addClasses, mask)
	div(class="textField")
		label(class="text_type_label-CTA textField__title " + addClasses) #{labelText}
			br
			+Input("text", placeholder, "input_type_text textField__input", mask)
