include ../Input/_type/Input_type_text

mixin textField(labelText, inputText)
	div(class="textField")
		label(class="label-CTA textField__title") #{labelText}
			br
		+TextInput(inputText, "textField__input")
