include ../Input/_type/Input_type_text

mixin TextField(labelText, inputText, addClasses, mask)
	div(class="textField")
		label(class="label-CTA textField__title " + addClasses) #{labelText}
			br
			+TextInput(inputText, "textField__input", mask)
