include ../blocks/header/header
include ../blocks/footer/footer
include ./page-head
mixin page-template()
  div.page-template
    div.page-template__wrap
      +header(
        {
          loginText: 'Войти',
          registerText: 'Зарегистрироваться',
          content: [
            { text: 'О нас' },
            {
              text: 'Услуги',
              children: [
                { text: 'Услуга 1', children: [{ text: '456', children: [{text: '1231' }] }] },
                { text: 'Услуга 2', children: [{ text: '123' }] }
              ]
            },
            { text: 'Вакансии' },
            { text: 'Новости' },
            {
              text: 'Соглашения',
              children: [
                { text: 'Соглашение 1', children: [{ text: '456', children: [{ text: '1231' }] }] },
                { text: 'Соглашение 2', children: [{ text: '123' }] }
              ]
            }
          ],
        }
      )
      block content
    div.page-template__footer
      +footer(
        {
          logo: logoPath,
          text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
          copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
          links: [
            {
              title: 'Навигация',
              links:
                [
                  { text: 'О нас' },
                  { text: 'Новости' },
                  { text: 'Служба поддержки' },
                  { text: 'Услуги' }
                ]
            },
            {
              title: 'О нас',
              links:
                [
                  { text: 'О сервисе' },
                  { text: 'Наша команда' },
                  { text: 'Вакансии' },
                  { text: 'Инвесторы' }
                ]
            },
            {
              title: 'Служба поддержки',
              links:
                [
                  { text: 'Соглашения' },
                  { text: 'Сообщества' },
                  { text: 'Связь с нами' }
                ]
            }
          ],
          subscription: {
            title: 'Подписка',
            text: 'Получайте специальные предложения и новости сервиса',
            emailPlaceholder: 'Email'
          }
        }
      )

<!DOCTYPE html>
html(lang='ru')
  -const options = {}
  block options
  +page-head(options)
  body
    +page-template()
