body {
  margin: 0;
}

.room-details {
  &__photos {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $darkShade50;
    @media (max-width: 1439px) {
      flex-wrap: wrap;
    }
  }

  &__main-photo {
    width: auto;
    height: auto;
    object-fit: cover;
    @media (max-width: 1439px) {
      width: 100%;
    }
  }

  &__side-photos {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1439px) {
      width: 100%;
      flex-direction: row;
    }
  }

  &__upper-side-photo {
    height: 50%;
    object-fit: cover;
    @media (max-width: 1439px) {
      width: 50%;
      height: auto;
    }
  }

  &__lower-side-photo {
    height: 50%;
    object-fit: cover;
    @media (max-width: 1439px) {
      width: 50%;
      height: auto;
    }
  }

  $horizontalGap: 70px;
  $verticalGap: 30px;
  &__content {
    padding: get-vw(70px) 0 get-vw(72px);
    border-bottom: 1px solid $darkShade25;
    display: flex;
    justify-content: center;
    @media (max-width: 1439px) {
      align-items: center;
    }
    @media (max-width: 1250px) {
      flex-wrap: wrap-reverse;
    }
    @media (max-width: 380px) {
      padding: 0;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    margin-right: get-vw($horizontalGap);
    @media (max-width: 1250px) {
      margin-left: get-vw($horizontalGap);
    }
    @media (max-width: 380px) {
      margin: 0;
      padding: 20px 20px;
    }
  }

  &__main-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: get-vw(33px);
    @media (max-width: 1250px) {
      justify-content: space-between;
    }
    @media (max-width: 610px) {
      justify-content: space-evenly;
      margin-bottom: $verticalGap;
    }
  }

  &__features-container {
    margin-right: get-vw(82px);
    @media (max-width: 1250px) {
      margin-right: 0;
    }
    @media (max-width: 610px) {
      margin-bottom: $verticalGap;
    }
  }

  &__features-title,
  &__expressions-title,
  &__reviews-title,
  &__rules-title,
  &__cancellation-title {
    margin: 0 0 20px 0;
  }

  &__features-title {
    letter-spacing: -0.6px;
  }

  &__expressions-title {
    letter-spacing: -0.4px;
  }

  &__donut-chart {
    @media (max-width: 610px) {
      align-items: center;
    }
  }

  &__reviews-container {
    margin-bottom: get-vw(33px);
    max-width: 710px;
    @media (max-width: 610px) {
      margin-bottom: $verticalGap;
    }
  }

  &__comment {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__reviews-title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__reviews-title {
    letter-spacing: -0.4px;
  }

  &__reviews-count {
    @include text_regular();
    flex-shrink: 0;
  }

  &__additional-info {
    display: flex;
    justify-content: space-between;

    @media (max-width: 850px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__rules-container {
    @media (max-width: 650px) {
      margin-right: 20px;
      margin-bottom: $verticalGap;
    }
    @media (max-width: 380px) {
      margin-right: 0;
    }
  }

  &__rules-title {
    padding: 0;
    margin-left: 20px;
    @media (max-width: 650px) {
      text-align: center;
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  &__cancellation-container {
    margin-right: 10px;
    min-width: 280px;
    max-width: 340px;
    @media (max-width: 650px) {
      min-width: unset;
      max-width: 253px;
      margin-right: 0;
    }
  }

  &__cancellation-title {
    @media (max-width: 650px) {
      text-align: center;
      margin-bottom: 10px
    }
  }

  &__cancellation-text {
    @include text_regular();
    line-height: 24px;
  }

  &__booking-card {
    @media (max-width: 1250px) {
      margin-bottom: $verticalGap*2;
    }
    @media (max-width: 380px) {
      width: 100%;
      margin: 0;
    }
  }
}
