body {
  margin: 0;
}

.room-details {
  &__photos {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $darkShade50;
    @media (max-width: 1439px) {
      flex-wrap: wrap;
    }
  }

  &__main-photo {
    width: auto;
    height: auto;
    object-fit: cover;
    @media (max-width: 1439px) {
      width: 100%;
    }
  }

  &__side-photos {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1439px) {
      width: 100%;
      flex-direction: row;
    }
  }

  &__upper-side-photo {
    height: 50%;
    object-fit: cover;
    @media (max-width: 1439px) {
      width: 50%;
      height: auto;
    }
  }

  &__lower-side-photo {
    height: 50%;
    object-fit: cover;
    @media (max-width: 1439px) {
      width: 50%;
      height: auto;
    }
  }

  $horizontalGap: 70px;
  $verticalGap: 30px;

  &__content {
    padding: get-vw(70px) 0 get-vw(72px);
    border-bottom: 1px solid $darkShade25;
    display: flex;
    justify-content: center;
    @media (max-width: 1439px) {
      align-items: center;
    }
    @media (max-width: 1250px) {
      flex-wrap: wrap-reverse;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    margin-right: get-vw($horizontalGap);
    @media (max-width: 1250px) {
      margin-left: get-vw($horizontalGap);
    }
    @media (max-width: 850px) {
      margin-right: 5px;
      margin-left: 5px;
    }

    h2 {
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      width: fit-content;
    }

    .room-details__reviews-container {
      margin-bottom: get-vw(33px); //PP
      max-width: 710px;
      @media (max-width: 610px) {
        margin-bottom: $verticalGap;
      }

      .room-details__reviews-title-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .room-details__reviews-title {
          letter-spacing: -0.4px;
        }

        .room-details__reviews-count {
          flex-shrink: 0;
        }
      }

      .room-details__reviews-content {
        .room-details__comment {
          &:not(:last-child) {
            margin-bottom: 23px;
          }
        }
      }
    }

    .room-details__additional-info {
      display: flex;
      justify-content: space-between;

      @media (max-width: 850px) {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .room-details__rules-container {
        @media (max-width: 610px) {
          margin-bottom: $verticalGap;
        }

        .room-details__rules-title {
          margin-bottom: 17px;
          margin-left: 20px;
          @media (max-width: 610px) {
            margin-left: 0;
          }
        }

        .room-details__rules-list {
          .list__title {
            display: none;
          }
        }
      }

      .room-details__cancellation-container {
        margin-right: 10px;
        min-width: 280px;
        max-width: 340px;
        @media (max-width: 550px) {
          max-width: 280px;
          margin-right: 0;
        }

        .room-details__cancellation-title {
          margin-bottom: 17px;
        }

        .room-details__cancellation-text {
          line-height: 24px;
        }
      }
    }
  }

  &__main-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: get-vw(33px); //PP
    @media (max-width: 1250px) {
      justify-content: space-between;
    }
    @media (max-width: 610px) {
      justify-content: space-evenly;
      margin-bottom: $verticalGap;
    }
  }

  &__features-container {
    margin-right: get-vw(82px); //PP
    @media (max-width: 1250px) {
      margin-right: 0;
    }
    @media (max-width: 610px) {
      margin-bottom: $verticalGap;
    }
  }

  &__features-title {
    letter-spacing: -0.6px;
  }

  &__expressions-title {
    letter-spacing: -0.4px;
  }

  &__donut-chart {
    .donut-chart__svg-arc:hover {
      stroke-width: 10px;
      cursor: pointer;
    }

    @media (max-width: 610px) {
      align-items: center;
    }
  }

  &__booking-card {
    @media (max-width: 1250px) {
      margin-bottom: $verticalGap*2;
    }
  }
}
