.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0px 10px 20px $darkShade5;
  width: 100%;
  padding: get-vw(15px) get-vw(140px);
  @include boxSizingBorderBox();

  &__logo {
    display: block;
  }

  &__content-container {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
  }

  //region menu items
  &__menu-item {
    &:not(:last-child) {
      margin-right: get-vw(29px);
    }

    &.header__menu-item_expandable:not(:last-child) {
      margin-right: get-vw(20px);
    }

    display: flex;
    position: relative;
    align-items: center;
    color: $darkShade50;
    text-align: center;

    &.header__menu-item_bold, .header__submenu-item_bold {
      font-weight: bold;
      color: $darkShade75;
    }

    &:hover {
      .header__submenu {
        display: block;
        padding: 5px;
      }
    }
  }

  &__expand-button {
    @include icon();
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    user-select: none;
    color: $darkShade50;
  }

  &__submenu {
    display: none;
    position: absolute;
    z-index: 1;
    background: white;
    border: solid 1px $darkShade30;
    border-radius: 5px;

    top: 100%;

    .header__submenu-item { //для последовательного раскрытия нужен именно вложенный стиль
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 30px;
      position: relative;

      &:not(:last-child) {
        border-bottom: solid 1px $darkShade75;
      }

      > .header__expand-button {
        transform: rotate(-90deg);
      }

      &:hover > .header__submenu {
        display: block;
      }

      > .header__submenu {
        display: none;
        left: 90%;
        box-shadow: -8px 0px 5px -5px $darkShade20; //todo: может быть сделать визуал не наслаиванием
        right: unset;
        top: 0;
      }
    }
  }
  //endregion

  //Если залогинен - вертикальный разделитель и имя пользователя
  &__divider {
    flex-shrink: 0;
    display: block;
    height: 30px;
    margin: 0 get-vw(30px);
    border: solid 1px $darkShade10;
  }

  &__user-name {
    color: $darkShade50;
  }

  //Если не залогинен - кнопки логина и регистрации
  &__buttons-container {
    display: flex;
    margin-left: get-vw(27px);
  }

  &__login-button {
    margin-right: get-vw(20px);
  }
}

@media (max-width: 1100px) {
  .header {
    padding-right: 0;
    padding-left: 0;
    justify-content: space-evenly;
  }
}

@media (max-width: 850px) {
  .header {
    flex-direction: column;

    &__content-container {
      flex-direction: column;
    }

    &__menu {
      margin-right: 0;
    }

    &__divider {
      width: 30px;
      height: 0px;
      margin: 5px 0;
    }
  }
}

@media (max-width: 450px) {
  .header {
    &__content-container {
      width: 100%;

      :not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__menu {
      flex-direction: column;
    }

    &__menu-item {
      &:not(:last-child) {
        margin: 5px 0;

        &.header__menu-item_expandable {
          margin: 5px 0 5px 12px;
        }
      }
    }

    &__divider {
      width: 100%;
      margin-top: 0;
      margin-bottom: 5px;
    }

    &__buttons-container {
      justify-content: space-evenly;
      width: 100%;
    }
  }

  &_narrow {
    &__menu-item {
      &:not(:last-child) {
        margin-right: get-vw(21px);
      }
    }

    &__buttons-container {
      margin-left: get-vw(20px);
    }
  }

}
