$avatarSize: 48px;

.comment {
  max-width: 710px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 10px;

  &__avatar-wrap {
    max-width: $avatarSize;
    max-height: $avatarSize;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
    overflow: hidden;
  }

  &__avatar {
    width: 100%;
  }

  &__author,
  &__date-time {
    @include text_regular();

    line-height: 24px;
  }

  &__author {
    display: block;
    margin: 0;
    font-weight: bold;
  }

  &__likes {
    justify-self: center;
    margin-top: 2px;
  }

  &__text {
    @include text_regular();

    margin: 0;
    line-height: 24px;
  }
}
