$spaceBetweenInputs: 20px;
$narrowInputWidth: 150px;

.double-date-picker {
  display: flex;
  max-width: $narrowInputWidth*2 + $spaceBetweenInputs;
  justify-content: space-between;
  @include boxSizingBorderBox();
}
