include ../date-picker/date-picker
include ../input/input

mixin double-date-picker({firstTitle='', secondTitle='', firstDate, secondDate} = {})
  section.double-date-picker.js-double-date-picker(data-first-date=firstDate data-second-date=secondDate)
    div.double-date-picker__first-date-picker.js-double-date-picker__first-date-picker
      +date-picker({title: firstTitle, width: 'narrow', placeholder: 'ДД.ММ.ГГГГ'})
    div.double-date-picker__second-date-picker.js-double-date-picker__second-date-picker
      +input({title: secondTitle, width: 'narrow', placeholder: 'ДД.ММ.ГГГГ', isExpandable: true, inDatePicker: true})
