.double-date-picker {
  @include box-sizing-border-box();

  display: flex;
  align-items: flex-end;
  max-width: 320px;
  justify-content: space-between;

  @media (max-width: 380px) {
    max-width: 300px;
  }

  &__first-date-picker,
  &__second-date-picker {
    max-width: 150px;

    @media (max-width: 380px) {
      max-width: 140px;
    }
  }

  &__first-date-picker {
    margin-right: 20px;
  }
}
