include ../../blocks/color-block/color-block
include ../../blocks/type-block/type-block

section.colors-types
  div.colors-types__color-blocks
    div.colors-types__color-block
      +colorBlock({color: '#1F2041', colorName: 'Dark Shade 100%'})
    div.colors-types__color-block
      +colorBlock({color: '#1F2041', colorName: 'Dark Shade 75%'})
    div.colors-types__color-block
      +colorBlock({color: '#1F2041', colorName: 'Dark Shade 50%'})
    div.colors-types__color-block
      +colorBlock({color: '#1F2041', colorName: 'Dark Shade 25%'})
    div.colors-types__color-block
      +colorBlock({color: '#1F2041', colorName: 'Dark Shade 5%'})
    div.colors-types__color-block
      +colorBlock({color: '#BC9CFF', colorName: 'Purple'})
    div.colors-types__color-block
      +colorBlock({color: '#6FCF97', colorName: 'Green'})
  div.colors-types__type-blocks
    div.colors-types__type-block
      +typeBlock({headerText: 'H1', text: 'This one is the sub-section or widget title'})
    div.colors-types__type-block
      +typeBlock({headerText: 'H2', text: 'Next one is the item title inside widgets'})
    div.colors-types__type-block
      +typeBlock({headerText: 'H3', text: 'this is a label or CTA text'})
    div.colors-types__type-block
      +typeBlock({headerText: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})
