include ../../blocks/color-block/color-block
include ../../blocks/type-block/type-block

section.colors-types
  div.colors-types__color-blocks
    div.colors-types__color-block
      +colorBlock({colorCode: '#1F2041', colorCaption: 'Dark Shade 100%', colorName: 'dark shade'})
    div.colors-types__color-block
      +colorBlock({colorCode: '#1F2041', colorCaption: 'Dark Shade 75%', colorName: 'shade'})
    div.colors-types__color-block
      +colorBlock({colorCode: '#1F2041', colorCaption: 'Dark Shade 50%', colorName: 'light shade'})
    div.colors-types__color-block
      +colorBlock({colorCode: '#1F2041', colorCaption: 'Dark Shade 25%', colorName: 'lighter shade'})
    div.colors-types__color-block
      +colorBlock({colorCode: '#1F2041', colorCaption: 'Dark Shade 5%', colorName: 'lightest shade'})
    div.colors-types__color-block
      +colorBlock({colorCode: '#BC9CFF', colorCaption: 'Purple', colorName: 'purple'})
    div.colors-types__color-block
      +colorBlock({colorCode: '#6FCF97', colorCaption: 'Green', colorName: 'green'})
  div.colors-types__type-blocks
    div.colors-types__type-block
      +typeBlock({headerText: 'H1', text: 'This one is the sub-section or widget title'})
    div.colors-types__type-block
      +typeBlock({headerText: 'H2', text: 'Next one is the item title inside widgets'})
    div.colors-types__type-block
      +typeBlock({headerText: 'H3', text: 'this is a label or CTA text'})
    div.colors-types__type-block
      +typeBlock({headerText: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})
