mixin twoCalendarRangePicker()
	div.twoCalendarRangePicker
		+Input("DatePicker", "datepicker narrow", "ДД.ММ.ГГГГ", "twoCalendarRangePicker__datepicker twoCalendarRangePicker__firstDatepicker", "")
		+Input("DatePicker", "datepicker narrow", "ДД.ММ.ГГГГ", "twoCalendarRangePicker__datepicker twoCalendarRangePicker__secondDatepicker", "")
