mixin twoCalendarRangePicker(titles=[])
	div(class = "twoCalendarRangePicker " + attributes.addClasses)
		+Input(titles[0], "datepicker narrow", "ДД.ММ.ГГГГ", "twoCalendarRangePicker__datepicker twoCalendarRangePicker__firstDatepicker", "")
		+Input(titles[1], "datepicker narrow", "ДД.ММ.ГГГГ", "twoCalendarRangePicker__datepicker twoCalendarRangePicker__secondDatepicker", "")

