mixin addMaskedInput(imAttributes, imData)
  include ../../_decoration/_enter-arrow/input_decoration_enter-arrow
  each value, index in Object.values(imAttributes)
    - value.class += classNames[index] + "_masked "
  div&attributes(imAttributes.blockAttributes)
    if imData.title
      label&attributes(imAttributes.titleAttributes) #{imData.title}
        br
        div&attributes(imAttributes.controlWrapperAttrs)
          if imData.withSubscription
            +enterArrow()
          input&attributes(imAttributes.controlAttributes)(value=imData.data)
    else
      label&attributes(imAttributes.titleAttributes)
        div&attributes(imAttributes.controlWrapperAttrs)
          input&attributes(imAttributes.controlAttributes)(value=imData.data)
          if imData.withSubscription
            +enterArrow()
