@use '../../common/resets';

$background-indexes: 1, 2, 3;

.landing {
  @include box-sizing-border-box();

  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -70px;
  width: 100%;
  height: get-vw(830px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: get-vw(70px) get-vw(134px) get-vw(21px) get-vw(140px);

  @media (max-width: 1439px) {
    background-position-y: 0;
  }

  @media (max-width: 1345px) {
    padding-bottom: get-vw(50px);
  }

  @media (max-width: 850px) {
    align-items: center;
    height: fit-content;
    background-position-y: 0;
    padding-bottom: get-vw(10px);
  }

  @media (max-width: 380px) {
    background-position-y: -58px;
    padding: 0;
  }

  @each $i in $background-indexes {
    &[data-background-index="#{$i}"] {
      background-image: url('~Assets/images/room-big-#{$i}.jpg');
    }
  }

  &__main-heading {
    @include visually-hidden();
  }

  &__find-room-card {
    align-self: flex-start;

    @media (max-width: 850px) {
      align-self: unset;
    }
  }

  &__slogan {
    @include text_regular();

    font-size: 14px;
    line-height: 24px;
    max-width: 300px;
    text-align: right;
    align-self: flex-end;

    @media (max-width: 1345px) {
      max-width: max-content;
      align-self: center;
    }

    @media (max-width: 850px) {
      align-self: unset;
    }

    @media (max-width: 380px) {
      display: none;
    }
  }
}
