extends ../page-template

include ../../cards/find-room-card/find-room-card

block content
  main.landing.js-landing
    h1.landing__main-heading Главная страница
    div.landing__find-room-card
      +find-room-card(2)
    span.landing__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
