extends ../page-template

include ../../cards/find-room-card/find-room-card

mixin landing()
  main.landing.js-landing
    div.landing__find-room-card
      +find-room-card(1)
    span.landing__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения

block content
  +landing()
