mixin socialMedia()
	div.footer__social-media
		a.footer__twitter-icon.footer__icon.fab.fa-twitter(href="https://twitter.com/" target="_blank")
		a.span.footer__facebook-icon.footer__icon.fab.fa-facebook-square(href="https://facebook.com/" target="_blank")
		a.span.footer__instagram-icon.footer__icon.fab.fa-instagram(href="https://www.instagram.com/" target="_blank")
