.registrationCard {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid $darkShade12;
  box-shadow: 0 0 25px $darkShade20;
  border-radius: 4px;
  padding: 40px 30px 30px 30px;

  .registrationCard__title {
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -0.6px;
  }

  .registrationCard__userName,
  .registrationCard__userSurname,
  .registrationCard__email,
  .registrationCard__password {
    .input__control {
      margin-top: 0;
    }
  }

  .registrationCard__userName {
    margin-bottom: 10px;
  }

  .registrationCard__userSurname {
    margin-bottom: 10px;
  }

  .registrationCard__genderList {
    > .list__container {
      > .list__input {
        margin-top: 0;
      }
    }

    margin-bottom: 20px;
  }

  .registrationCard__birthDay {
    margin-bottom: 22px;
  }

  .registrationCard__loginDataContainer {
    margin-bottom: 9px;

    .registrationCard__loginDataTitle {
      margin: 0;
      margin-bottom: 6px;
    }

    .registrationCard__email {
      margin-bottom: 10px;
    }

    .registrationCard__password {
    }
  }

  .registrationCard__sendOffers {
    margin-bottom: 24px;
  }

  .registrationCard__paymentButton {
    margin-bottom: 30px;
  }

  .registrationCard__actionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .registrationCard__haveAccountLink {
      text-decoration: none;
      @include text(Montserrat, normal, 14px, 18px, black, normal);
    }

    .registrationCard__loginButton {
    }
  }
}

@media (max-width: 340px) {
  .registrationCard {
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;

    .registrationCard__title {
      text-align: center;
    }

    .registrationCard__genderList {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    .registrationCard__sendOffers {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    .registrationCard__actionContainer {
      justify-content: space-evenly;
    }
  }
}
