include ../../blocks/Input/Input
include ../../blocks/Checkbox/Checkbox
include ../../blocks/Button/Button
include ../../blocks/List/list

mixin registrationCard(data={})
	-var addClasses = attributes.addClasses ? attributes.addClasses : ""
	div.registrationCard(class=addClasses)
		h3.registrationCard__title.text_type_widgetTitle Регистрация аккаунта
		+input("", "text", "Имя", "registrationCard__userName", "")
		+input("", "text", "Фамилия", "registrationCard__userSurname", "")
		-var radioButtons = [{text: "Мужчина", group: "registrationGender", isChecked: true}]
		-radioButtons.push({text: "Женщина", group: "registrationGender"})
		+list("radio", "", radioButtons, "registrationCard__genderList")
		+input("Дата рождения", "text mask", "ДД.ММ.ГГГГ", "registrationCard__birthDay", "[0123][0-9].[012][0-9].[0-9]{4}")
		div.registrationCard__loginDataContainer
			p.text_type_label-CTA.registrationCard__loginDataTitle Данные для входа в сервис
			+input("", "text", "Email", "registrationCard__email")
			+input("", "text", "Пароль", "registrationCard__password")
		+checkbox("Получать спецпредложения", "toggle", "", "registrationCard__sendOffers")
		+Button("Перейти к оплате", "button_type_filled button_size_wide registrationCard__paymentButton")(decoration = "enterArrow")
		div.registrationCard__actionContainer
			a.registrationCard__haveAccountLink(href=data.loginURL) Уже есть аккаунт на Toxin
			+Button("Войти", "button_type_bordered registrationCard__loginButton")
