include ../../blocks/Button/Button
include ./__menuItem/header__menuItem

mixin header(data={}, content=[])
	header.header
		img(src=data.logo alt="logo").header__logo
		div.header__contentContainer
			ul.header__menu
				each item, index in content
					+header__menuItem(item)
				if (data.userLogin)
					li.header__divider.header__menuItem
					li.header__userName.header__menuItem.text_type_regular #{data.userLogin}
				else
					li.header__buttonsContainer.header__menuItem
						+Button(
							data.loginText ? data.loginText : "Login",
							"button_type_bordered header__loginButton",
							true
						)
						+Button(
							data.registerText ? data.registerText : "Register",
							"button_type_filled header__registerButton",
							true
						)
