include ../../blocks/Button/Button
include ./__menuItem/header__menuItem

mixin header(data={}, content=[])
	header.header
		img(src=data.logo alt="logo").header__logo
		div.header__contentContainer
			ul.header__menu
				each item, index in content
					+header__menuItem(item)
			if (data.userLogin)
				div.header__divider
				div.header__userName.text_type_regular #{data.userLogin}
			else
				div.header__buttonsContainer
						+Button(
							data.loginText ? data.loginText : "Login",
							"button_type_bordered header__loginButton",
							{isTextSized: true, isLink: true}
						)
						+Button(
							data.registerText ? data.registerText : "Register",
							"button_type_filled header__registerButton",
							{isTextSized: true, isLink: true}
						)
