@import "../variables";

.button_type_bordered {
  position: relative;

  .button__border {
    display: none;

    &.button__border_type_bordered {
      content: '';
      display: block;
      background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
      width: 99px;
      height: 44px;
      position: absolute;
      border-radius: 22px;
    }
  }

  .button__control {

    position: relative;
    border: none;
    background-color: $inputBackgroundColor;
    color: $purple;

    width: 99px - ($buttonBorderWidth * 2);
    height: 44px - ($buttonBorderWidth * 2);
    margin: $buttonBorderWidth;
  }
}
