.button_type_text {
  &__control {
    &:focus {
      outline: none;
    }

    border: none;
    background-color: transparent;

    width: fit-content;
    height: 15px;

    color: $purple;
    cursor: pointer;
  }
}
