@import "../../variables";

$toggleCircleSize: 12px;
$toggleCircleMargin: 4px;

@keyframes desaturate {
  from {
    border-color: $purple;
    filter: grayscale(0%) brightness(100%);
  }
  to {
    filter: grayscale(100%) brightness(120%);
    border-color: $purple;
  }
}

@keyframes saturate {
  from {
    filter: grayscale(100%) brightness(120%);
    border-color: $purple;
  }
  to {
    filter: grayscale(0%) brightness(100%);
    border-color: $purple;
  }
}

@keyframes moveRight {
  from {
    left: $toggleCircleMargin - $checkboxButtonBorderWidth;
    top: $toggleCircleMargin - $checkboxButtonBorderWidth;
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }
  to {
    left: calc(100% - #{$toggleCircleSize} - #{$toggleCircleMargin} + #{$checkboxButtonBorderWidth});
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }
}

@keyframes moveLeft {
  from {
    left: calc(100% - #{$toggleCircleSize} - #{$toggleCircleMargin} + #{$checkboxButtonBorderWidth});
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }
  to {
    left: $toggleCircleMargin - $checkboxButtonBorderWidth;
    top: $toggleCircleMargin - $checkboxButtonBorderWidth;
    background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
  }
}


.checkbox_type_toggle {
  &__label {
    width: fit-content;
    max-width: none;

    &:hover {
      color: $darkShade75;

      .checkbox_type_toggle__button {
        border-color: $purple;
        animation-name: saturate;
        animation-duration: 0.4s;

        &:after {
          background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
        }
      }
    }

    .checkbox_type_toggle {
      &__button {
        width: 40px;
        height: 20px;
        border-radius: 10px;
        border-color: $darkShade25;
        animation-name: desaturate;
        animation-duration: 0.4s;

        &:after {
          content: "";
          display: block;
          position: relative;
          left: $toggleCircleMargin - $checkboxButtonBorderWidth;
          top: $toggleCircleMargin - $checkboxButtonBorderWidth;
          width: $toggleCircleSize;
          height: $toggleCircleSize;
          border-radius: 50%;
          background-color: $darkShade25;

          animation-name: moveLeft;
          animation-duration: 0.4s;
        }
      }

      &__text {
        color: $darkShade75;
      }
    }

    &.ui-checkboxradio-checked {
      color: $darkShade75;

      .checkbox_type_toggle__button {
        border-color: $purple;
        animation-name: saturate;
        animation-duration: 1s;

        &:after {
          background: linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%);
          left: calc(100% - #{$toggleCircleSize} - #{$toggleCircleMargin} + #{$checkboxButtonBorderWidth});
          animation-name: moveRight;
          animation-duration: 0.4s;
        }
      }
    }
  }
}
