.list {
  padding: 0;
  margin: 0;
  border: none;
  @include boxSizingBorderBox();

  p {
    margin: 0;
  }

  &__title {
    margin: 0;
    padding: 0;
    user-select: none;
  }

  &__container {
    padding-top: 1px;
  }

  &__expand-arrow {
    display: none;
  }
}
