$arrowWrapSize: 44px;
$arrowSize: 24px;
$titleHeight: 12px;

.list {
  @include boxSizingBorderBox();
  padding: 0;
  margin: 0;
  border: none;
  position: relative;

  &__title {
    @include text_label-CTA();
    margin: 0;
    padding: 0;
    user-select: none;

    // region Expandable
    &_expandable {
      min-width: 266px;
      padding-right: $arrowWrapSize;
      line-height: $titleHeight;
      position: relative;
    }
    // endregion

    &_expandable-narrow {
      &:after {
        bottom: 2px;
        left: 13px;
        cursor: pointer;
      }
    }
  }

  &__expand-arrow {
    width: $arrowWrapSize;
    height: $arrowWrapSize;
    padding: ($arrowWrapSize - $arrowSize)/2;
    position: absolute;
    top: -($arrowWrapSize - $titleHeight)/2 - 1px;
    right: 0;
  }

  &__container {
    padding-top: 1px;

    &_expandable {
      display: none;
      padding-top: 3px;
    }

    &_expandable#{&}_visible {
      display: block;
    }
  }

  &__input {
    // region checkbox
    &_type_checkbox {
      content: "text";
      &:first-child {
        margin-top: 16px;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    // endregion

    // region radio
    &_type_radio {
      display: inline-block;
      margin-top: 15px;
    }

    &_type_radio#{&}:not(:last-child) {
      margin-right: 20px;
    }
    //endregion

    // region rich
    &_type_rich {
      &:first-child {
        margin-top: 17px;
      }
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }
    // endregion

    // region toggle
    &_type_toggle {
      &:first-child {
        margin-top: 15px;
      }
      &:not(:last-child) {
        margin-bottom: 13px;
      }
    }
    // endregion
  }
}
