include ../Checkbox/Checkbox
include ./_type/_bullet/List_type_bullet

mixin list(types, title, checkboxes=[], addClasses)
	-var listClassName = "list"
	-var titleClassName = "list__title"
	-var containerClassName = "list__container"
	-var classNames = [listClassName, titleClassName, containerClassName]

	-var listAttrs = {class: listClassName + " "}
	-var titleAttrs = {class: titleClassName + " " + " text_type_label-CTA "}
	-var containerAttrs = {class: containerClassName + " "}
	-var attrs = [listAttrs, titleAttrs, containerAttrs]

	if addClassesArr
		-var addClassesArr = addClasses.split(' ')
		each value, index in attrs
			each inValue, inIndex in addClassesArr
				- value.class += classNames[index] + "_" + inValue + " "

	-var inputType = ""
	if types.includes("checkbox")
		each value, index in attrs
			- value.class += classNames[index] + "_type_checkbox "
		-inputType = "checkbox"
	else if types.includes("radio")
		each value, index in attrs
			- value.class += classNames[index] + "_type_radio "
		-inputType = "radio"
	else if types.includes("toggle")
		each value, index in attrs
			- value.class += classNames[index] + "_type_toggle "
		-inputType = "toggle"
	else if types.includes("rich")
		each value, index in attrs
			- value.class += classNames[index] + "_type_rich "
		-inputType = "rich"

	if types.includes("expandable")
		each value, index in attrs
			- value.class += classNames[index] + "_expandable "

	fieldset&attributes(listAttrs)
		legend&attributes(titleAttrs) #{title}
		div&attributes(containerAttrs)
			each value, index in checkboxes
				+checkbox(value.text, inputType + " " + value.class, value, listClassName + "__input_type_" + inputType)
