.list {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;

  .list__title {
    margin: 0;
    padding: 0;
    user-select: none;
  }

  .list__container {
    padding-top: 1px;
  }

  .list__expandArrow {
    display: none;
  }
}
