.footer_type_large {
  h3 {
    margin: 0;
  }

  .footer__contentSection {
    padding-right: get-vw(140px);
    padding-left: get-vw(140px);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    .footer__logoSection {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      margin-right: get-vw(40px);

      .footer__logo {
        margin-bottom: 20px;
      }

      .footer__logoText {
        max-width: 260px;
        line-height: 24px;
      }
    }

    .footer__linksSection {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-grow: 1;
      padding-top: 6px; //не придумал гибкого варианта, т.к. на макете они не строго по центру контейнера, но и не вровень с логотипом
      @media (max-width: 1440px) {
        //align-items: flex-start;
        justify-content: flex-start;
      }

      .footer__linksColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: get-vw(200px);

        .footer__linksSectionTitle {
          margin-bottom: 21px;
        }

        .footer__link {
          &:not(:last-child) {
            margin-bottom: 22px; //высота строки как в макете, но отступ всё равно на 2 пикселя больше
          }

          line-height: 17px;
        }
      }
    }

    .footer__subscribeSection {
      width: min-content;
      display: flex;
      flex-direction: column;
      padding-top: 5px;

      .footer__subscriptionTitle {
        margin-bottom: 21px;
      }

      .footer__subscriptionText {
        line-height: 24px;
        margin-bottom: 20px;
      }

      .footer__subscribeInput {
      }
    }
  }

  .footer__copyrightBar {
    padding-right: get-vw(140px);
    padding-left: get-vw(140px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px $darkShade25;
    height: 70px;

    .footer__copyrightText {
    }

    .footer__socialMedia {

      .footer__icon {
        &:not(:first-child) {
          margin-left: get-vw(23px); //в макете 20, а по ПП - 23
        }

        &.footer__twitterIcon {
        }

        &.footer__facebookIcon {
        }

        &.footer__instagramIcon {
        }
      }
    }
  }
}
