.footer_type_large {
  h3 {
    margin: 0;
  }

  .footer__contentSection {
    padding-right: get-vw(140px);
    padding-left: get-vw(140px);
    padding-top: get-vw(100px);
    padding-bottom: get-vw(100px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1439px) {
      align-items: center;
    }
    @media (max-width: 1039px) {
      flex-direction: column;

      > :not(:first-child) {
        margin: 0;
        margin-top: 30px;
      }
    }
    @media (max-width: 700px) {
      padding-left: 0;
      padding-right: 0;
    }


    .footer__logoSection {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      margin-right: get-vw(40px);
      @media (max-width: 1439px) {
        margin-right: 0;
      }
      @media (max-width: 1039px) {
        align-items: center;
      }

      .footer__logo {
        margin-bottom: 17px;
      }

      .footer__logoText {
        max-width: 260px;
        line-height: 24px;
        @media (max-width: 1039px) {
          width: 70%;
          text-align: center;
          max-width: unset;
        }
        @media (max-width: 700px) {
          width: 90%;
        }
        @media (max-width: 450px) {
          width: 100%;
        }
      }
    }

    .footer__linksSection {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-grow: 1;
      padding-top: 6px; //не придумал гибкого варианта, т.к. на макете они не строго по центру контейнера, но и не вровень с логотипом
      @media (max-width: 1039px) {
        width: 100%;
      }

      .footer__linksColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: get-vw(200px);

        .footer__linksSectionTitle {
          margin-bottom: 21px;
        }

        .footer__link {
          &:not(:last-child) {
            margin-bottom: 22px; //высота строки как в макете, но отступ всё равно на 2 пикселя больше
          }

          line-height: 17px;
        }
      }
    }

    .footer__subscribeSection {
      width: min-content;
      display: flex;
      flex-direction: column;
      padding-top: 5px;

      .footer__subscriptionTitle {
        margin-bottom: 21px;
      }

      .footer__subscriptionText {
        line-height: 24px;
        margin-bottom: 20px;
      }

      .footer__subscribeInput {
      }
    }
  }

  .footer__copyrightBar {
    padding-right: get-vw(140px);
    padding-left: get-vw(140px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px $darkShade25;
    height: 70px;

    @media (max-width: 700px) {
      padding-left: 0;
      padding-right: 0;
      justify-content: space-evenly;
    }
    @media (max-width: 450px) {
      justify-content: space-between;
    }

    .footer__copyrightText {
    }

    .footer__socialMedia {
      @media (max-width: 450px) {
        min-width: 80px;
      }

      .footer__icon {
        &:not(:first-child) {
          margin-left: get-vw(23px); //в макете 20, а по ПП - 23
        }

        &.footer__twitterIcon {
        }

        &.footer__facebookIcon {
        }

        &.footer__instagramIcon {
        }
      }
    }
  }
}
