$fontsPath: "./assets/fonts";

@font-face {
  font-family: Montserrat;
  src: url("#{$fontsPath}/Montserrat-Regular.ttf"), url("#{$fontsPath}/Montserrat-Regular.svg"); //todo: SVG
}

@font-face {
  font-family: Montserrat;
  src: url("#{$fontsPath}/Montserrat-Bold.ttf"), url("#{$fontsPath}/Montserrat-Bold.svg");
  font-weight: bold;
}

@font-face {
  font-family: Quicksand;
  src: url("#{$fontsPath}/Quicksand-Regular.ttf"), url("#{$fontsPath}/Quicksand-Regular.svg");
}

@font-face {
  font-family: Quicksand;
  src: url("#{$fontsPath}/Quicksand-Bold.ttf"), url("#{$fontsPath}/Quicksand-Bold.svg");
  font-weight: bold;
}
