doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title TOXIN
  body
    div.ui-kit UI
      a(href='ui-kit.html') Go to UI-Kit
    div.site-pages Site
      a(href='landing-page.html') Landing page
      a(href='registration-login.html?login=false') Registration
      a(href='registration-login.html?login=true') Login
      a(href='search-room.html') Room search
      a(href='room-details.html') Room details
