doctype html
html
	head
		title TOXIN
	body
		a(href="second.html" class="widgetTitle") 123 instead of Title
		div(class="inputWrapper")
			include blocks/Input/_type/Input_type_text
		div(class="buttonWrapper")
			include blocks/Button/Button
