.ui-kit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  > *:first-child {
    margin-top: 5px;
  }
}
.site-pages {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 5px;

    &:first-child {
      margin-top: 5px;
    }
  }
}
