doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title TOXIN
	body
		a(href="second.html" class="text_type_widgetTitle") Go to UI-Kit
		br
		a(href="landingPage.html" class="text_type_widgetTitle") Go to site
