doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title TOXIN
  body
    a(href="ui-kit.html" class="text_type_widget-title") Go to UI-Kit
    br
    a(href="landing-page.html" class="text_type_widget-title") Go to site
