doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title TOXIN
  body
    div.ui-kit.text_type_widget-title UI
      a(href="ui-kit.html" class="text_type_regular") Go to UI-Kit
    div.site-pages.text_type_widget-title Site
      a(href="landing-page.html" class="text_type_regular") Landing page
      a(href="registration-login.html?login=false" class="text_type_regular") Registration
      a(href="registration-login.html?login=true" class="text_type_regular") Login
      a(href="search-room.html" class="text_type_regular") Room search
      a(href="room-details.html" class="text_type_regular") Room details
