html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title UI-Kit
	body
		a(href="index.html" class="text_type_label-CTA pageHeader") Вернуться на главную
		br
		div.bodyContainer
			div.inputsContainer.container
				include blocks/Input/Input
				include blocks/twoCalendarRangePicker/twoCalendarRangePicker
				+Input("Text field", "text", "This is pretty awesome", "", "")
				+Input("Masked Text Field", "text mask", "ДД.ММ.ГГГГ", "", "[0123][0-9].[012][0-9].[0-9]{4}")
				+Input("DatePicker", "datepicker", "ДД.ММ.ГГГГ", "", "")
				+twoCalendarRangePicker()
				+Input("Dropdown №0", "dropdown narrow", "test", "", "", ["Дети", "Взрослые", "Младенцы", "Тест"], [-2, 2])
				+Input("Dropdown", "dropdown medium rooms", "Комплектация номера", "", "", ["Спальни", "Кровати", "Ванные комнаты"])
				+Input("Dropdown №2", "dropdown customers", "Сколько гостей", "", "", ["Взрослые", "Дети", "Младенцы"])
			div.buttonsContainer.container
				include blocks/Button/Button
				+Button("Click Me", "firstRow__button button_type_text")
				+Button("Click Me", "button_type_text button_hovered firstRow__button")
				+Button("Click Me", "button_type_filled secondRow__button")
				+Button("Click Me", "button_type_filled button_hovered secondRow__button")
				+Button("Click Me", "button_type_bordered thirdRow__button")
				+Button("Click Me", "button_type_bordered button_hovered thirdRow__button")
				+Button("Click Me", "button_type_filled button_width_wide fourthRow")
				+Button("Click Me", "button_type_bordered button_width_wide fifthRow")
				+Button("Click Me", "button_type_filled button_width_wide sixthRow")(decoration = "enterArrow")
			div.checkboxContainer.container
				include blocks/Checkbox/Checkbox
				include blocks/List/list

				-var checkButtons = [{text: "Можно курить"}]
				-checkButtons.push({text: "Можно с питомцами"})
				-checkButtons.push({text: "Можно пригласить гостей (до 10 человек)"})
				br
				+list("checkbox", "Checkbox List", checkButtons)
				br
				+list("checkbox expandable", "Expandable Checkbox List", checkButtons)
			div.richCheckboxContainer.container
				+checkbox("Широкий коридор", "rich", {description: "Ширина коридоров в номере \n не менее 91 см."})
				+checkbox("Помощник для инвалидов", "rich", {description: "На 1 этаже вас встретит специалист \n и проводит до номера."})
				br
				-var richButtons = [{text: "Широкий коридор", description: "Ширина коридоров в номере \n не менее 91 см."}]
				-richButtons.push({text: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист \n и проводит до номера."})
				+list("rich", "Rich checkbox buttons", richButtons)
			div.radioContainer.container
				-var radioButtons = [{text: "Мужчина", group: "gender"}]
				-radioButtons.push({text: "Женщина", group: "gender"})
				+list("radio", "Radio buttons", radioButtons)
				br
				+list("radio expandable", "Expandable Radio buttons", radioButtons)
			div.toggleContainer.container
				+checkbox("Получать спецпредложения", "toggle toggled")
				+checkbox("Получать спецпредложения 2", "toggle")
				br
				-var toggleButtons = [{text: "Получать спецпредложения", class: "toggled"}]
				-toggleButtons.push({text: "Получать спецпредложения 2"})
				+list("toggle", "toggle", toggleButtons)
				br
				+list("toggle expandable", "toggle expandable", toggleButtons)
			div.container
				+checkbox("2", "like")
				+checkbox("10", "like")
			div.slidersContainer.container
				include blocks/Slider/Slider
				+slider(100, 15000, 100, "Range Slider", "", true)
				+slider(0, 10, 1, "Range Slider", "", false)
			div.ratesContainer.container
				include blocks/RateButton/RateButton
				+rateButton()
				+rateButton()
			div.paginationContainer.container
				include blocks/Pagination/Pagination
				+pagination()
			div.bulletListContainer.container
				+bulletList(
					"Bullet List",
					["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
					)(isExpandable=false)
			div.featureListContainer.container
				+featureList([
					{text: "Шумопоглощающие стены", title: "Комфорт", icon: "insert_emoticon"},
					{title: "Удобство", text: "Окно в каждой из спален", icon: "location_city"}])
			div.commentContainer.container
				include blocks/Comment/Comment
				+comment({
					avatar: require("./assets/images/userAvatar.jpg"),
					author: "Мурад Сарафанов",
					dateTime: "5 дней назад",
					text: "Великолепный матрас на кровати в основной спальне! " +
						"А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. " +
						"Выкрикивал комплименты повару — никто не жаловался из соседей."
				})
			div.findRoomCardContainer.container
				include Cards/findRoomCard/findRoomCard
				+findRoomCard()
			div.registrationCardContainer.container
				include Cards/registrationCard/registrationCard
				+registrationCard({
					loginURL: "#",
				})
