html(lang="ru")
    head
        meta(charset="UTF-8")
        title UI-Kit
    body
        a(href="index.html" class="label-CTA") Вернуться на главную
        br
        br
        include blocks/textField/textField
        +TextField("Text Field", "This is pretty awesome", "")
        +TextField("Masked Text Field", "ДД.ММ.ГГГГ", "textField_masked", "12")
            //-+Button('not example')
