html(lang="ru")
    head
        meta(charset="UTF-8")
        title UI-Kit
    body
        a(href="index.html" class="label-CTA") Вернуться на главную
        br
        br
        include blocks/textField/textField
        include blocks/textField/_masked/textField_masked
        +TextField("Text Field", "This is pretty awesome")
        +MaskedTextField("Masked Text Field", "ДД.ММ.ГГГГ")
            //+Button('not example')
