@import "common/variables";

.pageHeader {
  font-size: 20px;
}

.input__wrapper {
  padding: 5px;
}

.container {
  float: left;
  margin: 50px 20px;
}

.buttonsContainer {
  width: 320px;

  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
  justify-items: center;
}

.fourthRow, .fifthRow {
  grid-column: 1 / span 2;
}

.slider:first-child {
  margin-bottom: 20px;
}
