html(lang="ru")
    head
        meta(charset="UTF-8")
        title UI-Kit
    body
        a(href="index.html" class="text_type_label-CTA pageHeader") Вернуться на главную
        br
        hr
        include blocks/Input/Input
        include blocks/twoCalendarRangePicker/twoCalendarRangePicker
        div(class="inputsContainer")
            +Input("Text field", "text", "This is pretty awesome", "", "")
            +Input("Masked Text Field", "text mask", "ДД.ММ.ГГГГ", "", "[0123][0-9].[012][0-9].[0-9]{4}")
            +Input("DatePicker", "datepicker", "ДД.ММ.ГГГГ", "", "")
            +twoCalendarRangePicker()
            +Input("Dropdown", "dropdown medium", "Сколько гостей", "", "", ["Спальни", "Кровати", "Ванные комнаты"])
        hr
        include blocks/Button/Button
        include blocks/Link/Link
        div(class="buttonsContainer")
            +Link("Click Me", "firstRow__button")
            +Link("Click Me", "link_hovered firstRow__button")
            +Button("Click Me", "button_type_filled secondRow__button")
            +Button("Click Me", "button_type_filled button_hovered secondRow__button")
            +Button("Click Me", "button_type_bordered thirdRow__button")
            +Button("Click Me", "button_type_bordered button_hovered thirdRow__button")
            +Button("Click Me", "button_type_filled button_width_wide fourthRow")
            +Button("Click Me", "button_type_bordered button_width_wide fifthRow")
        include blocks/Slider/Slider
        hr
        div(class="slidersContainer")
            +slider(100, 15000, 100, "Range Slider", "", true)
            +slider(0, 10, 1, "Range Slider", "", false)
