html(lang="ru")
    head
        meta(charset="UTF-8")
        title UI-Kit
    body
        a(href="index.html" class="label-CTA") Вернуться на главную
        br
        br
        include blocks/textField/textField
        +textField("Text Field", "This is pretty awesome")
            //+Button('not example')
