@import "common/variables";

.input__wrapper {
  padding: 5px;
}

.buttonsContainer {
  margin-top: 20px;
  width: 320px;

  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
  justify-items: center;
}

.firstRow__button,
.secondRow__button,
.thirdRow__button {
}

.fourthRow, .fifthRow {
  grid-column: 1 / span 2;
}

.slider:first-child {
  margin-bottom: 20px;
}
