body
    a(href="index.html" class="label-CTA") Вернуться на главную
    div(class="inputWrapper")
        include blocks/Input/_type/Input_type_text
    div(class="buttonWrapper")
        include blocks/Button/Button
