body
    a(href="index.html" class="label-CTA") Вернуться на главную
    p(class="input__title label-CTA") Text Field
    include blocks/Input/_type/Input_type_text
    div(class="buttonWrapper")
        include blocks/Button/Button
