include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/title/title

mixin login-card(headingLevel=1, registrationURL='/registration.html')
  form.login-card.js-login-card
    div.login-card__title
      +title({type: 'widget', text: 'Войти', tag: `h${headingLevel}`})
    div.login-card__email-input
      +input({name: 'email', type: 'email', placeholder: 'Email'})
    div.login-card__password-input
      +input({name: 'password', type: 'text', placeholder: 'Пароль'})
    div.login-card__login-button
      +button({text: 'Войти', style: 'filled', decoration: 'enter-arrow', type: 'submit'})
    div.login-card__create-account-container
      span.login-card__no-account-caption Нет аккаунта на Toxin?
      div.login-card__create-account-button
        +button({text: 'Создать', style: 'bordered', link: registrationURL})
