include ../../blocks/input/input
include ../../blocks/button/button

mixin loginCard()
  div.login-card
    h3.login-card__title Войти
    div.login-card__email-input
      +input({type: 'text', placeholder: 'Email'})
    div.login-card__password-input
      +input({type: 'text', placeholder: 'Пароль'})
    div.login-card__login-button
      +button({text: 'Войти', type: 'filled', size: 'wide', decoration: 'enter-arrow'})
    div.login-card__create-account-container
      span.login-card__no-account-caption Нет аккаунта на Toxin?
      div.login-card__create-login-button
        +button({text: 'Создать', type: 'bordered'})
