.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  max-width: 380px;
  padding: 38px 29px 31px 29px;
  background: white;
  border: 1px solid $darkShade12;
  box-shadow: 0 0 25px $darkShade20;
  border-radius: 4px;
  @include boxSizingBorderBox();

  &__title {
    @include text_item-title();
    align-self: stretch;
    margin: 0 0 17px;
    font-size: 24px;
    line-height: 30px;
  }

  &__email-input,
  &__password-input {
    .input__control {
      margin: 0;
    }
  }

  &__email-input {
    margin-bottom: 6px;
  }

  &__password-input {
    margin-bottom: 20px;
  }

  &__login-button {
    margin-bottom: 30px;
  }

  &__create-account-container {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
  }

  &__havent-account {
    @include text_regular();
    color: black;
  }
}

@media (max-width: 380px) {
  .login-card {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;

    &__title {
      text-align: center;
    }

    &__create-account-container {
      justify-content: space-evenly;
    }
  }
}
