mixin addTextInput(tiAttributes, tiClassNames, tiData)
  each value, index in Object.values(tiAttributes)
    - value.class += tiClassNames[index] + "_type_text "
  - tiAttributes.controlAttributes.type = "text"
  div&attributes(tiAttributes.blockAttributes)
    if tiData.title
      label&attributes(tiAttributes.titleAttributes) #{tiData.title}
        br
        div&attributes(tiAttributes.controlWrapperAttrs)
          if tiData.withSubscription
            +enter-arrow()
          input&attributes(tiAttributes.controlAttributes)(value=tiData.data ? tiData.data : "")
    else
      label&attributes(tiAttributes.titleAttributes)
        div&attributes(tiAttributes.controlWrapperAttrs)
          if tiData.withSubscription
            +enter-arrow()
          input&attributes(tiAttributes.controlAttributes)(value=tiData.data ? tiData.data : "")
