@mixin text($font, $fontWeight, $size, $lineHeight, $color, $letterSpacing) {
  font-family: $font, sans-serif;
  font-weight: $fontWeight;
  font-style: normal;
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  vertical-align: middle;
  color: $color;
  text-decoration: none;
}

@mixin minSize($minWidth, $minHeight) {
  min-width: $minWidth;
  min-height: $minHeight;
}

@mixin clearfix() {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin icon() {
  font-family: "Material Icons";
  text-transform: lowercase;
}

@mixin textGradient($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
