@mixin text($font, $fontWeight, $size, $lineHeight, $color, $letterSpacing) {
  font-family: $font, Montserrat, sans-serif;
  font-weight: $fontWeight;
  font-style: normal;
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  vertical-align: middle;
  color: $color;
  text-decoration: none;
}

@mixin clearfix() {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin icon() {
  font-family: "Material Icons", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: lowercase;
  vertical-align: middle;
}

@mixin text-gradient($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin box-sizing-border-box() {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

@mixin text_regular() {
  @include text(Montserrat, normal, $regularTextSize, 14px, $darkShade75, normal);
}

@mixin text_label-CTA() {
  @include text(Montserrat, bold, $labelCTASize, $labelCTAlineHeight, $darkShade100, normal);
  text-transform: uppercase;
}

@mixin text_item-title() {
  @include text(Montserrat, bold, $itemTitleSize, 24px, $darkShade100, normal);
}

@mixin text_widget-title() {
  @include text(Montserrat, bold, $widgetTitleSize, 29px, $darkShade100, normal);
}

@function get-vw($pixels) {
  $vw-context: (1440*.01) * 1px;
  @return ($pixels/$vw-context) * 1vw;
}
