mixin like-button({isChecked=false, count=0} = {})
  label.like-button.js-like-button(data-likes-count=count data-is-checked=`${isChecked}`)
    span.like-button__body
      i.like-button__icon.js-like-button__icon #{isChecked ? 'favorite' : 'favorite_border'}
      span.like-button__text.js-like-button__text #{count}
