$likeButtonSize: 20px;
$likeButtonBorderWidth: 1px;

.like-button {
  @include box-sizing-border-box();

  $block: &;

  display: block;
  border: none;
  outline: none;
  border-radius: $likeButtonSize/2;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  background-color: $darkShade25;
  padding: $likeButtonBorderWidth;

  &__body {
    display: block;
    border-radius: $likeButtonSize/2;
    background-color: white;
    min-width: 40px - 2*$likeButtonBorderWidth;
    line-height: $likeButtonSize - $likeButtonBorderWidth*2;
    padding: 0 8px 0 4px;
  }

  &__icon {
    @include icon();

    color: $darkShade25;
    font-size: $likeButtonSize / 2;
    vertical-align: baseline;
    margin-right: 5px;
  }

  &__text {
    @include text_regular();

    color: $darkShade25;
    font-size: $likeButtonSize / 2;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 8px - 5px - 2*#{$likeButtonBorderWidth});
    line-height: inherit;
  }

  &__hidden-button {
    display: none;
  }

  &_checked {
    background: linear-gradient($purple 0%, $purpleGradientSecond 100%);

    #{$block}__text,
    #{$block}__icon {
      color: $purple;
    }
  }
}
