.ui-kit__cards {
  background-color: #F4F4F6;
  margin-bottom: 100px;
  padding-top: 150px;
  padding-bottom: 140px;
  padding-left: 140px;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: 369px 1.66px 137px 110.5px 247.5px min-content;
  column-gap: 40px;

  .ui-kit__find-room-card {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .ui-kit__booking-card {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .ui-kit__datepicker_inline {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .ui-kit__registration-card {
    margin-top: 41.6px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .ui-kit__login-card {
    margin-top: 43px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  $upperMargin: 39px;
  .ui-kit__room-preview-card {
    margin-top: $upperMargin;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .ui-kit__room-preview-card_dots-only {
    margin-top: $upperMargin + 48px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
