- var fieldDefault = "input some text"
- var fieldTitle = "Text Field"

block Input
	div(class="input__wrapper")
		p(class="input__title label-CTA") #{fieldTitle}
		input(class="input input_type_text regularText" type="text" placeholder=fieldDefault)
