@import "../Input";

.input_type_text:focus, .input:hover {
  color: $darkShade75;
  border-color: $darkShade50;
  outline: 0;
}

.input_type_text::placeholder {
  @include text(inherit, inherit, inherit, inherit, inherit, inherit);
}
.input_type_text:focus::placeholder, .input:hover::placeholder {
  @include text(inherit, inherit, inherit, inherit, $darkShade25, inherit);
}
