@import "../../common/variables";

body {
  margin: 0;
  background-color: #eeeeee;
  align-items: center;
  flex-direction: column;
  @include boxSizingBorderBox();
}

section {
  background-color: #FFFFFF;
  margin: 20px auto;
  width: 1440px;
  min-height: 1350px;
}

.ui-kit__note {
  @include text_item-title();
  text-align: center;
}
