<!DOCTYPE html>
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='keywords' content='UI, kit')
    meta(name='description' content='UI-Kit page')
    link(rel='icon' href=require('../../assets/images/logo-colored.png'))
    title UI-Kit
  body
    main.ui-kit
      div.ui-kit__colors-type
        include ./ui-kit__colors-type/ui-kit__colors-type
      div.ui-kit__form-elements
        include ./ui-kit__form-elements/ui-kit__form-elements
      div.ui-kit__cards
        include ./ui-kit__cards/ui-kit__cards
      H2.ui-kit__note Эта секция (и страницы сайта) будет pixel-perfect при ширине экрана в 1440px, поскольку расположения элементов здесь относительны к ширине вьюпорта
      div.ui-kit__headers-footers
        include ./ui-kit__headers-footers/ui-kit__headers-footers
