<!DOCTYPE html>
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='keywords' content='UI, kit')
    meta(name='description' content='UI-Kit page')
    link(rel='apple-touch-icon' sizes='180x180' href=require('../../assets/favicons/apple-touch-icon.png'))
    link(rel='icon' type='image/png' sizes='32x32' href=require('../../assets/favicons/favicon-32x32.png'))
    link(rel='icon' type='image/png' sizes='16x16' href=require('../../assets/favicons/favicon-16x16.png'))
    link(rel='manifest' href=require('../../assets/favicons/site.webmanifest'))
    title UI-Kit
  body
    main.ui-kit
      h1.ui-kit__heading UI-kit
      div.ui-kit__colors-type
        include ../../page-elements/colors-types/colors-types
        +colors-types()
      div.ui-kit__form-elements
        include ../../page-elements/form-elements/form-elements
        +form-elements()
      div.ui-kit__cards
        include ../../page-elements/cards/cards
        +cards()
      H2.ui-kit__note Эта секция (и страницы сайта) будет pixel-perfect при ширине экрана в 1440px, поскольку расположения элементов здесь относительны к ширине вьюпорта
      div.ui-kit__headers-footers
        include ../../page-elements/headers-footers/headers-footers
        +headers-footers()
