section.ui-kit__cards
  include ../../../cards/find-room-card/find-room-card
  div.ui-kit__find-room-card
    +findRoomCard()
  include ../../../cards/booking-card/booking-card
  -var customers = [{name: "Взрослые", value: 3}, {name: "Дети", value: 0}, {name: "Младенцы", value: 0}]
  +bookingCard({
    roomNumber: "888",
    roomType: "люкс",
    currency: "₽",
    dailyPrice: 9990,
    arrivalDate: "19.08.2019",
    departureDate: "23.08.2019",
    services: [{name: "скидка", cost: -2179}],
    additionalPrice: 300,
    dropdownItems: customers
  })(addClasses = "ui-kit__booking-card")
  include ../../../blocks/input/input
  include ../../../blocks/datepicker-block/datepicker-block
  div.ui-kit__datepicker_inline
    +datepicker({type: "datepicker", width: "medium", isInline: true, placeholder: "ДД.ММ.ГГГГ", data: ["19.08.2019", "23.08.2019"]})
  include ../../../cards/registration-card/registration-card
  div.ui-kit__registration-card
    +registrationCard()
  include ../../../cards/login-card/login-card
  div.ui-kit__login-card
    +loginCard()
  include ../../../cards/room-preview-card/room-preview-card
  div.ui-kit__room-preview-card
    +roomPreviewCard(
      {
        room: {
          roomNumber: "888",
          roomType: "люкс",
          costPerPeriod: 9990,
          currencySymbol: "₽",
          periodText: "в сутки",
          reviewsCount: "145",
          rating: [5, 5],
        },
        carousel: {
          content: [
            {
              tag: "img",
              src: require("../../assets/images/room-mini-1.jpg")
            },
            {
              tag: "img",
              src: require("../../assets/images/room-mini-2.jpg")
            },
            {
              tag: "img",
              src: require("../../assets/images/room-mini-1.jpg")
            },
            {
              tag: "img",
              src: require("../../assets/images/room-mini-2.jpg")
            }],
          carouselParams: {
            "data-arrows": "true",
            "data-dots": "true",
          }
        }
      }
    )
  div.ui-kit__room-preview-card_dots-only
    +roomPreviewCard(
      {
        room: {
          roomNumber: "840",
          costPerPeriod: 9990,
          currencySymbol: "₽",
          periodText: "в сутки",
          reviewsCount: "65",
          rating: [4, 5],
        },
        carousel: {
          content: [
            {
              tag: "img",
              src: require("../../assets/images/room-mini-2.jpg")
            },
            {
              tag: "img",
              src: require("../../assets/images/room-mini-1.jpg")
            },
            {
              tag: "img",
              src: require("../../assets/images/room-mini-2.jpg")
            },
            {
              tag: "img",
              src: require("../../assets/images/room-mini-1.jpg")
            },],
          carouselParams: {
            "data-arrows": "false",
            "data-dots": "true",
          },
        }
      }
    )
