.header {
  $block: &;

  @include box-sizing-border-box();

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 10px 20px $darkShade5;
  width: 100%;
  padding: 15px get-vw(140px);

  @media (max-width: 1100px) {
    padding-right: 0;
    padding-left: 0;
    justify-content: space-evenly;
  }

  @media (max-width: 850px) {
    flex-direction: column;
  }

  &_narrow {
    #{$block}__item:not(#{$block}__item_expandable):not(:last-child) {
      margin-right: get-vw(21px);
    }

    #{$block}__buttons {
      margin-left: get-vw(20px);
    }
  }

  &__logo {
    display: block;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;

    @media (max-width: 850px) {
      flex-direction: column;
    }

    @media (max-width: 450px) {
      width: 100%;
    }
  }

  &__items {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin: 0 0 0 40px;

    @media (max-width: 850px) {
      margin: 10px 0;
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 24px;

    &:not(:last-child) {
      margin-right: get-vw(29px);
    }

    &_expandable:not(:last-child) {
      margin-right: get-vw(20px);
    }

    @media (max-width: 450px) {
      &:not(:last-child) {
        margin: 5px 0;

        &#{$block}__item_expandable {
          margin: 5px 0 5px 12px;
        }
      }
    }
  }

  &__item-link {
    @include text_regular();

    color: $darkShade50;
    text-align: center;
    text-decoration: none;

    &_bold {
      font-weight: bold;
      color: $darkShade75;
    }
  }

  &__expand-button {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    user-select: none;
  }

  &__divider {
    flex-shrink: 0;
    display: block;
    height: 75%;
    margin: 0 get-vw(30px);
    border: solid 1px $darkShade10;

    @media (max-width: 850px) {
      width: 50%;
      height: 0;
      margin: 5px 0;
    }

    @media (max-width: 450px) {
      width: 100%;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &__user-name {
    @include text_regular();

    color: $darkShade50;
  }

  &__buttons {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: get-vw(27px);
    max-width: 50%;

    @media (max-width: 450px) {
      justify-content: center;
      width: 100%;
    }

    @media (max-width: 850px) {
      max-width: 80%;
    }
  }


  &__login-button {
    margin-right: 20px;
  }
}
