mixin simpleFooter(data={})
  footer(class = `footer footer_type_simple`)
    img(src=data.logo alt="logo").footer__logo.footer_type_simple__logo
    span.footer__text.footer_type_simple__text.text_type_regular #{data.text}
    +socialMedia()
