.footer_type_simple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 110px 0;

  &__logo {
    margin-bottom: 18px;
  }

  &__text {
    text-align: center;
    max-width: 560px;
    line-height: 24px;
    margin-bottom: 26px;
  }
}
