mixin simpleFooter(data={})
  footer(class = `footer footer_type_simple ${attributes.addClasses}`)
    img(src=data.logo alt="logo").footer__logo
    span.footer__text.text_type_regular #{data.text}
    +socialMedia()
