@import "../../styleVariables";

.input_decoration_enterArrow {
  .input__title {
    .input__controlWrapper {
      .input__enterArrow {
        @include icon()
        @include textGradient(linear-gradient(180deg, $purple 0%, $purpleGradientSecond 100%));
        display: block;
        width: $inputHeight;
        height: $inputHeight;
        line-height: $inputHeight;
        vertical-align: middle;
        text-align: center;
        position: absolute;
        right: 0;
        user-select: none;
      }
    }
  }
}
