mixin socialMedia()
	div.footer__socialMedia
		a.footer__twitterIcon.footer__icon.fab.fa-twitter(href="https://twitter.com/" target="_blank")
		a.span.footer__facebookIcon.footer__icon.fab.fa-facebook(href="https://facebook.com/" target="_blank")
		a.span.footer__instagramIcon.footer__icon.fab.fa-instagram(href="https://www.instagram.com/" target="_blank")
