section.form-elements
  div.form-elements__top-area
    div.form-elements__basic-inputs
      include ../../../blocks/Input/Input
      include ../../../blocks/twoCalendarRangePicker/twoCalendarRangePicker
      +input("Text field", "text", "Email", "form-elements__text-input")
      +input("Text field", "text", "This is pretty awesome", "input_focused form-elements__focused-text-input", "", "This is pretty awesome")
      +input("Dropdown", "dropdown customers", "Сколько гостей", "form-elements__dropdown", "",
        [{name: "Взрослые", value: 0}, {name: "Дети", value: 0}, {name: "Младенцы", value: 0}])
      +input("Masked Text Field", "mask", "ДД.ММ.ГГГГ", "form-elements__masked-input", "[0123][0-9].[012][0-9].[0-9]{4}")

    div.form-elements__datepickers
      include ../../../blocks/twoCalendarRangePicker/twoCalendarRangePicker
      +twoCalendarRangePicker({secondDate: "19.08.2019", labels: ["date dropdown", "date dropdown"]})
      +input("filter date dropdown", "datepicker medium", "ДД.ММ.ГГГГ", "", "", ["19.08.2019", "23.08.2019"])
      +input("subscription text field", "text medium subscription", "Email")

    div.form-elements__checkboxes-ratings
      include ../../../blocks/Checkbox/Checkbox
      include ../../../blocks/List/list
      -var checkButtons = [{text: "Можно курить"}]
        -checkButtons.push({text: "Можно с питомцами", isChecked: true})
        -checkButtons.push({text: "Можно пригласить гостей (до 10 человек)", isChecked: true})
      +list("checkbox", "Checkbox Buttons", checkButtons, "form-elements__checkboxes")
      -var radioButtons = [{text: "Мужчина", group: "gender", isChecked: true}]
        -radioButtons.push({text: "Женщина", group: "gender", isChecked: false})
      +list("radio", "Radio buttons", radioButtons, "form-elements__radios")
      -var toggleButtons = [{text: "Получать спецпредложения", isChecked: true}]
      -toggleButtons.push({text: "Получать спецпредложения", isChecked: false})
      +list("toggle", "toggle", toggleButtons, "form-elements__toggles")
      div.form-elements__likes
        H2.form-elements__likes-header.text_type_label-CTA Like button
        div.form-elements__likes-body
          +checkbox("2", "like", "", "form-elements__like")
          +checkbox("12", "like", "", "form-elements__like", true)
      div.form-elements__rates
        H2.form-elements__rates-header.text_type_label-CTA rate button
        div.form-elements__rates-body
          include ../../../blocks/RateButton/RateButton
          +rateButton({maxRating: 5, rating: 4})(addClasses = "form-elements__rate")
          +rateButton({maxRating: 5, rating: 5})(addClasses = "form-elements__rate")

    div.form-elements__slider-buttons-pagination
      include ../../../blocks/Slider/Slider
      +slider(0, 16000, 100, "Range slider", "form-elements__slider ", true, [5000, 10000])
      div.form-elements__buttons
        H2.form-elements__buttons-header.text_type_label-CTA buttons
        include ../../../blocks/Button/Button
        div.form-elements__filled-buttons.buttons-row
          +Button("Click Me", "button_type_filled")
          +Button("Click Me", "button_type_filled button_hovered")
        div.form-elements__bordered-buttons.buttons-row
          +Button("Click Me", "button_type_bordered")
          +Button("Click Me", "button_type_bordered button_hovered")
        div.form-elements__text-buttons.buttons-row
          +Button("Click Me", "button_type_text")
          +Button("Click Me", "button_type_text button_hovered")
        +Button("Перейти к оплате", "button_type_filled button_size_wide form-elements__wide-button")(decoration = "enterArrow")
        div.form-elements__pagination
          include ../../../blocks/Pagination/Pagination
          H2.form-elements__pagination-title.text_type_label-CTA pagination
          +pagination(12)
            -var i = 0;
            while i < 151
              div.pagination__item
              -i += 1


  div.form-elements__middle-area
    div.form-elements__dropdowns
      div.form-elements__room-dropdowns
        -var rooms = [{name: "Спальни", value: 2}, {name: "Кровати", value: 2}, {name: "Ванные комнаты", value: 0}];
        +input("Dropdown", "dropdown rooms medium", "Сколько убранства", "form-elements__rooms-dropdown", "",
          rooms)
        +input("Dropdown", "dropdown rooms medium pure opened", "Сколько убранства", "form-elements__rooms-dropdown", "",
          rooms)
      +input("Dropdown", "dropdown customers opened unaccepted", "Сколько гостей", "form-elements__guest-dropdown-unaccepted", "",
        [{name: "Взрослые", value: 0}, {name: "Дети", value: 0}, {name: "Младенцы", value: 0}])
      +input("Dropdown", "dropdown unified customers opened unaccepted", "Сколько гостей", "form-elements__guest-dropdown", "",
        [{name: "Взрослые", value: 2}, {name: "Дети", value: 1}, {name: "Младенцы", value: 0}])
    div.form-elements__lists
      div.form-elements__expandable-lists
        -var checkButtons = [{text: "Завтрак"}, {text: "Письменный стол", isChecked: true},
        -{text: "Стул для кормления", isChecked: true}, {text: "Кроватка", isChecked: true},
        -{text: "Телевизор"}, {text: "Шампунь"}
        -]
        +list("checkbox expandable", "Expandable Checkbox List", checkButtons, "form-elements__expandable-list")
        +list("checkbox expandable opened", "Expandable Checkbox List", checkButtons, "form-elements__expanded-list")

      -var richButtons = [{
      -text: "Широкий коридор", description: "Ширина коридоров в номере \n не менее 91 см."}]
      -richButtons.push({text: "Помощник для инвалидов",
      -description: "На 1 этаже вас встретит специалист \n и проводит до номера."})
      +list("rich", "Rich checkbox buttons", richButtons, "form-elements__rich-list")

      +bulletList(
        "Bullet List",
        ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
      )(addClasses="form-elements__bullet-list")


  div.form-elements__bottom-area
    +featureList([
      {title: "Комфорт", text: "Шумопоглощающие стены", icon: "insert_emoticon"},
      {title: "Удобство", text: "Окно в каждой из спален", icon: "location_city"},
    ])(addClasses = "form-elements__feature-list")
    include ../../../blocks/Comment/Comment
    +comment({
      avatar: require("../../assets/images/userAvatar.jpg"),
      author: "Мурад Сарафанов",
      dateTime: "5 дней назад",
      text: "Великолепный матрас на кровати в основной спальне! " +
        "А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. " +
        "Выкрикивал комплименты повару — никто не жаловался из соседей.",
      likesCount: 12,
      isLiked: true
    })(addClasses="form-elements__comment")
