$cardWidth: 380px;
$borderWidth: 1px;

.find-room-card {
  @include box-sizing-border-box();

  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: $cardWidth;
  box-shadow: 0 0 25px $darkShade20;
  background-color: white;
  border: $borderWidth solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: (40px - $borderWidth) (30px - $borderWidth) (30px - $borderWidth);

  @media (max-width: 380px) {
    padding: 25px 10px;
    border-right: 0;
    border-left: 0;
  }

  &__title {
    margin-bottom: 24px;

    @media (max-width: 380px) {
      text-align: center;
    }
  }

  &__staying-dates-picker {
    margin-bottom: 22px;
  }

  &__guests-dropdown {
    margin-bottom: 30px;
  }

  &__search-button {
    display: flex;
    min-height: 44px;
  }
}
