include  ../../blocks/double-date-picker/double-date-picker
include ../../blocks/dropdown/dropdown
include ../../blocks/button/button
include ../../blocks/title/title

mixin findRoomCard()
  div.js-find-room-card.find-room-card
    div.find-room-card__title
      +title({type: 'widget', text: 'Найдём номера под ваши пожелания'})
    div.find-room-card__staying-dates-picker
      +twoCalendarRangePicker({labels: ['Прибытие', 'Выезд']})
    div.find-room-card__guests-dropdown
      +dropdown({title: 'Гости', dropdownType: 'customers', placeholder: 'Сколько гостей', data: [{name: 'Взрослые'}, {name: 'Дети'}, {name: 'Младенцы'}]})
    div.find-room-card__search-button
      +button({text: 'Подобрать номер', type: 'filled', size: 'wide', decoration: 'enter-arrow'})
