include  ../../blocks/double-date-picker/double-date-picker
include ../../blocks/dropdown/dropdown
include ../../blocks/button/button
include ../../blocks/title/title

mixin find-room-card()
  form.find-room-card.js-find-room-card
    div.find-room-card__title
      +title({type: 'widget', text: 'Найдём номера под ваши пожелания', headerLevel: 2})
    div.find-room-card__staying-dates-picker
      +double-date-picker({firstTitle: 'Прибытие', secondTitle: 'Выезд'})
    div.find-room-card__guests-dropdown
      +dropdown({
        title: 'Гости',
        unifiedCaption: 'гост|ь|я|ей',
        placeholder: 'Сколько гостей',
        data: [
          {name: 'Взрослые'},
          {name: 'Дети'},
          {name: 'Младенцы', isSeparate: true, declinations: 'младен|ец|ца|цев'}
        ]
      })
    div.find-room-card__search-button
      +button({text: 'Подобрать номер', style: 'filled', decoration: 'enter-arrow', type: 'submit'})
