$cardWidth: 380px;
$borderWidth: 1px;

.find-room-card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $cardWidth;
  box-shadow: 0px 0px 25px $darkShade20;
  background-color: white;
  border: $borderWidth solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: (40px - $borderWidth) (30px - $borderWidth) (30px - $borderWidth);
  @include boxSizingBorderBox();

  @media (max-width: 380px) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;
  }

  &__title {
    @include text_widget-title();
    padding: 0;
    letter-spacing: -0.4px;
    margin: 0 0 19px;

    @media (max-width: 380px) {
      text-align: center;
    }
  }

  &__range-picker {
    margin-bottom: 19px;
  }

  &__dropdown {
    margin-bottom: 30px;
  }
}
