include  ../../blocks/two-calendar-range-picker/two-calendar-range-picker
include ../../blocks/input/input
include ../../blocks/dropdown/dropdown
include ../../blocks/button/button

mixin findRoomCard()
  div.find-room-card
    h3.find-room-card__title.text_type_widget-title Найдём номера под ваши пожелания
    div.find-room-card__range-picker
      +twoCalendarRangePicker({labels: ["Прибытие", "Выезд"]})
    div.find-room-card__dropdown
      +dropdown({title: "Гости", dropdownType: "customers", placeholder: "Сколько гостей", data: [{name: "Взрослые"}, {name: "Дети"}, {name: "Младенцы"}]})
    div.find-room-card__button
      +Button({text: "Подобрать номер", type: "filled", size: "wide", decoration: "enter-arrow"})
