include  ../../blocks/double-date-picker/double-date-picker
include ../../blocks/dropdown/dropdown
include ../../blocks/button/button
include ../../blocks/title/title

mixin find-room-card(headerLevel=1)
  form.find-room-card.js-find-room-card
    div.find-room-card__title
      +title({type: 'widget', text: 'Найдём номера под ваши пожелания', tag: `h${headerLevel}`})
    div.find-room-card__staying-dates-picker
      +double-date-picker({names: ['arrival', 'departure'], firstTitle: 'Прибытие', secondTitle: 'Выезд'})
    div.find-room-card__guests-dropdown
      +dropdown({
        name: 'guests',
        title: 'Гости',
        unifiedCaption: 'гост|ь|я|ей',
        placeholder: 'Сколько гостей',
        data: [
          {title: 'Взрослые', name: 'adults'},
          {title: 'Дети', name: 'children'},
          {title: 'Младенцы', name: 'babies', isSeparate: true, declinations: 'младен|ец|ца|цев'}
        ]
      })
    div.find-room-card__search-button
      +button({text: 'Подобрать номер', style: 'filled', decoration: 'enter-arrow', type: 'submit'})
