extends ../page-template

include ../../cards/find-room-card/find-room-card

block options
  -options.keywords = 'landing'
  -options.description = 'landing page'

block content
  div.js-landing-page.landing-page
    div.landing-page__find-room-card
      +findRoomCard()
    span.landing-page__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
