include ../../../blocks/dropdown/dropdown
include ../../../blocks/input/input
include ../../../blocks/double-date-picker/double-date-picker
include ../../../blocks/date-picker/date-picker
include ../../../blocks/checkbox/checkbox
include ../../../blocks/like-button/like-button
include ../../../blocks/radio-button/radio-button
include ../../../blocks/list/list
include ../../../blocks/bullet-list/bullet-list
include ../../../blocks/features-list/features-list
include ../../../blocks/rating/rating
include ../../../blocks/slider/slider
include ../../../blocks/button/button
include ../../../blocks/pagination/pagination
include ../../../blocks/comment/comment
include ../../../blocks/title/title

section.form-elements
  div.form-elements__top-area
    div.form-elements__basic-inputs
      div.form-elements__text-input
        +input({title: 'Text field', type: 'text', placeholder: 'Email'})
      div.form-elements__focused-text-input
        +input({title: 'Text field', type: 'text', placeholder: 'This is pretty awesome', text: 'This is pretty awesome', isFocused: true})
      div.form-elements__dropdown
        +dropdown({title: 'Dropdown', dropdownType: 'customers', placeholder: 'Сколько гостей',
          data: [{name: 'Взрослые', value: 0}, {name: 'Дети', value: 0}, {name: 'Младенцы', value: 0}]})
      div.form-elements__masked-input
        +input({title: 'Masked Text Field', type: 'mask', placeholder: 'ДД.ММ.ГГГГ'})

    div.form-elements__datepickers
      +twoCalendarRangePicker({secondDate: '19.08.2019', labels: ['date dropdown', 'date dropdown']})
      +datepicker({title: 'filter date dropdown', width: 'medium', placeholder: 'ДД.ММ.ГГГГ', data: ['19.08.2019', '23.08.2019']})
      +input({title: 'subscription text field', type: 'text', width: 'medium', withSubscription: true, placeholder: 'Email'})

    div.form-elements__checkboxes-ratings
      -const checkButtons = [{text: 'Можно курить'}]
        -checkButtons.push({text: 'Можно с питомцами', isChecked: true})
        -checkButtons.push({text: 'Можно пригласить гостей (до 10 человек)', isChecked: true})
      div.form-elements__checkboxes
        +list({title: 'Checkbox Buttons', elements: checkButtons})

      div.form-elements__radios
        div.form-elements__radios-title
          +title({type: 'label', text: 'Radio buttons'})
        div.form-elements__radio-button
          +radioButton({text: 'Мужчина', group: 'gender', isChecked: true})
        div.form-elements__radio-button
          +radioButton({text: 'Женщина', group: 'gender', isChecked: false})

      div.form-elements__toggles
        div.form-elements__toggles-title
          +title({type: 'label', text: 'Toggle'})
        div.form-elements__toggle-button
          +checkbox({type: 'toggle', text: 'Получать спецпредложения', isChecked: true})
        div.form-elements__toggle-button
          +checkbox({type: 'toggle', text: 'Получать спецпредложения', isChecked: false})

      div.form-elements__likes
        div.form-elements__likes-header
          +title({type: 'label', text: 'Like button'})
        div.form-elements__likes-body
          div.form-elements__like
            +like({count: '2'})
          div.form-elements__like
            +like({count: '12', isChecked: true})
      div.form-elements__rates
        div.form-elements__rates-header
          +title({type: 'label', text: 'rate button'})
        div.form-elements__rates-body
          div.form-elements__rate
            +rateButton({maxRating: 5, rating: 4})
          div.form-elements__rate
            +rateButton({maxRating: 5, rating: 5})

    div.form-elements__slider-buttons-pagination
      div.form-elements__slider
        +slider({minValue: 0, maxValue: 16000, step: 100, title: 'Range slider', isRange: true, initialValues: [5000, 10000]})
      div.form-elements__buttons
        div.form-elements__buttons-header
          +title({type: 'label', text: 'buttons'})
        div.form-elements__filled-buttons.buttons-row
          +button({text: 'Click Me', type: 'filled'})
          +button({text: 'Click Me', type: 'filled', isHovered: true})
        div.form-elements__bordered-buttons.buttons-row
          +button({text: 'Click Me', type: 'bordered'})
          +button({text: 'Click Me', type: 'bordered', isHovered: true})
        div.form-elements__text-buttons.buttons-row
          +button({text: 'Click Me', type: 'text'})
          +button({text: 'Click Me', type: 'text', isHovered: true})
        div.form-elements__wide-button
          +button({text: 'Перейти к оплате', type: 'filled', size: 'wide', decoration: 'enter-arrow'})
        div.form-elements__pagination
          div.form-elements__pagination-title
            +title({type: 'label', text: 'pagination'})
          +pagination(12)
            -let i = 0;
            while i < 151
              div.pagination__item
              -i += 1

  div.form-elements__middle-area
    div.form-elements__dropdowns
      div.form-elements__room-dropdowns
        -const rooms = [{name: 'Спальни', value: 2}, {name: 'Кровати', value: 2}, {name: 'Ванные комнаты', value: 0}];
        div.form-elements__rooms-dropdown
          +dropdown({title: 'Dropdown', width: 'medium', dropdownType: 'rooms', placeholder: 'Сколько убранства', data: rooms})
        div.form-elements__rooms-dropdown
          +dropdown({title: 'Dropdown', dropdownType: 'rooms', width: 'medium', isPure: true, isOpened: true, placeholder: 'Сколько убранства', data: rooms})
      div.form-elements__guest-dropdown-unaccepted
        +dropdown({title: 'Dropdown', dropdownType: 'customers',  isOpened: true, isUnaccepted: true, placeholder: 'Сколько гостей',
          data: [{name: 'Взрослые', value: 0}, {name: 'Дети', value: 0}, {name: 'Младенцы', value: 0}]})
      div.form-elements__guest-dropdown
        +dropdown({title: 'Dropdown', isUnified: true, dropdownType: 'customers', isOpened: true, isUnaccepted: true, placeholder: 'Сколько гостей',
          data: [{name: 'Взрослые', value: 2}, {name: 'Дети', value: 1}, {name: 'Младенцы', value: 0}]})
    div.form-elements__lists
      div.form-elements__expandable-lists
        -const checkButtonsExpandable = [{text: 'Завтрак'}, {text: 'Письменный стол', isChecked: true},
        -{text: 'Стул для кормления', isChecked: true}, {text: 'Кроватка', isChecked: true},
        -{text: 'Телевизор'}, {text: 'Шампунь'}
        -]
        div.form-elements__expandable-list
          +list({type: 'checkbox', isExpandable: true, title: 'Expandable Checkbox List', elements: checkButtonsExpandable})
        div.form-elements__expanded-list
          +list({type: 'checkbox', isExpandable: true, isOpened: true, title: 'Expandable Checkbox List', elements: checkButtonsExpandable})

      -const richCheckboxes = [{text: 'Широкий коридор', description: 'Ширина коридоров в номере \n не менее 91 см.'}]
      -richCheckboxes.push({text: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист \n и проводит до номера.'})
      div.form-elements__rich-list
        +list({type: 'checkbox', title: 'Rich checkbox buttons', elements: richCheckboxes})

      div.form-elements__bullet-list
        +bulletList({
          title: 'Bullet List',
          contentStrings: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
          }
        )

  div.form-elements__bottom-area
    div.form-elements__feature-list
      +featureList({items: [
        {title: 'Комфорт', text: 'Шумопоглощающие стены', icon: 'insert_emoticon'},
        {title: 'Удобство', text: 'Окно в каждой из спален', icon: 'location_city'},
      ]})
    div.form-elements__comment
      +comment({
        avatar: require('../../assets/images/user-avatar.jpg'),
        author: 'Мурад Сарафанов',
        dateTime: '5 дней назад',
        text: 'Великолепный матрас на кровати в основной спальне! ' +
          'А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. ' +
          'Выкрикивал комплименты повару — никто не жаловался из соседей.',
        likesCount: 12,
        isLiked: true
      })
