.bullet-list {
  max-width: 280px;

  &__title {
    @include text_label-CTA();
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  &__container {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  $textLineHeight: 24px;
  $ellipseSize: 10px;
  &__item-image {
    flex-shrink: 0;
    width: $ellipseSize;
    height: $ellipseSize;
    border-radius: 50%;
    background-color: $darkShade25;
    margin-top: ($textLineHeight - $ellipseSize)/2;
    margin-right: 11px;
  }

  &__item-text {
    @include text_regular();
    max-width: 25ch;
    line-height: $textLineHeight;
  }
}
