include ../title/title
mixin bullet-list({ title = '', strings = [] } = {})
  div.bullet-list
    if title
      div.bullet-list__title
        +title({type: 'label', text: title})
    ul.bullet-list__container
      each string, index in strings
        li.bullet-list__item
          p.bullet-list__item-text #{string}
