include ../title/title
mixin bullet-list({title = '', contentStrings = []} = {})
  div.bullet-list
    if title
      div.bullet-list__title
        +title({type: 'label', text: title})
    ul.bullet-list__container
      each string, index in contentStrings
        li.bullet-list__item
          i.bullet-list__item-image
          p.bullet-list__item-text #{string}
