$backgroundImageHeight: 702px;

.registration-login__header {

}

.registration-login__content {
  position: relative;
  height: $backgroundImageHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .loginCard,
  .registrationCard {
    &.registrationCard {
      margin-top: 4px;
    }
  }

  .registration-login__login-background-image {
    object-fit: cover;
    bottom: 0;
    position: absolute;
    z-index: -1;
    width: get-vw(1440px);
    min-height: $backgroundImageHeight;
    @media (max-width: 1300px) {
      width: 100%;
      object-position: 0;
    }
  }

  &.registration-login__login-container {
    height: get-vw($backgroundImageHeight);
    min-height: 380px;
    max-height: $backgroundImageHeight;

    .registration-login__login-background-image {
      height: 100%;
      min-height: 380px;
    }
  }
}

.registrationLogin__footer.footer_type_large {

}
