if login==="true"
	include ../../Cards/login-card/login-card
	+loginCard()
	img.registration-login__login-background-image(
		src=require("../../assets/images/registrationLogin-background.jpg") alt="backgroundImage")
else
	include ../../Cards/registrationCard/registrationCard
	+registrationCard()
	img.registration-login__login-background-image(
		src=require("../../assets/images/registrationLogin-background.jpg") alt="backgroundImage")
